.rcm-primary-card-body {
    border-top: 5px solid #dc3545;
    border-radius: 13px;
    padding: 20px;
    background-color: #8174747a;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}


.rcm-secondary-card-body {
    background-color: #07498fe8;
    border-bottom: 3px solid #0e0d0d;
    border-radius: 17px 17px 17px 17px;
    padding: 20px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);

}

.rcm-secondary-card-body-total {
    background-color: #bdc3cb;
    border-bottom: 3px solid #aab0b3;
    border-radius: 17px 17px 17px 17px;
    padding: 20px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);

}

.rcm-secondary-card-body-fp {
    background-color: #aab0b380;
    border-bottom: 3px solid #0e0d0d;
    border-radius: 17px 17px 17px 17px;
    padding: 20px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);

}

.rcm-h1 {
    font-size: 3rem;
}

.rcm-h2 {
    font-size: 2.5rem;
}

.rcm-portlet-card-body {
    /* background-color: rgba(241, 216, 184, 0.486); */
    border-top: 5px solid #dc3545;
    border-radius: 20px 20px 5px 5px;

}

.card.rcm-card {
    border-radius: 20px 20px 20px 20px;
}

.rcm-h2-dup {
    font-size: 1.625rem;
    color: #bdc3cb;
}

.rcm-h2-dup-count {
    font-size: 2.5rem;
    color: #bdc3cb;
}

.rcm-secondary-card-body-main {
    background-color: #f9fcff;
    border-bottom: 3px solid #aab0b3;
    border-radius: 17px 17px 17px 17px;
    padding: 3px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);

}

.card.rcm-wf-card {
    border-radius: 20px 20px 20px 20px;
    border: 2px solid black;
}

.rcm-secondary-card-sub-body-head {
    background-color: #d5dee7;
    border: 1px solid black;
    padding: 3rem;
    border-radius: 17px 17px 17px 17px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.rcm-secondary-card-sub-body {
    background-color: #d5dee7;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 17px 17px 17px 17px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);

}

.rcm-sub-text {
    font-size: 1.625rem;
    color: #191b1e;
}

.rcm-secondary-card-sub-body-delivery {
    background-color: #e5d790;
    border: 1px solid black;
    padding: 3rem;
    border-radius: 17px 17px 17px 17px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);

}

.primary-skill-filter-wrapper,
.location-skill-filter-wrapper,
.skill-type-filter-wrapper,
.skill-role-filter-wrapper,
.emtech-skill-filter-wrapper,
.certification-skill-filter-wrapper,
.database-skill-filter-wrapper,
.sbu-skill-filter-wrapper,
.extit-skill-filter-wrapper,
.employee-role-filter-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(16, 143, 187, 0.8);
    z-index: 1;
}

.primary_skill_filter_container,
.location_skill_filter_container,
.skill_type_filter_container,
.skill_role_container,
.emtech_skill_filter_container,
.certification_skill_filter_container,
.database_skill_filter_container,
.sbu_skill_filter_container,
.extit_skill_filter_container,
.employee_role_filter_container {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}