.project_count {text-align: center !important; }
.pm_count{text-align: center !important; }
.team_member_count{text-align: center !important; }
.view_details_btn{text-align: center !important;
    width: 20px;
}

