<odoo>
    <data>
<!--  Top menu item -->
    
    <menuitem name="Lost &amp; Found" id="kw_lost_and_found_menu_root" web_icon="kw_lost_and_found,static/description/icon.png" groups="kw_lost_and_found.lost_and_found_hr_user"/>
    <!-- menu categories -->
    <menuitem name="Add" id="add_lost_and_found_sub_menu" parent="kw_lost_and_found_menu_root" action="kw_lost_and_found_action_window" sequence="1"/>
    <menuitem name="Lost" id="informed_lost_and_found_sub_menu" parent="kw_lost_and_found_menu_root" action="kw_infomrd_lost_and_found_action_window" sequence="2"/>
    <menuitem name="Found" id="hand_over_lost_and_found_sub_menu" parent="kw_lost_and_found_menu_root" action="kw_hand_over_action_window"/>
    <menuitem name="Report" id="report_lost_and_found_sub_menu" parent="kw_lost_and_found_menu_root" action="lost_found_wizard_report_action_window"/>
    <menuitem name="SPOC Master" id="spoc_master_lost_and_found_sub_menu" parent="kw_lost_and_found_menu_root" action="kw_spoc_master_action_window"/>
    <!-- actions -->


    </data>
</odoo>