<odoo>
    <data>
        <!--  App menu  -->

        <menuitem 
            id="kw_project_management_parent_menu"
            name="Project Monitoring" 
            web_icon="kw_project_monitoring,static/description/icon.png"
        />
        <!-- menu categories -->
        <menuitem 
            id="project_monitoring_parent_menu"
            name="Manage Project" 
            sequence="1" 
            parent='kw_project_monitoring.kw_project_management_parent_menu'
        />
        <menuitem 
            id="manage_resource_menu_root"
            name="Manage Resource" 
            sequence="2" 
            parent='kw_project_monitoring.kw_project_management_parent_menu'
        />
        <menuitem 
            id="add_project_member_menu"
            name="Add Resource" 
            sequence="1" 
            action="manage_project_resources_act_window" 
            parent='kw_project_monitoring.manage_resource_menu_root'
        />
        <menuitem 
            id="project_team_info_menu"
            name="Team Info" 
            sequence="2" 
            action="project_team_info_act_window" 
            parent='kw_project_monitoring.manage_resource_menu_root'
        />
        <menuitem 
            id="manage_module_menu"
            name="Manage Module" 
            sequence="3" 
            action="action_kw_project_module_master" 
            parent='kw_project_monitoring.kw_project_management_parent_menu'
        />
        <menuitem 
            id="manage_activity_menu"
            name="Manage Activity" 
            sequence="4" 
            action="manage_project_activity_act_window" 
            parent='kw_project_monitoring.kw_project_management_parent_menu'
        />
        
        <menuitem 
            id="new_projects_menu"
            name="New Projects"
            parent='kw_project_monitoring.project_monitoring_parent_menu'
            action="kw_new_projects_act_window" 
            sequence="1" 
        />
        <menuitem 
            id="my_projects_menu"
            name="My Projects"
            parent='kw_project_monitoring.project_monitoring_parent_menu'
            action="pm_project_management_act_window" 
            sequence="2" 
        />

        <menuitem 
            id="manage_master_menu"
            name="Master" 
            sequence="10" 
            parent='kw_project_monitoring.kw_project_management_parent_menu'
        />

        <menuitem 
            id="life_cycle_master_menu"
            name="Life Cycle" 
            sequence="1" 
            action="action_kw_life_cycle_master" 
            parent='kw_project_monitoring.manage_master_menu'
        />

        <menuitem 
            id="life_cycle_phase_master_menu"
            name="Life Cycle Phase" 
            sequence="2" 
            action="action_kw_life_cycle_phase_master" 
            parent='kw_project_monitoring.manage_master_menu'
        />
        <menuitem 
            id="project_type_master_menu"
            name="Project Type" 
            sequence="3" 
            action="action_kw_project_type_master" 
            parent='kw_project_monitoring.manage_master_menu'
        />
        <menuitem 
            id="task_type_master_menu"
            name="Task Type" 
            sequence="4" 
            action="action_kw_task_type_master" 
            parent='kw_project_monitoring.manage_master_menu'
        />
        <menuitem 
            id="review_type_master_menu"
            name="Review Type" 
            sequence="5" 
            action="action_kw_review_type_master" 
            parent='kw_project_monitoring.manage_master_menu'
        />
        <menuitem 
            id="artifact_info_master_menu"
            name="Artifact Info" 
            sequence="6" 
            action="action_kw_artifact_info_master" 
            parent='kw_project_monitoring.manage_master_menu'
        />

        <menuitem 
            id="risk_category_master_menu"
            name="Risk Category" 
            sequence="7" 
            action="action_project_risk_category" 
            parent='kw_project_monitoring.manage_master_menu'
        />
        <menuitem 
            id="architecture_type_master_menu"
            name="Architecture Type" 
            sequence="8" 
            action="action_project_architecture_type_master" 
            parent='kw_project_monitoring.manage_master_menu'
        />
        <menuitem 
            id="use_case_master_menu"
            name="Use Case Master" 
            sequence="3" 
            action="use_case_master_act_window" 
            parent='kw_project_monitoring.manage_master_menu'
        />
        <menuitem 
            id="domain_master_menu"
            name="Domain Master" 
            sequence="4" 
            action="domain_master_act_window" 
            parent='kw_project_monitoring.manage_master_menu'
        />

        <menuitem 
            id="component_master_menu"
            name="Component Master" 
            sequence="5" 
            action="component_master_act_window" 
            parent='kw_project_monitoring.manage_master_menu'
        />

        <menuitem 
            id="manage_use_case_menu"
            name="Manage Use Cases" 
            sequence="4" 
            action="add_use_cases_act_window" 
            parent='kw_project_monitoring.kw_project_management_parent_menu'
        />
        <menuitem id="menu_effort_estimation" 
            name="Effort Estimation" 
            parent="kw_project_monitoring.kw_project_management_parent_menu" 
            action="action_effort_estimation_total" 
            sequence="5"/>

        <menuitem id="menu_project_milestone" 
            name="Project Milestone" 
            parent="kw_project_monitoring.kw_project_management_parent_menu" 
            sequence="6"/>

        <menuitem id="menu_project_milestone_add" 
            name="Add Milestone" 
            parent="kw_project_monitoring.menu_project_milestone" 
            action="kw_project_milestone_act_window" 
            sequence="1"/>
        
        <menuitem id="menu_project_milestone_view" 
            name="View Milestone" 
            parent="kw_project_monitoring.menu_project_milestone" 
            action="action_kw_project_milestone_wizard" 
            sequence="2"/>

        <menuitem id="menu_component_type_master" 
            name="Component Type Master" 
            parent="kw_project_monitoring.manage_master_menu" 
            action="component_type_master_act_window" 
            sequence="5"/>

        <menuitem id="menu_rido_log_root" 
            name="RIDO Log" 
            parent="kw_project_monitoring.kw_project_management_parent_menu" 
            sequence="6"/>

        <menuitem id="menu_risk_log" 
            name="Risk Log" 
            parent="kw_project_monitoring.menu_rido_log_root" 
            action="action_project_risk_log" 
            sequence="1"/>

        <menuitem id="menu_issue_log" 
            name="Issue Log" 
            parent="kw_project_monitoring.menu_rido_log_root" 
            action="action_project_issue_log" 
            sequence="2"/>

        <menuitem id="menu_dependency_log" 
            name="Dependency Log" 
            parent="kw_project_monitoring.menu_rido_log_root" 
            action="action_project_dependency_log" 
            sequence="3"/>
            
        <menuitem id="menu_opportunity_log" 
            name="Opportunity Log" 
            parent="kw_project_monitoring.menu_rido_log_root" 
            action="action_project_opportunity_log" 
            sequence="4"/>

        <menuitem id="menu_rido_log_report" 
            name="RIDO Log Report" 
            parent="kw_project_monitoring.menu_rido_log_root" 
            sequence="5"/>

        <menuitem id="menu_risk_log_report" 
            name="Risk Log Report" 
            parent="kw_project_monitoring.menu_rido_log_report" 
            action="action_filtered_risk_log_wizard" 
            sequence="1"/>


        <menuitem id="menu_issue_log_report" 
            name="Issue Log Report" 
            parent="kw_project_monitoring.menu_rido_log_report" 
            action="filtered_issue_log_wizard_action" 
            sequence="2"/>


        <menuitem id="menu_dependency_log_report" 
            name="Dependency Log Report" 
            parent="kw_project_monitoring.menu_rido_log_report" 
            action="filtered_dependency_log_wizard_action" 
            sequence="3"/>


        <menuitem id="menu_opportunity_log_report" 
            name="Opportunity Log Report" 
            parent="kw_project_monitoring.menu_rido_log_report" 
            action="filtered_opportunity_log_wizard_action" 
            sequence="4"/>

        <menuitem 
            id="manage_project_configuration_menu"
            name="Project Configuration" 
            sequence="11" 
            parent='kw_project_monitoring.kw_project_management_parent_menu'
        />
        <menuitem id="menu_kw_project_env_info" 
            name="Environment Info" 
            parent="kw_project_monitoring.manage_project_configuration_menu" 
            action="action_kw_project_env_info" 
            sequence="1"/>


        
    </data>
</odoo>