#dashboard_employees_on_tour_block,
#dashboard_managerial_inbox_block,
#dashboard_my_leaves_block,
#dashboard_employee_inbox_block,
#dashboard_ltc_block,
#dashboard_best_wishes_block,
#dashboard_my_tour_block,
#dashboard_my_department_block {height: 400px; overflow-x: hidden; overflow-y: auto;}

#dashboard_employees_on_tour_block::-webkit-scrollbar,
#dashboard_loan_block::-webkit-scrollbar ,
#dashboard_managerial_inbox_block::-webkit-scrollbar ,
#dashboard_my_leaves_block::-webkit-scrollbar,
#dashboard_employee_inbox_block::-webkit-scrollbar,
#dashboard_ltc_block::-webkit-scrollbar,
#dashboard_best_wishes_block::-webkit-scrollbar,
#dashboard_my_tour_block::-webkit-scrollbar,
#dashboard_my_department_block::-webkit-scrollbar{
    width: 0.5em;
    background-color: #F5F5F5;
}

#dashboard_employees_on_tour_block::-webkit-scrollbar-track,
#dashboard_loan_block::-webkit-scrollbar-track,
#dashboard_managerial_inbox_block::-webkit-scrollbar-track ,
#dashboard_my_leaves_block::-webkit-scrollbar-track,
#dashboard_employee_inbox_block::-webkit-scrollbar-track,
#dashboard_ltc_block::-webkit-scrollbar-track,
#dashboard_best_wishes_block::-webkit-scrollbar-track,
#dashboard_my_tour_block::-webkit-scrollbar-track,
#dashboard_my_department_block::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    border-radius: 10px;
    background-color: #fff;
}

#dashboard_employees_on_tour_block::-webkit-scrollbar-thumb,
#dashboard_loan_block::-webkit-scrollbar-thumb,
#dashboard_managerial_inbox_block::-webkit-scrollbar-thumb ,
#dashboard_my_leaves_block::-webkit-scrollbar-thumb,
#dashboard_employee_inbox_block::-webkit-scrollbar-thumb,
#dashboard_ltc_block::-webkit-scrollbar-thumb,
#dashboard_best_wishes_block::-webkit-scrollbar-thumb,
#dashboard_my_tour_block::-webkit-scrollbar-thumb,
#dashboard_my_department_block::-webkit-scrollbar-thumb{
    background-color: #ddd;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#dashboard_new_joinee_block,#dashboard_my_reimbursement_block,#dashboard_employees_on_leave_block,#dashboard_loan_block,#dashboard_efile_block {
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}

#dashboard_new_joinee_block::-webkit-scrollbar,#dashboard_my_reimbursement_block::-webkit-scrollbar,#dashboard_employees_on_leave_block::-webkit-scrollbar,#dashboard_efile_block::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
}

#dashboard_new_joinee_block::-webkit-scrollbar-track,#dashboard_my_reimbursement_block::-webkit-scrollbar-track,#dashboard_employees_on_leave_block::-webkit-scrollbar-track,#dashboard_efile_block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    border-radius: 10px;
    background-color: #fff;
}

#dashboard_new_joinee_block::-webkit-scrollbar-thumb,#dashboard_my_reimbursement_block::-webkit-scrollbar-thumb,#dashboard_employees_on_leave_block::-webkit-scrollbar-thumb,#dashboard_efile_block::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.employee-filter-wrapper,.holiday-calendar-filter-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(16, 143, 187, 0.8);
    z-index: 1;
}
.employee_filter_container,.holiday_filter_container{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#branch-select, #department-select,#emp_search, #filter-appraisal,#years-select,#months-select{
    border:0;
    border-bottom: 2px solid #4198fb;
}

.icon-container {
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.btn-portlet::after {
    display: none;
}

.portlet_options::after {
    display: none;
}

.btn.portlet-option-button {
    background-color: transparent;
}

.btn.portlet-option-button:focus {
    box-shadow: none;
}

.portlet_options {
    cursor: pointer;
}

.boxes {
    display: block;
    padding: 10px;
}

.boxes input {
padding: 0;
height: initial;
width: initial;
margin-bottom: 0;
display: none;
cursor: pointer;
}

.boxes label {
position: relative;
cursor: pointer;
}

.boxes label:before {
content:'';
-webkit-appearance: none;
background-color: transparent;
border: 2px solid #98a0a8;
border-radius: 50%;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
padding: 10px;
display: inline-block;
position: relative;
vertical-align: middle;
cursor: pointer;
margin-right: 5px;
}

.boxes input:checked + label:after {
content: '';
display: block;
position: absolute;
top: 6px;
left: 9px;
width: 6px;
height: 10px;
border: solid #4198fb;
border-width: 0 2px 2px 0;
transform: rotate(45deg);
}
.dashboard_ninja_container {
    background-color: #ebe8e8;
    min-height: calc(100vh - 46px);
}

.card.stpi_dashboard_portlet {
    border-radius: 7px;
    background-color: #fff;
    overflow: hidden !important;
}

.card.stpi_dashboard_portlet:hover {
    cursor: pointer;
    box-shadow: 10px 10px 7px rgb(0 0 0 / 15%);
    transition: all 0.5s ease;
}

.card.stpi_portlet {
    border: 0;
}

.dashboard-button.btn-outline-primary {
    color: #4198fb;
    border-radius: 10px;
    background-color: transparent;
    background-image: none;
    border-color: #4198fb;
    border: 2px solid #4198fb;
}

.dashboard-button.btn-outline-primary:hover, .dashboard-button.btn-outline-primary:not(:disabled):not(.disabled):active, .dashboard-button.btn-outline-primary.active-dashboard-button {
    color: #fff;
    background-color: #4198fb;
    border-color: #4198fb;
}

.card.empcard {
    border: 0;
    border-bottom: 1px solid #e9ecef;
}
.birthday-img-employee{
    height: 45px !important;
    width: 45px !important;
    border-radius: 50%;
    border:2px solid #4198fb;
    cursor: pointer;
}
.img-employee {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
}
.emi-card{
    background-color: #ddd;
}
.emp-name, .heading-name {
    color: #4198fb;
    font-weight: 700;
}
.second-heading-name{ color: #f46d6e;}
.emp-designation {
    font-size: 11px;
    color: gray;
    font-weight: 600;
}
.year-of-service-circle {
    position: absolute;
    top: 0px;
    right: -12px;
    padding: 4px 5px;
    font-size: 11px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #ffc435;
  }
.caretImage{ width: 4px; height: 7px; position: absolute;}
.leave-count {
    background: #fff;
    border: 1px solid #ccc;
    height: 15px;
    padding: 0px 6px;
    margin-left:4px;
    border-radius: 4px;
    font-size: 12px;
    color: #696868;
}

.portlets.o_view_nocontent {
    position: inherit;
    top: 20%;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 1;
}

.bi-dashboard-item-content { height: 559px !important; max-height: 559px !important; padding: 0; margin: 0; }
.bi-dashboard-item-content .stpi_dashboard_portlet { left:0 !important; right: 0 !important;}

.nav-tabs .nav-link.loan-tabs.active, .nav-tabs .nav-link.efile-tabs.active, .nav-tabs .nav-link.leave-tabs.active, .nav-tabs .nav-link.reimbursement-tabs.active, .nav-tabs .nav-link.appraisal-tabs.active, .nav-tabs .nav-item.show .nav-link {
    border: 0;
    border-bottom: 5px solid #4198fb;
}

.nav-tabs .nav-link.leave-tabs:hover,.nav-tabs .nav-link.reimbursement-tabs:hover, .nav-tabs .nav-link.loan-tabs:hover, .nav-tabs .nav-link.efile-tabs:hover,
.nav-tabs .nav-link.leave-tabs:focus, .nav-tabs .nav-link.reimbursement-tabs:focus, .nav-tabs .nav-link.loan-tabs:focus, .nav-tabs .nav-link.efile-tabs:focus {
    border: 0;
    border-bottom: 5px solid #4198fb;
}

.reimbursement-card{ background-color: #D6EBFF; border-radius: 0.5rem; border: 2px solid #4198fb;}
.loan-id-alert{
    color: #000;
    font-weight: 700;
    background-color: #fff;
    border-color: #4198fb;
    border-left: 5px solid #4198fb;;
}

.employee-inbox-card { border:0; border-bottom: 1px solid #ddd; }
.text-primary{ color: #4198fb !important;}


.loan-card,.mangerial-inbox-card {border-radius: 0.5rem; box-shadow: 3px 3px 1px rgb(0 0 0 / 10%);}
.emi-block {height:25px;background-color: #fff; margin-bottom: 5px; min-width:25px; margin: 0 2px 5px 2px; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 50%; text-align: center; line-height: 23px;}
#emi-paid{ background-color: #00A09D; color: white;}

.tooltip.dashboard-tooltip > .tooltip-inner {background-color: rgba(0,0,0,0.9); color: #fff; border-radius: 5px; font-weight:700; box-shadow: inset 0 0 0 2px rgb(0, 0, 0); font-size: 13px; padding:10px;}
.tooltip.dashboard-tooltip > .tooltip-arrow { border-bottom-color:#137bb5; }

.amount{color:#00A09D; }
.third-color{ color: #ffc435;}

.color-block.color-block-today {
    height: 15px;
    width: 15px;
    background-color: #4198fb;
}

.color-block.gh-holiday {
    height: 15px;
    width: 15px;
    background-color: #d83d2b;
}

.color-block.rh-holiday {
    height: 15px;
    width: 15px;
    background-color: #00A09D;
}

.color-block.weekoff {
    height: 15px;
    width: 15px;
    background-color: #F5BB00;
}
.birthday, .year-of-service{ background-color: #ffc435; border-top-left-radius: 0.5rem; border-bottom-left-radius: 0.5rem;}