.holiday-calender .ui-datepicker, 
.present_calendar .ui-datepicker, 
.absent_calendar .ui-datepicker, 
.leave_calendar .ui-datepicker,
.late_entry_calendar .ui-datepicker{
    width: 100% !important;
}

.holiday-calender .ui-widget,
.present_calendar .ui-widget, 
.absent_calendar .ui-widget, 
.leave_calendar .ui-widget,
.late_entry_calendar .ui-widget {
    font-size: 1.19rem;
}

.holiday-calender .ui-widget-header,
.present_calendar .ui-widget-header,
.absent_calendar .ui-widget-header,
.leave_calendar .ui-widget-header,
.late_entry_calendar .ui-widget-header {
    border: none;
    background: transparent;
}

.holiday-calender .ui-datepicker th {
    padding: 0.8rem;
    text-align: center;
    font-weight: bold;
    background-color: #f1f1f1;
    border: 2px solid #ddd;
}

.present_calendar .ui-datepicker th,
.absent_calendar .ui-datepicker th,
.leave_calendar .ui-datepicker th,
.late_entry_calendar .ui-datepicker th {
    text-align: center;
    font-weight: bold;
    border: 0;
}
.present_calendar .ui-datepicker-prev,
.absent_calendar .ui-datepicker-prev,
.leave_calendar .ui-datepicker-prev,
.late_entry_calendar .ui-datepicker-prev {
    display: none;
}

.present_calendar .ui-datepicker-next,
.absent_calendar .ui-datepicker-next,
.leave_calendar .ui-datepicker-next,
.late_entry_calendar .ui-datepicker-next {
    display: none;
}

.holiday-calender a.ui-datepicker-prev-hover {
    background: transparent;
    border: none;
}

.holiday-calender a.ui-datepicker-next-hover {
    background: transparent;
    border: none;
}

.holiday-calender .ui-datepicker .ui-datepicker-title,
.present_calendar .ui-datepicker .ui-datepicker-title,
.absent_calendar .ui-datepicker .ui-datepicker-title,
.leave_calendar .ui-datepicker .ui-datepicker-title,
.late_entry_calendar .ui-datepicker .ui-datepicker-title{
    display: block;
    padding: 0.5rem 0;
}

.holiday-calender .ui-widget-content ,
.present_calendar .ui-widget-content ,
.absent_calendar .ui-widget-content ,
.leave_calendar .ui-widget-content ,
.late_entry_calendar .ui-widget-content {
    border: none;
}

.holiday-calender .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    background: transparent;
}

.holiday-calender .ui-datepicker td span, .ui-datepicker td a
{
    display: block;
    padding: 0.5em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.present_calendar .ui-datepicker td span, .ui-datepicker td a,
.absent_calendar .ui-datepicker td span, .ui-datepicker td a,
.leave_calendar .ui-datepicker td span, .ui-datepicker td a,
.late_entry_calendar .ui-datepicker td span, .ui-datepicker td a{
    display: block;
    padding: 0.5em 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.holiday-calender .ui-state-disabled,
.present_calendar .ui-state-disabled,
.absent_calendar .ui-state-disabled,
.leave_calendar .ui-state-disabled,
.late_entry_calendar .ui-state-disabled, .ui-datepicker td {
    opacity: 1;
    border: 2px solid #ddd;
}

.holiday-calender .ui-datepicker-today {
    background-color: #4198fb;
    position: relative;
}


.holiday-calender .ui-datepicker-today::before {
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #dee2e6;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.holiday-calender .ui-datepicker-today span {
    color: #fff;
    font-weight: 700;
}

.holiday-calender .kwantify_fixed_holiday {
    background-color: #d83d2b;
    position: relative;
}

.holiday-calender .kwantify_fixed_holiday::before {
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #dee2e6;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.holiday-calender .kwantify_fixed_holiday span {
    color: #fff;
    font-weight: 700;
}

.holiday-calender .stpi_gh_holiday span {
    color: #fff;
    font-weight: 700;
}

.holiday-calender .stpi_gh_holiday {
    background-color: #d83d2b;
    position: relative;
}

.holiday-calender .stpi_gh_holiday::before {
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #dee2e6;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.holiday-calender .stpi_rh_holiday span {
    color: #fff;
    font-weight: 700;
}

.holiday-calender .stpi_rh_holiday {
    background-color: #00A09D;
    position: relative;
}

.holiday-calender .stpi_rh_holiday::before {
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #dee2e6;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.holiday-calender .stpi_weekoff_holiday span {
    color: #fff;
    font-weight: 700;
}

.holiday-calender .stpi_weekoff_holiday {
    background-color: #ffc107;
    position: relative;
}

.holiday-calender .stpi_weekoff_holiday::before {
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #dee2e6;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.holiday-calender .kwantify_rosterworking__holiday span {
    color: #fff;
    font-weight: 700;
}

.holiday-calender .kwantify_rosterworking__holiday {
    background-color: rgb(216, 61, 43);
    background-image: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) 2px, transparent 5px, transparent 4px);
    border-radius: 0px;
    position: relative;
}

.holiday-calender .kwantify_rosterworking__holiday::before {
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #dee2e6;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.present_calendar .attendance_present {
    background-color: #28a745;
    color: white;
    font-weight: 700;
    position: relative;
}

.absent_calendar .attendance_absent {
    background-color: #ff9800;
    font-weight: 700;
    position: relative;
}

.leave_calendar .attendance_leave {
    background-color:#108fbb;
    font-weight: 700;
    position: relative;
}

.late_entry_calendar .attendance_late_entry {
    background-color:#ffc107;
    font-weight: 700;
    position: relative;
}
.tooltip.dashboard-tooltip > .tooltip-inner {background-color: rgba(0,0,0,0.9); color: #fff; border-radius: 5px; font-weight:700; box-shadow: inset 0 0 0 2px rgb(0, 0, 0); font-size: 13px; padding:10px;}
.tooltip.dashboard-tooltip > .tooltip-arrow { border-bottom-color:#137bb5; }

/* .tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.5em;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    font-size: 12px;
    opacity: 0;
  }
  .tooltip.in {
    opacity: 0.9;
  }
  .tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
  }
  .tooltip.right {
    padding: 0 5px;
    margin-left: 3px;
  }
  .tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
  }
  .tooltip.left {
    padding: 0 5px;
    margin-left: -3px;
  }
  .tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #137bb5;
    border-radius: 4px;
  }
  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }
  .tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #137bb5;
  }
  .tooltip.top-left .tooltip-arrow {
    right: 5px;
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #137bb5;
  }
  .tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #137bb5;
  }
  .tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #137bb5;
  }
  .tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #137bb5;
  }
  .tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #137bb5;
  }
  .tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #137bb5;
  }
  .tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #137bb5;
  } */
/* .holiday-calender .ui-widget-header .ui-icon { background-image: none;} */