<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>  
        <!-- self -->
        <record id="kw_kwanify_action_window" model="ir.actions.act_url">
            <field name="name">Kwantify V5</field>
            <field name="type">ir.actions.act_url</field>
            <field name="target">new</field>
            <field name="url">/auto-login-kwantify/</field>
        </record>

        <menuitem action="kw_kwanify_action_window"
                  name="Tendrils V5"
                  id="kw_kwanify_parent_menu"
                  web_icon="kwantify,static/description/icon.png"
                  sequence="1"/>

    </data>
</odoo>