<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_hr_declaration_main"
            name="IT Declaration"
            web_icon="tds,static/description/icon.png" sequence='32' groups="tds.group_user_hr_declaration"/>

        <menuitem id="menu_hr_declaration_id"
            name="Finance" parent="menu_hr_declaration_main" />

        <menuitem id="hr_declaration_pending_menu_id"
            name="Pending Approvals"
            parent="menu_hr_declaration_id"
            action="hr_declaration_pending_action" sequence="3"
            groups="tds.group_manager_hr_declaration" />

        <menuitem id="my_declarations_view_my_tax_menu_id"
            name="My Tax"
            parent="menu_hr_declaration_main"
            sequence="10" />

        <menuitem id="my_decalration_menu_act"
            name="My Tax Computation"
            parent="my_declarations_view_my_tax_menu_id"
            action="user_compute_tax_view_tds_action" sequence="2" />

        <menuitem id="my_declarations_view_form_16_menu_id"
            name="Form-16"
            parent="my_declarations_view_my_tax_menu_id"
            action="user_form_16_view_tds_action"
            sequence="15" />


        <menuitem name="Configuration" id="menu_hr_declaration_configuration"
            parent="menu_hr_declaration_main" sequence="100"
            groups="tds.group_manager_hr_declaration" />

        <menuitem id="hr_declaration_saving_master_menu_id"
            name="Savings Master"
            parent="menu_hr_declaration_configuration"
            action="hr_declaration_saving_master_action" />

        <menuitem id="hr_declaration_it_rule_menu_id"
            name="IT Rule"
            parent="menu_hr_declaration_configuration"
            action="hr_declaration_it_rule_action" />

        <menuitem id="report_action"
            name="Report"
            parent="menu_hr_declaration_main" sequence="11"
            groups="tds.group_report_manager_declaration" />
       

        <menuitem id="menu_tax_slab_configuration_id"
            name="Tax Rate Master"
            parent="tds.menu_hr_declaration_configuration"
            action="tax_slab_action_view"
        />
        <menuitem id="menu_tax_cess_configuration_id"
            name="Cess Master"
            parent="tds.menu_hr_declaration_configuration"
            action="tax_cess_action_view"
        />
        <menuitem id="menu_tax_surcharge_configuration_id"
            name="Surcharge Master"
            parent="tds.menu_hr_declaration_configuration"
            action="tax_surcharge_action_view"
        />
        <menuitem id="hra_configurayion_menu"
            name="HRA Configuration"
            parent="menu_hr_declaration_configuration"
            action="city_wise_hra_config_master_action" sequence="3" />
            
        <menuitem id="tds_amount_config_action_menu"
            name="Amount Configuration"
            parent="menu_hr_declaration_configuration"
            action="tds_amount_config_action" sequence="4" />
    </data>
</odoo>