.see_details {
  background-color: rgb(38, 138, 185);
  border: none;
  color: white;
  /* padding: 12px 16px; */
  cursor: pointer;
}

/* Darker background on mouse-over */
.see_details:hover {
  background-color:rgb(196, 52, 20);
}
.tds_page{
  background-color:  #d1d1e0


  ;
}
.regular {text-align: center !important; background-color: #a3a3e5;}
.salary_head{text-align: center !important; background-color: #b9b962;}
.exemption{text-align: center !important; background-color: #acd3bd;}
.deduction{text-align: center !important; background-color: #ffe6e6;}
.declaration{text-align: center !important; background-color: #e6fffa;}
.finals{text-align: center !important; background-color: #e0e0d1;}


