<odoo>
    <data>

        <!-- Top menu item -->

        <menuitem name="Guest House" id="kw_guest_house_master_menu_root" web_icon="kw_guest_house,static/description/icon.png" groups="kw_guest_house.guest_house_user_group"/>
    

        <menuitem name="Booking" id="kw_guest_house_booking_sub_menu" parent="kw_guest_house_master_menu_root" groups="kw_guest_house.guest_house_user_group" sequence="1"/>
        
        <menuitem name="Apply" id="kw_apply_sub_menu" parent="kw_guest_house_booking_sub_menu"
                action="apply_server_actions_window" sequence="1" groups="kw_guest_house.guest_house_user_group"/>

        <menuitem name="Take Action" id="kw_take_action_manager_sub_menu" parent="kw_guest_house_booking_sub_menu"
                action="take_action_window" sequence="2" groups="kw_guest_house.guest_house_user_group"/>


        <menuitem name="Feedback" id="kw_house_master_feedback_sub_menu" parent="kw_guest_house_master_menu_root"
                action="kw_house_master_feedback_action_window" groups="kw_guest_house.guest_house_user_group" sequence="2"/>


        <menuitem name="Report" id="kw_guest_house_master_menu_2" parent="kw_guest_house_master_menu_root" groups="kw_guest_house.guest_house_manager_group" sequence="3"/>

        <menuitem name="Guest House Report" id="kw_guest_house_report_sub_menu" parent="kw_guest_house_master_menu_2"
                action="kw_guest_house_report_action_window" groups="kw_guest_house.guest_house_manager_group"/>

        <menuitem name="Booking Report" id="kw_guest_house_booking_report_sub_menu" parent="kw_guest_house_master_menu_2"
                action="kw_guest_house_booking_report_action_window" groups="kw_guest_house.guest_house_manager_group"/>


        <menuitem name="Configuration" id="kw_guest_house_master_menu_1" parent="kw_guest_house_master_menu_root" groups="kw_guest_house.guest_house_manager_group" sequence="4"/>
        
        <menuitem name="Guest House Master" id="kw_guest_house_master_master_sub_menu" parent="kw_guest_house_master_menu_1"
                action="kw_guest_house_master_action_window" groups="kw_guest_house.guest_house_manager_group"/>

        <menuitem name="Facilities Master" id="kw_facilities_master_action_window_sub_menu" parent="kw_guest_house_master_menu_1"
                action="kw_facilities_master_action_window" groups="kw_guest_house.guest_house_manager_group"/>

    </data>
</odoo>