<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<data>

		<menuitem name="Employee Candid Images" id="kw_employee_social_image_id"/>

		<menuitem name="Image" id="kw_employee_social_image" parent="kw_employee_social_image_id"
		          action='kw_employee_social_image_action_window'/>
		<menuitem name="Sync Status" id="kw_employee_social_sync" parent="kw_employee_social_image_id"
		          action='kw_employee_social_sync_action_window'/>
		<menuitem name="Notification" id="kw_employee_social_notify" parent="kw_employee_social_image_id"
		          action='kw_employee_social_notify_action_window'/>

	</data>
</odoo>