<?xml version="1.0" encoding="utf-8"?>
<odoo>
     <record id="res_config_settings_view_form_mrf_extended" model="ir.ui.view">
        <field name="name">res.config.settings.view</field>
        <field name="model">res.config.settings</field>
        <field name="inherit_id" ref="hr_recruitment.res_config_settings_view_form" />
        <field name="arch" type="xml">
            <xpath expr="//div[@name='recruitment_process_div']" position="after">
                <h2>Manpower Requisition</h2>
                <div class="row mt16 o_settings_container"  >
                    <div class="col-12 col-lg-6 o_setting_box" title="These taxes are set in any new product created.">
                        <div class="o_setting_left_pane"/>
                        <div class="o_setting_right_pane">
                            <div class="content-group">
                                <div class="row ">
                                    <label string="CEO Office Employees" for="employee_first_level_ids" class="col-lg-5"/>
                                    <field name="employee_first_level_ids" widget="many2many_tags" options="{'no_edit': True,'no_create':True, 'no_open': True}"/>
                                </div>
                                <div class="row " invisible='1'>
                                    <label string="First Level Approval" for="first_level_approver_ids" class="col-lg-5"/>
                                    <field name="first_level_approver_ids" widget="many2many_tags" options="{'no_edit': True,'no_create':True, 'no_open': True}"/>
                                </div>
                                <div class="row">
                                    <label string="CEO" for="second_level_approver_ids" class="col-lg-5"/>
                                    <field name="second_level_approver_ids" widget="many2many_tags" options="{'no_edit': True,'no_create':True, 'no_open': True}"/>
                                </div>
                                <div class="row">
                                    <label string="TAG Head" for="tag_head" class="col-lg-5"/>
                                    <field name="tag_head" widget="many2many_tags" options="{'no_edit': True,'no_create':True, 'no_open': True}"/>
                                </div>
                                <div class="row">
                                    <label string="RCM Head" for="rcm_head" class="col-lg-5"/>
                                    <field name="rcm_head" widget="many2many_tags" options="{'no_edit': True,'no_create':True, 'no_open': True}"/>
                                </div>
                                <div class="row">
                                    <label string="TAG Managers" for="approval_ids" class="col-lg-5"/>
                                    <field name="approval_ids" widget="many2many_tags" options="{'no_edit': True,'no_create':True, 'no_open': True}"/>
                                    
                                </div>
                                <div class="text-muted">
                                    Employee Role and Category Updation notification Email will be sent to them.
                                </div>
                                <div class="row">
                                    <label string="TAG CC Email" for="notify_cc_ids" class="col-lg-5"/>
                                    <field name="notify_cc_ids" widget="many2many_tags" options="{'no_edit': True,'no_create':True, 'no_open': True}"/>
                                </div>
                                <div class="text-muted">
                                     Employee Role and Category Updation notification Email CC will be sent to them..
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </xpath>
            <xpath expr="//div[@name='recruitment_process_div']" position="inside">
                <div class="col-12 col-lg-6 o_setting_box o_responsible">
                    <div class="o_setting_left_pane">

                    </div>
                    <div class="o_setting_right_pane">
                         <label string="HR Responsible" for="user_id" class="col-lg-5"/>
                         <field name="user_id"  options="{'no_edit': True,'no_create':True, 'no_open': True}"/>
                    </div>

                </div>
                <div class="col-12 col-lg-6 o_setting_box o_responsible">
                    <div class="o_setting_left_pane">
                        <field name="interview_feedback_check"/>
                    </div>
                    <div class="o_setting_right_pane">
                        <label string="Interview Feedback Check" for="interview_feedback_check"/>
                        <div class="text-muted">
                            Interview Feedback Check will enable the pending interview feedback
                            submit screen to panel member after login and attendance is done.
                        </div>
                    </div>
                    <div class="o_setting_right_pane">
                        <label string="Check Interview Feedback Date From" for="interview_feedback_date"/>
                        <field name="interview_feedback_date"/>
                    </div>
                    <div class="o_setting_left_pane">
                        <field name="employee_jd_check"/>
                    </div>
                    <div class="o_setting_right_pane">
                        <label string="Employee JD Check" for="employee_jd_check"/>
                        <!-- <div class="text-muted">
                            Interview Feedback Check will enable the pending interview feedback
                            submit screen to panel member after login and attendance is done.
                        </div> -->
                    </div>
                </div>
            </xpath>
        </field>
    </record>

</odoo>
