// Colors
$o-community-color: hsl(236, 76%, 50%);
$o-enterprise-color: #0c2636;
$o-enterprise-primary-color: #0c2636;

$o-brand-odoo: $o-enterprise-color;
$o-brand-primary: $o-enterprise-primary-color;