<?xml version="1.0" encoding="utf-8"?>
<odoo>
        
        <menuitem parent="hr_recruitment.menu_hr_recruitment_root" 
                sequence="4" id="kw_recruitment_calendar_menu"
                name="Recruitment Calendar" 
                groups="kw_recruitment_calendar.group_kw_calendar_user,hr_recruitment.group_hr_recruitment_manager,kw_recruitment.group_tag_budget_user,kw_recruitment.group_hr_recruitment_accounts,kw_recruitment.group_kw_budget_report_manager"/>
        
        <menuitem parent="kw_recruitment_calendar_menu" 
                sequence="1" id="kw_recruitment_calendar_plan_menu"
                name="Calendar" 
                action="action_kw_recruitment_positions" 
                groups="kw_recruitment_calendar.group_kw_calendar_user,hr_recruitment.group_hr_recruitment_manager,kw_recruitment.group_kw_budget_report_manager"/>
        
        <menuitem parent="kw_recruitment_calendar_menu" id="calendar_take_action_menu"
                name="Take Action"
                action="action_kw_recruitment_positions_take_action" sequence="2" groups="kw_recruitment.group_tag_budget_user,kw_recruitment.group_rcm_head_user"/>
        
                
        <menuitem parent="kw_recruitment_calendar_menu" id="calendar_summery_report_menu"
                name="Calendar Summary Report"
                action="calendar_summary_report_action" sequence="3" groups="hr_recruitment.group_hr_recruitment_manager,kw_recruitment.group_hr_recruitment_accounts,kw_recruitment.group_kw_budget_report_manager,kw_recruitment.group_tag_budget_user,kw_recruitment.group_rcm_head_user"/>
        
        <menuitem parent="hr_recruitment.menu_hr_recruitment_root" 
            sequence="5" id="kw_recruitment_budget_menu"
            name="Budget" 
            groups="kw_recruitment_calendar.group_kw_calendar_user,kw_recruitment.group_rcm_head_user,hr_recruitment.group_hr_recruitment_manager,kw_recruitment.group_hr_recruitment_accounts,kw_recruitment.group_kw_budget_report_manager"/>


    <menuitem parent="kw_recruitment_budget_menu" 
            sequence="1" id="kw_recruitment_treasury_budget_sub_menu"
            name="Treasury Budget"
            groups="hr_recruitment.group_hr_recruitment_manager,kw_recruitment.group_hr_recruitment_accounts,kw_recruitment.group_kw_budget_report_manager,kw_wfh.group_hr_hod,kw_recruitment.group_tag_budget_user,kw_recruitment.group_rcm_head_user"/>
    

    <menuitem parent="kw_recruitment_treasury_budget_sub_menu" 
                sequence="4" id="kw_recruitment_budget_take_action_menu"
                name="Take Action" 
                action="kw_recruitment_budget_lines_take_action" 
                groups="kw_recruitment.group_tag_budget_user"/>

    <menuitem parent="hr_recruitment.report_hr_recruitment" 
                id="calendar_summery_report_menu_report"
                name="Recruitment Calendar Summary Report"
                action="action_calendar_summary_report" sequence="99" 
                groups="hr_recruitment.group_hr_recruitment_manager,kw_recruitment.group_hr_recruitment_accounts,kw_recruitment.group_kw_budget_report_manager,kw_recruitment.group_tag_budget_user"/>
    
    <menuitem parent="kw_recruitment_treasury_budget_sub_menu" 
                sequence="5" id="kw_recruitment_calendar_budget_plan_menu"
                name="All Budget Status" 
                action="action_kw_recruitment_budget_lines"
                groups="kw_recruitment.group_hr_recruitment_accounts,kw_recruitment.group_rcm_head_user,kw_recruitment.group_kw_budget_report_manager,kw_recruitment.group_tag_budget_user"/>

    <menuitem parent="kw_recruitment_treasury_budget_sub_menu" 
            sequence="3" id="kw_recruitment_resource_tagging_action_menu"
	        name="Resource Tagging" 
            action="kw_recruitment_budget_lines_resource_tagging_action" 
            groups="kw_recruitment.group_rcm_head_user,kw_recruitment.group_tag_budget_user"/>

    <menuitem parent="kw_recruitment_treasury_budget_sub_menu" 
            sequence="99" id="kw_recruitment_calendar_treasury_budget_plan_menu"
            name="Departmentwise Budget" 
            action="kw_recruitment_treasury_budget_lines_server_action"
            groups="hr_recruitment.group_hr_recruitment_manager,kw_recruitment.group_kw_budget_report_manager,kw_recruitment.group_rcm_head_user,kw_wfh.group_hr_hod,kw_recruitment.group_tag_budget_user"/>
      
</odoo>
