tr.leave_count_details{
    background-color: #D2D2FF}

th.leave_count_header{
    border: 1px solid #afb2b5;
    width: 20px;
    
}

td.leave_count_data{border: 1px solid #afb2b5; text-align: center;}