<?xml version="1.0" encoding="UTF-8"?>
<odoo>
	<data>
		<!-- Root menu of Performance Navigator -->
		<menuitem name="Performance Navigator" id="kw_performance_navigator_menu" web_icon="kw_wfh,static/description/icon.png" sequence="4"/>
		
		<!-- Goals menu -->
		<menuitem id="kw_performance_navigator_goal_menu" name="Goals &amp; Milestones" parent="kw_performance_navigator_menu" sequence="1"/>
		<menuitem id="kw_performance_navigator_my_goal_menu" name="My Goals" parent="kw_performance_navigator_goal_menu" action="kw_performance_navigator_goal_action_window" sequence="1"/>
		<menuitem id="kw_performance_navigator_all_goal_menu" name="My Team Member Goals" parent="kw_performance_navigator_goal_menu" action="kw_performance_navigator_all_goal_action_window" sequence="1"/>



		<!-- Configuration menu -->
		<menuitem id="kw_performance_navigator_configuration_menu" name="Configuration" parent="kw_performance_navigator_menu"  sequence="5"/>
		<menuitem id="kw_cxo_configuration_menu" name="CXO Configuration" parent="kw_performance_navigator_configuration_menu"  action="kw_cxo_config_actions" sequence="3"/>
		<menuitem id="kw_performance_navigator_template_menu" name="Template" parent="kw_performance_navigator_configuration_menu"  action="kw_appraisal.kw_survey_template_act_window" sequence="1"/>
		<menuitem id="kw_performance_navigator_assign_template_menu" name="Assign Template" parent="kw_performance_navigator_configuration_menu"  action="kw_appraisal.kw_appraisal_master_actions_window" sequence="2"/>
		<menuitem id="kw_pn_configuration_menu" name="Access Configuration" parent="kw_performance_navigator_configuration_menu"  action="kw_pn_access_config_actions" sequence="4"/>
		
		<menuitem id="kw_pn_kra_menu" name="KRA" parent="kw_performance_navigator_menu" sequence="2" 
				groups="kw_performance_navigator.group_performance_navigator_user,kw_performance_navigator.group_performance_navigator_cxo"/>
		<menuitem id="kw_pn_kra_sub_menu" name="My Team Member KRA" parent="kw_pn_kra_menu" action="kw_performance_navigator_kra_action_window" 
				 sequence="2"/>
		<menuitem id="kw_pn_kra_sub_menu2" name="My KRA" parent="kw_pn_kra_menu" action="kw_performance_navigator_my_kra_server_action" 
				groups="kw_performance_navigator.group_performance_navigator_user" sequence="1"/>

		<menuitem id="kw_pn_competencies_menu" name="Competencies" parent="kw_performance_navigator_menu" sequence="3" 
				groups="kw_performance_navigator.group_performance_navigator_user,kw_performance_navigator.group_performance_navigator_cxo"/>
		<menuitem id="kw_pn_compet_sub_menu" name="My Team Member Competencies" parent="kw_pn_competencies_menu" action="kw_performance_navigator_competencies_action_window" 
				 sequence="2"/>
		<menuitem id="kw_pn_compet_sub_menu2" name="My Competencies" parent="kw_pn_competencies_menu" action="kw_performance_navigator_my_competencies_server_action" 
				groups="kw_performance_navigator.group_performance_navigator_user" sequence="1"/>

		<menuitem id="kw_performance_navigator_report_menu" name="Report" parent="kw_performance_navigator_menu" sequence="6"/>
		<menuitem id="probation_completion_menu" name="Probation Completion Details" parent="kw_performance_navigator_report_menu" action="assessment_completion_details_action" sequence="1"/>





		<menuitem id="kw_pn_training_menu" name="Training" parent="kw_performance_navigator_menu" sequence="4"/>
		<menuitem id="kw_pn_training_sub_menu" name="My Training" parent="kw_pn_training_menu" action="kw_performance_navigator_training_action" sequence="1"/>
		<menuitem id="kw_pn_training_sub_menu1" name="My Team Member Training" parent="kw_pn_training_menu" action="kw_empl_apprasial_training_action_window" 
				 sequence="2"/>



	</data>
</odoo>
