/* .img-fluid {
    height: 120px;
    width: 204px;
    border-radius: 8px;
    margin-left: -5px;
    margin-top: -5px;
    max-width: none;
}

.o_kanban_view.o_kanban_ungrouped .o_kanban_record {
    margin: 4px 8px;
    height: 128px;
    width: 200px;
    border-radius: 10px;
    background-color: aliceblue;
} */

.custom-remove-btn{
    width: 90%;
    top: 160px;
    left: 12px;
}
.custom-kanban-div{
    height: 200px !important;
    width: 200px !important;
    max-width: 200px !important;
    max-height: 200px !important;
}
/* .img-fluid {
    max-width: 100%;
    height: 140px;
    width: 400px;
  } */