.img-fluid {
    height: 120px;
    width: 198px;
    border-radius: 8px;
    margin-left: -5px;
    margin-top: -5px;
    max-width: none;
}

.o_kanban_view.o_kanban_ungrouped .o_kanban_record {
    margin: 4px 8px;
    height: 128px;
    width: 200px;
    border-radius: 10px;
    background-color: aliceblue;
}

.kanban-hover-effect {
    transition: transform 0.2s ease-in-out;
}

.kanban-hover-effect:hover {
    transform: scale(1.33);
    z-index: 1;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}