<?xml version="1.0" encoding="UTF-8"?>
<templates id="template" xml:space="preserve">
    <!--<t t-extend="Menu">-->
        <!--<t t-jquery=".o_menu_systray" t-operation="prepend">-->
            <!--<span class="btn btn-success btn-lg float-right fa fa-phone">To Support Call On 7909052556</span>-->
        <!--</t>-->
    <!--</t>-->
    <t t-extend="UserMenu.Actions">
    <t t-jquery="a[data-menu='documentation']">
    this.remove();
    </t>
           </t>
    <t t-extend="UserMenu.Actions">
    <t t-jquery="a[data-menu='support']">
    this.remove();
    </t>
           </t>
    <t t-extend="UserMenu.Actions">
    <t t-jquery="a[data-menu='shortcuts']">
    this.remove();
    </t>
           </t>
    <t t-extend="UserMenu.Actions">
    <t t-jquery="a[data-menu='account']">
    this.remove();
    </t>
           </t>
</templates>
