.o_field_widget.badge.badge-publish {
    color: #fff;
    background-color: #198fbb;
}

.o_field_widget.badge.badge-completed {
    color: #fff;
    background-color: #198fbb;
}
.o_field_widget.badge.badge-notstarted {
    color: #fff;
    background-color: #d7182a;
}

/* #f7941d !important */