@font-face {
  font-family: OpenSans;
  src: url(/kwantify_theme/static/src/fonts/OpenSans-Regular.ttf)
}

body, html {
  margin: 0;
  padding: 0;
  font-family: OpenSans;
  src: url(/kwantify_theme/static/src/fonts/OpenSans-Regular.ttf)
}

.nav.navbar-nav.ml-auto.text-right {
  display: none;
}

.navbar.navbar-expand-md.navbar-light.bg-light {
  box-shadow: none;
  background: transparent !important;
}

.btn.btn-secondary.badge.btn-md {
  background-color: #faa635 !important;
  font-size: 14px;
}

.logedin-user {
  display: flex;
  align-items: center;
}

#oe_main_menu_navbar {
  display: none;
}

body.o_connected_user {
  padding-top: 0px !important;
}

#oe_main_menu_navbar+#wrapwrap .o_header_affix {
  top: 0;
}

.logedin-user img {
  width: 55px;
  margin-right: 11px;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.logedin-user .info {
  flex: 1;
}

.csm.card-header {
  background-color: #198fbb !important;
}

.badge-primary {
  color: #fff !important;
  background-color: #108fbb !important;
}

.thead-csm {
  color: #000;
  background: #eee;
}
.feedback-border{ border-left: 12px solid #198FBb; }
@media (min-width: 1600px) {
  .container {
    max-width: 85%;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 85%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 85%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 85%;
  }
}

@media print {
  #back {
    display: none;
  }
}