<odoo>
    <data>
     <menuitem id="eq_root_menu" name="EQ"  sequence="100" web_icon="kw_eq,static/description/icon.png"/>
     <menuitem id="eq_configuration_menu" name="Configuration" parent="eq_root_menu"  sequence="5" groups="group_eq_manager"/>
     <menuitem id="acount_head_subhead_menu" name="Account Head &amp; Sub Head Configuration"  parent="eq_configuration_menu" action="kw_eq_acc_head_sub_head_action" sequence="1"/>
     <menuitem id="company_production_head_subhead_menu" name="Overhead Percentage Configuration"  parent="eq_configuration_menu" action="kw_eq_overhead_percentage_master_action" sequence="2"/>
     <menuitem id="kw_eq_estimation_menu" name="Estimate"  parent="eq_root_menu"  sequence="2" groups="group_eq,group_eq_manager"/>
     <menuitem id="kw_eq_regular_estimation_menu" name="New Estimate"  parent="kw_eq_estimation_menu" action="kw_eq_estimation_action" sequence="1" groups="group_eq,group_eq_manager"/>
     <menuitem id="kw_eq_backlog_estimation_menu" name="Backlog EQ"  parent="kw_eq_estimation_menu" action="kw_eq_estimation_backlog_record_action" sequence="2" groups="group_eq_backlog"/>


     <menuitem id="skill_des_exp_menu" name="Software Master"  parent="eq_configuration_menu" action="kw_eq_software_master_action" sequence="3"/>

     <menuitem id="designation_master_menu" name="Designation Master"  parent="eq_configuration_menu" action="kw_eq_designation_master_action" sequence="4"/>
     <menuitem id="ancillary_master_menu" name="Ancillary Master"  parent="eq_configuration_menu" action="kw_eq_ancillary_master_action" sequence="5"/>
     <menuitem id="ancillary_item_master_menu" name="Ancillary Item Master"  parent="eq_configuration_menu" action="kw_eq_ancillary_item_master_action" sequence="6"/>
     <menuitem id="it_infra_master_menu" name="IT Infra Master"  parent="eq_configuration_menu" action="kw_eq_it_infra_master_action" sequence="7"/>     
     <!-- <menuitem id="avg_rate_config_menu" name="Average Rate Percentage Configuration"  parent="eq_configuration_menu" action="kw_eq_avg_rate_calculation_action" sequence="8"/> -->
     <menuitem id="pbg_master_menu" name="PBG Master"  parent="eq_configuration_menu" action="kw_eq_pbg_master_action" sequence="9"/>
     <menuitem id="approval_configuration_menu" name="Approval Configuration"  parent="eq_configuration_menu" action="kw_eq_approval_configuration_action" sequence="11"/>
     <menuitem id="page_access_menu" name="Page Access Configuration"  parent="eq_configuration_menu" action="kw_eq_page_access_action" sequence="11"/>
     <menuitem id="eq_report_new_menu" name="Report" parent="eq_root_menu" sequence="6" groups="group_eq_manager,kw_eq.group_eq,kw_eq.group_eq_finance,kw_eq.group_eq_backlog,kw_eq.group_eq_report_manager"/>
     <menuitem id="eq_report_data_pending_menu" name="EQ Report" parent="eq_report_new_menu" action="kw_eq_report_action" sequence="7" groups="kw_eq.group_eq_manager,kw_eq.group_eq,kw_eq.group_eq_report_manager,kw_eq.group_eq_finance"/>
     <menuitem id="eq_revision_report_data_pending_menu" name="EQ Revision Report" parent="eq_report_new_menu" action="kw_eq_revision_status_report_action" sequence="11" groups="kw_eq.group_eq_manager,kw_eq.group_eq,kw_eq.group_eq_report_manager,kw_eq.group_eq_finance"/>

     <menuitem id="eq_replica_menu" name="Audit Trail" parent="eq_report_new_menu" action="kw_eq_audit_trail_details_action" sequence="8" groups="group_eq_manager,group_eq,group_eq_report_manager,group_eq_finance"/>
     <!-- <menuitem id="eq_update_record_menu" name="Approved EQ" parent="eq_report_new_menu" action="kw_eq_estimation_update_record_action" sequence="9" groups="group_eq_manager"/> -->
     <menuitem name="Menu Access Configuration" id="menu_kw_eq_access_config" action='kw_eq_access_config_actions' parent="eq_configuration_menu" sequence="12"/>
     <menuitem id="eq_approved_eq_menu" name="Approved EQ" parent="eq_report_new_menu" action="kw_eq_estimation_update_record_action" sequence="9" groups="group_eq_manager,group_eq_backlog"/>
     <menuitem id="eq_approved_new_menu" name="Approved EQ for Finance" parent="eq_report_new_menu" action="kw_eq_estimation_approved_finance_action" sequence="10" groups="group_eq_finance"/>
     <!-- <menuitem id="eq_approved_revision_finance_menu" name="Approved Revised EQ for Finance" parent="eq_report_new_menu" action="kw_eq_estimation_approved_revised_eq_finance_action" sequence="11" groups="group_eq_finance"/> -->

     <menuitem id="eq_revision_menu" name="Revision" parent="eq_root_menu"  sequence="2" groups="kw_eq.group_eq,kw_eq.group_eq_manager"/>
     <menuitem id="eq_approved_menu" name="Approved EQ" parent="eq_revision_menu"  sequence="1" action="kw_eq_estimation_revision_action"/>
     <menuitem id="eq_revisions_menu" name="Revised EQ" parent="eq_revision_menu"  sequence="2" action="kw_eq_revision_action"/>
    <menuitem id="paticulars_master_menu" name="Paticulars Master" parent="eq_configuration_menu" action="kw_eq_paticulars_master_action" sequence="10"/>
    <menuitem id="revised_eq_report_menu_act" name="Revised EQs" parent="eq_report_new_menu" action="kw_eq_revision_report_action" sequence="50" groups="group_eq_manager"/>
   
   <!-- Advance for EQ menu -->
    <menuitem id="kw_advance_eq_menu" name="Advance For EQ" parent="eq_root_menu"  sequence="3" groups="kw_eq.group_eq,kw_eq.group_eq_finance,kw_eq.group_eq_manager"/>
    <menuitem id="kw_advance_eq_apply_menu" action="kw_advance_for_eq_action" name="Apply" parent="kw_advance_eq_menu" sequence="1" groups="kw_eq.group_eq,kw_eq.group_eq_finance,kw_eq.group_eq_manager"/>
	<menuitem id="kw_advance_eq_take_action_menu" action="kw_advance_for_eq_take_server_action" name="Take Action" parent="kw_advance_eq_menu" sequence="1" groups="kw_eq.group_eq_finance,kw_eq.group_eq,kw_eq.group_eq_manager"/>
	<menuitem id="kw_advance_eq_report_action_menu" action="kw_advance_for_eq_report_server_action" name="Advance EQ Report" parent="eq_report_new_menu" sequence="5" groups="kw_eq.group_eq_manager,kw_eq.group_eq,kw_eq.group_eq_finance,kw_eq.group_eq_report_manager"/>	
    <menuitem id="kw_advance_eq_allocated_report_action_menu" action="kw_advance_for_eq_allocated_report_action" name="EQ Advance Allocated Report" parent="eq_report_new_menu" sequence="6" groups="kw_eq.group_eq_manager,kw_eq.group_eq_report_manager,kw_eq.group_eq_finance"/>	
    </data>

  </odoo>