<odoo>
	<data>
		<menuitem name="Greetings"
		          web_icon="kw_greetings,static/description/icon.png"
		          id="kw_greetings_parent_menu"
		          sequence="34"/>

		<menuitem name="Well Wishes" groups="kw_greetings.group_kw_greetings_manager" id="kw_send_wish_menu"
		          parent='kw_greetings_parent_menu' sequence="2" action="kw_greetings_send_wishes_action_window"/>
				  
		<record id="kw_greetings.kw_send_wish_menu" model="ir.ui.menu">
			<field name="groups_id" eval="[(4,ref('kw_greetings.group_kw_greetings_manager'))]"/>
		</record>

		<menuitem name="Settings" groups="kw_greetings.group_kw_greetings_manager" id="kw_settings_menu"
		          parent='kw_greetings_parent_menu' sequence="5"/>

		<record id="kw_greetings.kw_settings_menu" model="ir.ui.menu">
			<field name="groups_id" eval="[(4,ref('kw_greetings.group_kw_greetings_manager'))]"/>
		</record>

		<menuitem name="Category"  id="kw_greetings_category_menu"
		          parent='kw_settings_menu' sequence="2" action="kw_category_action_window"/>
		<menuitem name="Templates"  id="kw_greetings_template_menu"
		          parent='kw_settings_menu' sequence="3" action="kw_greeting_template_action_window"/>
	</data>
</odoo>
