@page{
    margin: 0;
    page-break-inside: avoid
}
@media print {
    body {
        margin: 0; /* Remove default browser margin */
        padding: 0; /* Remove default browser padding */
    }
        
    .certificate-container {
        width: 210mm; /* Set width to match A4 paper width */
        height: 297mm; /* Set height to match A4 paper height */
        margin: 0; /* Remove any extra margin */
        padding: 0; /* Remove any extra padding */
        background-size: 100% 100% ;
        page-break-inside: avoid;
    }
}