<odoo>
    <data>
        <!--  Top menu item -->

        <menuitem name="MIS Reports" id="kw_management_report_menu_root"
            web_icon="kw_management_report,static/description/icon.png"
            groups="kw_management_report.group_kw_report_manager" />
        <!-- menu categories -->
        <menuitem name="Reports" id="management_report_parent_menu"
            parent='kw_management_report.kw_management_report_menu_root'
            sequence="1" />
        <menuitem name="Employee Role and Category Wise CTC Bifurcation"
            id="report_employee_role_wise"
            parent='kw_management_report.management_report_parent_menu'
            sequence="1" action="employee_role_catagory_wise_report_act_window" />
        <menuitem id="resource_hrms_budget_mapping_menu"
            name="HRMS (Budget Mapping)"
            parent="kw_management_report.management_report_parent_menu"
            sequence="2"
            action="kw_resource_management.budget_mapping_wizard_actions"
        />
        <menuitem id="resource_sbu_bench_resource_menu" name="Central Bench Report"
            parent="kw_management_report.management_report_parent_menu"
            action="mis_report_sbu_bench_resource_action" sequence="3"
        />

        <record id="mis_unit_bench_resource_action" model="ir.actions.act_window">
            <field name="name">Unit(SBU) Bench Report</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">unit_bench_resource</field>
            <field name="view_mode">tree</field>
        </record>
        <menuitem id="resource_unit_bench_resource_menu" name="Unit (SBU) Bench Report"
            parent="kw_management_report.management_report_parent_menu"
            action="mis_unit_bench_resource_action"
            sequence="4"
            active='true' />

        <menuitem id="kw_emp_head_count_menu" name="Headcount Report (YOY)"
            parent="kw_employee_info_system.employee_mis_report_menu"
            action="kw_management_report.kw_emp_head_count_report_action"
            groups="hr.group_hr_manager"
            sequence="3"
        />
        <menuitem name="Resources Serving Notice Period"
            id="report_employee_notice_period_wise"
            parent='kw_management_report.management_report_parent_menu'
            sequence="5" action="notice_period_resource_report_act_window" />
        <menuitem name="Monthly MIS Report"
            id="monthly_mis_report"
            parent='kw_employee_info_system.employee_mis_report_menu'
            sequence="7" action="kw_monthly_emp_report_filter_action" 
            groups="hr.group_hr_manager,kw_employee.group_hr_management,kw_employee_info_system.group_mis_user,kw_employee.group_payroll_manager"/>

    </data>
</odoo>