img {
    display: block;
    max-width: 100%;
}
.preview {
    overflow: hidden;width: 160px; height: 160px;margin: 10px;border: 1px solid red;
}
.preview .final-preview {
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}
.modal-lg{
    max-width: 1000px !important;
}
.font-note {font-size:12px; display:block;font-style:italic;}
.md-form .form-control.social_image{
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start;
    padding-top: 4px;
    padding-bottom: 3.28px;
    min-height: auto;
    padding: .375rem .75rem;
    background-clip: padding-box;
    appearance: none;
}
.o_main_navbar{display:none;}
.navbar{display:none;}