
header {
	display: flex;
	align-items: center;
	@extend %white-bg;
	box-shadow: rgba($black, 0.2) 0px 0px 10px 0px;	
	padding: 0 12px;
	h1 {
		@extend %width;
		.navbar-brand {
			img {
				width: 100px;
			}
		}
	}
	.header_filter {
		select {
			padding: 10px 24px;
			border: 0;
			width: 100px;
			border-radius: 4px;
			outline: 0;
			background: $grey-light;
			color: $grey-dark;
			&:focus {
				border: 1px solid $brand-primary;
			}
		}
		label {
			margin-bottom: 0;
		}
	}
	.utilities {
		.log_out_btn {
			background: $brand-primary;
			color: $white;
			line-height: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 70px;
			height: 80px;
			text-decoration: none;
			&:hover {
				background: darken($brand-primary,10%);
			}
		}
	}
}

@media (min-width: 992px) {
	header {
		.utilities {
			min-width: 100px;
			.log_out_btn {
				
				width: 100px;
				height: 80px;
				&:hover {
					background: darken($brand-primary,10%);
				}
				span {
					font-size: 2rem;
				}
			}
		}
		select {
			min-width: 300px;
		}
	}
}