<?xml version="1.0" encoding="UTF-8"?>

<templates xml:space="preserve">
    <t t-extend="UserMenu.Actions">
        <t t-jquery="a[data-menu='documentation']" t-operation="replace">
        </t>
        <t t-jquery="a[data-menu='support']" t-operation="replace">
        </t>
        <t t-jquery="a[data-menu='account']" t-operation="replace">
        </t>
<!--        <t t-jquery="div.dropdown-menu.dropdown-menu-right" t-operation="replace">-->
<!--            <div class="dropdown-menu dropdown-menu-right" role="menu">-->
<!--                <a class="dropdown-item" href="#" role="menuitem" data-toggle="modal" data-target="#about">About</a>-->
<!--                <a class="dropdown-item" href="#" role="menuitem">Releases</a>-->
<!--                <div role="separator" class="dropdown-divider"/>-->

<!--                <a class="dropdown-item" data-menu="shortcuts" href="#" role="menuitem">Shortcuts</a>-->

<!--                <div role="separator" class="dropdown-divider"/>-->
<!--&lt;!&ndash;                 <a class="dropdown-item" data-toggle="modal" href="javascript:void(0)" data-target="#changetheme" role="menuitem">Change Theme</a>&ndash;&gt;-->
<!--&lt;!&ndash;                 <div role="separator" class="dropdown-divider"/>&ndash;&gt;-->
<!--                <a role="menuitem" href="#" data-menu="settings" class="dropdown-item">Preferences</a>-->
<!--                <a role="menuitem" href="#" data-menu="logout" class="dropdown-item">Log out</a>-->
<!--            </div>-->
<!--            <div class="modal fade" id="about">-->
<!--                <div class="modal-dialog modal-dialog-centered">-->
<!--                    <div class="modal-content">-->
<!--                        <div class="modal-body">-->
<!--                            <h1 class="text-center mx-auto d-block"> Kwantify V6. </h1>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="modal fade" id="changetheme">-->
<!--                <div class="modal-dialog">-->
<!--                    <div class="modal-content">-->
<!--                        <div class="modal-header">-->
<!--                            <h4 class="modal-title">Change Theme Style</h4>-->
<!--                            <button type="button" class="close" data-dismiss="modal">&amp;times;</button>-->
<!--                        </div>-->

<!--                        <div class="modal-body">-->
<!--                            <div class="container">-->
<!--                                <h3 class="text-left"> Header </h3>-->
<!--                                <div class="row">-->
<!--                                    <div class="container bh">-->
<!--                                        <button type="button" class="btn btn-orange btn-lg header_button orange" data-clr="orange"/>-->
<!--                                        <button type="button" class="btn btn-blue btn-lg header_button blue " data-clr="blue"/>-->
<!--                                        <button type="button" class="btn btn-red btn-lg header_button red " data-clr="red"/>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="clearfix"> </div>-->
<!--                                <h3 class="text-left"> Portlet </h3>-->
<!--                                <div class="row">-->
<!--                                    <div class="container bh">-->
<!--                                        <button type="button" class="btn btn-orangered btn-lg portlet_button orangered" data-clr="orangered"></button>-->
<!--                                        <button type="button" class="btn btn-yellowgreen btn-lg portlet_button yellowgreen" data-clr="yellowgreen"></button>-->
<!--                                        <button type="button" class="btn btn-blueviolet btn-lg portlet_button blueviolet" data-clr="blueviolet"></button>-->
<!--                                        <button type="button" class="btn btn-darkred btn-lg portlet_button darkred" data-clr="darkred"></button>-->
<!--                                        <button type="button" class="btn btn-darkseagreen btn-lg portlet_button darkseagreen" data-clr="darkseagreen"></button>-->
<!--                                        <button type="button" class="btn btn-darkblue btn-lg portlet_button darkblue" data-clr="darkblue"></button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="clearfix"> </div>-->
<!--                                &lt;!&ndash; <h3 class="text-left"> Settings </h3>-->
<!--                                <div class="row">-->
<!--                                    <div class="container bh">-->
<!--                                        <label class="radio-inline"><input type="radio" name="sidebar_view" id="icon_view" checked="checked" data-cls="icon_view"/> Icon View </label> &amp;emsp;-->
<!--                                        <label class="radio-inline"><input type="radio" name="sidebar_view" id="open_sidebar" data-cls="open_sidebar"/> Open sidebar View </label> &amp;emsp;-->
<!--                                        <label class="radio-inline"><input type="radio" name="sidebar_view" id="no_sidebar" data-cls="no_sidebar"/> No sidebar View </label> &amp;emsp;-->
<!--                                    </div>-->
<!--                                </div> &ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="modal-footer">-->
<!--                            <button type="button" class="btn btn-success btn-lg">Save</button>-->
<!--                            <button type="button" class="btn btn-danger btn-lg">Cancel</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </t>-->
    </t>

    <div t-name="mail.widget.Thread.Empty" class="o_mail_no_content">
        <t t-if="thread.getID() === 'mailbox_inbox'">
            <div class="o_thread_title">
                <h1 class="text-primary"> Welcome to Tendrils </h1>
                Your inbox is empty
            </div>
            <div>New messages appear here.</div>
        </t>
        <t t-if="thread.getID() === 'mailbox_starred'">
            <div class="o_thread_title">No starred message</div>
            <div>You can mark any message as 'starred', and it shows up in this mailbox.</div>
        </t>
        <t t-if="thread.getID() === 'mailbox_moderation'">
            <div class="o_thread_title">You have no message to moderate</div>
            <div>Pending moderation messages appear here.</div>
        </t>
    </div>
</templates>