nav#oe_main_menu_navbar{
        display: none;
        }
header.o_affix_enabled{
        display: none;
        }
.ex_emp{
        background-color:rgb(245, 232, 231) !important;
}
.new_joiner{
        background-color:rgb(223, 244, 226) !important;
}
