.actual_budget_class{
    background-color:#bcc1f5!important;
  } 

.actual_amt_class{
  background-color:#95edd9!important;
}


.revenue_month_class{
  background-color:#bcc1f5!important;
}

.revenue_month_class_total{
  background-color:#95edd9!important;
}

.revenue_month_class_pending{
  background-color:#DFFF00!important;
}

.revenue_month_total{
  background-color:#E5FFCC!important;
}