.o_hr_dashboard {
    padding: 20px;
}

.o_hr_dashboard h1 {
    font-size: 60;
    font-weight: bold;
    color: #1272ae;
    margin-bottom: 20px;
    text-align: center;
}

.heading1{
    font-size: 3.366667rem;
    text-shadow: 2px 2px;

}

.dashboard-box {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background: #f0f2f4;
    border: 1px solid #e4d2d2;
    border-radius: 8px;
    text-align: center;
    box-shadow: 10px 10px 5px 5px lightblue;
    border-radius: 25px;
    border-style: outset;
    border-color: #62aae9;
    height: 450px;
    position: relative; /* Ensure relative positioning for filter overlay */
}

.filter-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.filter-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.filter-options {
    position: absolute;
    top: 40px;
    right: 10px;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000; /* Ensure the filter options appear above other elements */
}

.filter-options label {
    display: block;
    margin-top: 10px;
}

.filter-options select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}


.dashboard-box-small {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background: #ceddea;
    border: 1px solid;
    text-align: center;
    box-shadow: 10px 10px 5px 5px #ceddea;
    border-radius: 25px;
    border-style: outset;
    border-color: #82bdf0;

}
.dashboard-box-small:hover {
    transform: scale(1.02); /* Scale up the box on hover */
}
/* .dashboard-box:hover {
    transform: scale(1.01); 
} */

.dashboard-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #5a6269;
}

.dashboard-value {
    font-size: 50px;
    font-weight: bold;
    color: #333;
}


.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #f0f2f4;

}

.dashboard-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.dashboard-row1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dashboard-chart {
    width: 100%;
    height: 400px;
}

.job-role-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.job-role-name {
    flex: 1;
    text-align: left;
}

.job-role-count {
    display: flex;
    align-items: center;
}

.attrition-count {
    background-color: #f56954;
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
}

.total-count {
    background-color: #00a65a;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}



/* Specific styles for different dashboard values */
.dashboard-value[data-field="employee_count"] {
    color: #1f77b4;  /* Blue */
}

.dashboard-value[data-field="attrition_count"] {
    color: #ff7f0e;  /* Orange */
}

.dashboard-value[data-field="active_employee_count"] {
    color: #2ca02c;  /* Green */
}

.dashboard-value[data-field="attrition_rate"] {
    color: #0cb923;  /* Red */
}

.dashboard-value[data-field="average_age"] {
    color: #9467bd;  /* Purple */
}
#fy_wise_joining_exit_container {
    width: 100%;
    height: 430px;
    overflow-y: scroll;
}
#attrition_by_job_role_container {
    width: 100%;
    height: 850px;
}


.filter-container {
    position: absolute;
    top: 25px;
    right: 30px;
}
.filter-container1 {
    position: absolute;
    top: 35px;
    left: 70px;
}
.table-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px; /* Adjust spacing as needed */
    text-align: center;
}
.rcm-primary-card-body1 {
    border-top: 2px solid #108fbb !important;
    border-radius: 13px;
    padding: 20px;
    background-color: #bdc3cb;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.rcm-portlet-card-body1 {
    /* background-color: rgba(241, 216, 184, 0.486); */
    border-top: 2px solid #108fbb !important;
    border-radius: 20px 20px 5px 5px;

}