.orgchart .second-menu-icon {
  transition: opacity .5s;
  opacity: 0;
  right: -5px;
  top: -5px;
  z-index: 2;
  position: absolute;
}
.orgchart .second-menu-icon::before { background-color: rgba(68, 157, 68, 0.5); }
.orgchart .second-menu-icon:hover::before { background-color: #449d44; }
.orgchart .node:hover .second-menu-icon { opacity: 1; }
.orgchart .node .second-menu {
  display: none;
  position: absolute;
  top: 0;
  right: -70px;
  box-shadow: 0 0 10px 0px #999;
  background-color: #fff;
  z-index: 1;
}
.orgchart .node .second-menu .avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  float: left;
  margin: 5px;
}
.orgchart {
  background-image: none;
}
.chart-wrapper {
  width: 100%;
  /* height: 400px; */
  display: flex;
  align-items: center;
justify-content: center;
}

/*.orgchart .node{ margin-bottom:35px;}
.orgchart .node.middle-level{margin-top:15px; margin-bottom:15px;}
.orgchart .node.rd-dept{margin-top:15px; margin-bottom:15px;}
.orgchart .node.product-dept{margin-top:15px; margin-bottom:15px;}*/
.pyramid { width : 500px; shape-outside: polygon(310px 0, 130px 405px, 558px
  405px);}
  
.zone:nth-child(1) {
  clip-path: polygon(50% 0, 339px 125%, 36% 100%);
    background: #f1891e;
    animation-delay: 2s;
    height: 115px;
    /* margin-bottom: 10px; */
}
.zone:nth-child(2) {
  clip-path: polygon(36% 0px, 321px 0px, 76% 100%, 123px 100%);
    background: #d81d2b;
    height: 100px;
    animation-delay: 1.5s;
    /* margin-bottom: 10px; */
}
.zone:nth-child(3) {
  clip-path: polygon(24.5% 0px, 76% 0px, 438px 100%, 63px 100%);
    background: #108fbb;
    animation-delay: 1s;
    height: 100px;
    /* margin-bottom: 16px; */
}
.zone:nth-child(4) {
  clip-path: polygon(12.5% 0, 87.5% 0, 100% 100%, 0 100%);
    background: #942f91;
    animation-delay: 0.5s;
    height: 100px;
    /* margin-top: 10px; */
}
/*employee*/
#employee_chart_container .orgchart.l2r .node, .orgchart.r2l .node{width:100px;}
#employee_chart_container .table th, #employee_chart_container .table td{padding:0px;}
#employee_chart_container .content.pb-1{min-height:40px;}
#employee_chart_container .orgchart.l2r > ul > li > ul li > .node::before {height:var(--height, 14px);}
#employee_chart_container .orgchart .node:not(:only-child)::after{height:14px;}
/*dept*/

#department_chart_container .orgchart.l2r .node, #department_chart_container .orgchart.r2l .node{width:105px; height: 230px;}
#department_chart_container .orgchart.l2r .node .title{transform: rotate(-90deg) translate(-75px, -80px) rotateY(180deg); width: 190px;}
#department_chart_container .orgchart.l2r .node .content{transform: rotate(-90deg) translate(-75px, -80px) rotateY(180deg); width: 190px; overflow:hidden;}
#department_chart_container .table th, #department_chart_container .table td{padding:0px;}
#department_chart_container .content.pb-1{min-height:40px;}
#department_chart_container .orgchart.l2r > ul > li > ul li > .node::before {height:var(--height, 14px);}
.orgchart .hierarchy.active-node::before, .orgchart .hierarchy.isSiblingsCollapsed.left-sibs.active-node::before{width:2px;}
#department_chart_container .orgchart.l2r .node:nth-child(1), #department_chart_container .orgchart.r2l .node:nth-child(1){width:105px; height: 230px;}
#department_chart_container .orgchart.l2r .node:nth-child(1) .title, #department_chart_container .orgchart.l2r .node:nth-child(1) .content{transform: rotate(-90deg) translate(-88px, -100px) rotateY(180deg); width: 225px;}


.orgchart { background: #fff; }
.orgchart td.left, .orgchart td.right, .orgchart td.top { border-color: #aaa; }
.orgchart td>.down { background-color: #aaa; }
.orgchart .middle-level .title { background-color: #006699; }
.orgchart .middle-level .content { border-color: #006699; }
.orgchart .product-dept .title { background-color: #009933; }
.orgchart .product-dept .content { border-color: #009933; }
.orgchart .rd-dept .title { background-color: #993366; }
.orgchart .rd-dept .content { border-color: #993366; }
.orgchart .pipeline1 .title { background-color: #996633; }
.orgchart .pipeline1 .content { border-color: #996633; }
.orgchart .frontend1 .title { background-color: #cc0066; }
.orgchart .frontend1 .content { border-color: #cc0066; }


