<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<data>
        <menuitem name="Starlight" 
                id="kw_rnr_menu"  
                sequence="24" web_icon="kw_reward_and_recognition,static/description/icon.png" groups="kw_reward_and_recognition.rnr_sbu,kw_reward_and_recognition.rnr_reviewer,kw_reward_and_recognition.rnr_final_reviewer,kw_reward_and_recognition.rnr_manager"/>

        <menuitem name="Nomination" 
                id="kw_reward_and_recognition_menu" 
                parent="kw_rnr_menu" 
                sequence="1"
                />

        <menuitem name="Nominate" 
                id="kw_rnr_sub_menu" 
                parent="kw_reward_and_recognition_menu" 
                sequence="1"
                groups="kw_reward_and_recognition.rnr_sbu"
                action="reward_and_recognition_action"/>  
        
        <menuitem id="rnr_take_action_menu" name="Take Action" groups="kw_reward_and_recognition.rnr_reviewer,kw_reward_and_recognition.rnr_final_reviewer,kw_reward_and_recognition.rnr_manager" sequence="2" parent="kw_reward_and_recognition_menu" action="rnr_take_action"/>
              
        <menuitem name="Configuration" 
                id="kw_reward_and_recognition_config_menu" 
                parent="kw_rnr_menu"
                groups="kw_reward_and_recognition.rnr_manager"
                sequence="2"
                />
        
        <menuitem name="Department Configuration" 
                id="kw_reward_and_recognition_division_config_menu" 
                parent="kw_reward_and_recognition_config_menu"
                action="kw_division_config_action"
                groups="kw_reward_and_recognition.rnr_manager"
                sequence="1"
                />
        <!-- <menuitem id="kw_rnr_new_general_settings_menu" action="rnr_config_settings_action"
		          name="General Settings"
		          groups="kw_reward_and_recognition.rnr_manager" parent="kw_reward_and_recognition.kw_reward_and_recognition_config_menu" sequence="3"/>
         -->
         <menuitem id="kw_starlight_general_settings_menu" action="kw_starlight_general_configuration_server_action"
		          name="General Settings"
		          groups="kw_reward_and_recognition.rnr_manager" parent="kw_reward_and_recognition.kw_reward_and_recognition_config_menu" sequence="6"/>
        
        <menuitem id="kw_starlight_grade_configuration_menu" action="kw_starlight_grade_configuration_action"
		          name="Employee Grade Configuration"
		          groups="kw_reward_and_recognition.rnr_manager" parent="kw_reward_and_recognition.kw_reward_and_recognition_config_menu" sequence="5"/>
        
         <menuitem id="kw_starlight_reason_master_menu" action="starlight_reason_master_action"
		          name="Reason Master"
		          groups="kw_reward_and_recognition.rnr_manager" parent="kw_reward_and_recognition.kw_reward_and_recognition_config_menu" sequence="4"/>
        
        <menuitem id="starlight_max_nomination_award_action_menu" action="starlight_max_nomination_award_action"
		          name="Max Nominations &amp; Award Configutation"
		          groups="kw_reward_and_recognition.rnr_manager" parent="kw_reward_and_recognition.kw_reward_and_recognition_config_menu" sequence="7"/>
        
        <menuitem id="rnr_report_delete_page_action_menu" action="rnr_report_delete_page_action"
		          name="Starlight Report"
		          groups="kw_reward_and_recognition.rnr_manager" parent="kw_reward_and_recognition.kw_reward_and_recognition_config_menu" sequence="8"/>
        
        <menuitem id="congratulation_mailer_action_menu" action="congratulation_mailer_wizard_action_window"
		          name="Send Congratulation Mail"
		          groups="kw_reward_and_recognition.rnr_manager" parent="kw_reward_and_recognition.kw_reward_and_recognition_config_menu" sequence="9"/>

        <menuitem name="Report" 
                id="kw_reward_and_recognition_report_menu" 
                parent="kw_rnr_menu"
                sequence="3"
                groups="kw_reward_and_recognition.rnr_manager,kw_reward_and_recognition.rnr_report_manager"
        />
       
        <record id="call_rnr_report_action_server" model="ir.actions.server">
                <field name="name">New Report</field>
                <field name="model_id" ref="model_reward_and_recognition"/>
                <field name="state">code</field>
                <field name="code">
                        action = model.call_rnr_report_action()
                </field>
        </record>

        <menuitem name="Starlight Matrix Report" 
                id="kw_rnr_new_report_sub_menu" 
                parent="kw_reward_and_recognition.kw_reward_and_recognition_report_menu"
                action = "call_rnr_report_action_server"
                sequence="3"
                groups="kw_reward_and_recognition.rnr_manager,kw_reward_and_recognition.rnr_report_manager,kw_reward_and_recognition.rnr_reviewer"
        />
        <menuitem name="Migrated Log" 
                id="kw_rnr_migrated_log_menu" 
                parent="kw_reward_and_recognition.kw_reward_and_recognition_report_menu"
                action = "starlight_migration_log_actions_window"
                sequence="4"
                groups="kw_reward_and_recognition.rnr_manager"
        />
	</data>
</odoo>
