<odoo>
    <data>
        <menuitem name="Internship Program"
                  id="l_k_menu_root"
                  parent="hr.menu_hr_root"
                  groups="internship_program.group_manager_internship_program,internship_program.group_rh_internship_program,internship_program.group_mis_internship_program"
                  sequence="109"/>

        <menuitem name="Foundation Program"
                  id="l_k_traineeship_menu"
                  parent="internship_program.l_k_menu_root"
                  sequence="1"/>
        <menuitem name="Internship Program"
                  id="l_k_details_menu2"
                  parent="internship_program.l_k_menu_root"
                  sequence="2"/>
        <menuitem name="Pay Revise"
                  id="lk_payroll_revise_menu"
                  parent="internship_program.l_k_menu_root"
                  groups="internship_program.group_manager_internship_program"
                  sequence="3"/>
    </data>
</odoo>