<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data noupdate="0">
        <menuitem name="Canteen Management"
                  id="kw_canteen_main_menu"
                  web_icon="kw_canteen,static/description/icon.png" groups="kw_canteen.canteen_manager_group,kw_canteen.canteen_emp_user_group" action='action_kw_canteen_regular_meal_act_window'/>

        <menuitem name="Request"
                  id="kw_canteen_request_sub_menu"
                  parent="kw_canteen_main_menu"
                  sequence="1"
                  action=""/>
        <menuitem name="Configuration" id="canteen_conf_sub_menu"
                  parent="kw_canteen_main_menu" sequence="4" groups="kw_canteen.canteen_manager_group"
        />
        <menuitem name=" Special Meal" id="canteen_special_meal_sub_menu"
                    parent="kw_canteen_main_menu" sequence="2" groups="kw_canteen.canteen_manager_group"
                    />

        <menuitem name="Menu Master" id="canteen_menu_menu"
                  parent="canteen_conf_sub_menu"
                  action="weekly_meal_action_window" sequence="1"/>

        <menuitem name="Price Master" id="canteen_price_menu"
                  parent="canteen_conf_sub_menu"
                  action="meal_price_action_window" sequence="2"/>

        <menuitem name="Meal Type" id="meal_type_menu"
                  parent="canteen_conf_sub_menu"
                  action="kw_canteen_meal_type_action_window" sequence="3"/>
        <menuitem name="Beverages" id="beverages_type_menu"
                  parent="canteen_conf_sub_menu"
                  action="kw_canteen_beverage_type_action_window" sequence="4"/>
        <menuitem name="Allocation" id="special_meal_allocation_menu"
                  parent="canteen_special_meal_sub_menu"
                  action="special_meal_create_wizard_action_window" sequence="1"/>
        <!-- <menuitem name="Special Meal Exclusion" id="special_meal_exclusion_menu"
                  parent="canteen_special_meal_sub_menu"
                  action="special_meal_exclusion_update_wizard_action_window" sequence="2"/> -->
        <menuitem name="Update Meal Report" id="canteen_meal_report_update_main_menu"
                  parent="canteen_conf_sub_menu"
                  sequence="6"/>
        <menuitem name="Update Meal Report" id="canteen_meal_report_update_sub_menu"
                  parent="canteen_meal_report_update_main_menu"
                  action="update_meal_report_action_window" sequence="1"/>
        <menuitem name="Remove Meal Report Log" id="canteen_meal_report_log_menu"
                  parent="canteen_meal_report_update_main_menu"
                  action="action_remove_meal_report_act_window" sequence="2"/>

        <menuitem name="Update" id="special_meal_cancellation_menu"
                  parent="canteen_special_meal_sub_menu"
                  action="special_meal_cancellation_action_window" sequence="3"/>
                  

        <menuitem name="Regular Meal"
                  id="kw_canteen_regular_meal_sub_menu"
                  parent="kw_canteen_request_sub_menu"
                  sequence="2"
                  action="action_kw_canteen_regular_meal_act_window"/>
        <menuitem name="Guest Meal"
                  id="kw_canteen_guest_meal_sub_menu"
                  parent="kw_canteen_request_sub_menu"
                  sequence="3"
                  action="action_kw_canteen_guest_meal_act_window"/>

        <menuitem name="Report"
                  id="kw_canteen_report_sub_menu"
                  parent="kw_canteen_main_menu"
                  sequence="3"
                  groups="kw_canteen.canteen_manager_group,kw_canteen.canteen_emp_user_group"/>
            
        <menuitem name="Beverage Report"
                  id="kw_baverage_bio_log_report_sub_menu"
                  parent="kw_canteen_report_sub_menu"
                  sequence="1"
                  action="action_baverage_bio_log_act_window"/>

        <menuitem name="Meal Report"
                  id="kw_meal_bio_log_report_sub_menu"
                  parent="kw_canteen_report_sub_menu"
                  sequence="3"
                  action="action_meal_bio_log_act_window"/>
        <!-- <menuitem name="Monthly Meal Price Report"
                  id="kw_meal_price_report_sub_menu"
                  parent="kw_canteen_report_sub_menu"
                  sequence="4"
                  groups="base.group_no_one"
                  action="meal_price_log_act_window"/> -->

        <menuitem name="Canteen Transaction Report"
                  id="kw_canteen_transaction_report_sub_menu"
                  parent="kw_canteen_report_sub_menu"
                  sequence="6"
                  action="action_employee_canteen_expense_report_act_window"/> -->

        <!-- <menuitem name="Monthly Beverage Price Report"
                  id="kw_beverage_price_report_sub_menu"
                  parent="kw_canteen_report_sub_menu"
                  sequence="2"
                  groups="base.group_no_one"
                  action="beverage_price_log_act_window"/> -->


        <menuitem name=" Daily Meal Report"
                  id="kw_daily_meal_log_report_sub_menu"
                  parent="kw_canteen_report_sub_menu"
                  sequence="5"
                  action="current_day_meal_report_action"
                  groups="kw_canteen.canteen_manager_group"/>

        <menuitem name=" SMS Log"
                  id="sms_log_report_sub_menu"
                  parent="kw_canteen_report_sub_menu"
                  sequence="7"
                  action="kw_canteen_response_log_action_window"
                  groups="base.group_no_one"/>

        <menuitem id="canteen_expense_category_menu" name="Canteen Expense" parent="canteen_conf_sub_menu"/>
        <menuitem name="Get Collection From Employees"
                  id="kw_employee_collection_report_sub_menu"
                  parent="canteen_expense_category_menu"
                  sequence="2"
                  action="kw_canteen_expense_wizard_view_action"/>

        <menuitem name=" Canteen Expenses Head"
                  id="canteen_expense_sub_menu"
                  parent="canteen_expense_category_menu"
                  sequence="1"
                  action="kw_canteen_expense_type_action_window"
                  groups="kw_canteen.canteen_manager_group"/>
                  />
        <menuitem name="Add Canteen Expense"
                  id="add_canteen_expense_sub_menu"
                  parent="canteen_expense_category_menu"
                  sequence="3"
                  action="kw_canteen_expense_master_tree_action_window"
                  groups="kw_canteen.canteen_manager_group"/>
                  />
        <menuitem name="Monthly Canteen Expenses Report"
                  id="canteen_expense_report_sub_menu"
                  parent="kw_canteen_report_sub_menu"
                  sequence="7"
                  action="kw_canteen_expense_master_pivot_action_window"
                  groups="kw_canteen.canteen_manager_group"/>
<!-- 
        <menuitem name=" Correction Request"
                  id="correction_request_menu_id"
                  parent="kw_canteen_request_sub_menu"
                  sequence="4"/> -->

        <!-- <menuitem name=" Apply"
                  id="correction_request_apply_id"
                  parent="correction_request_menu_id"
                  sequence="1"
                  action="kw_canteen_correction_request_action_id"/> -->

        <menuitem name="Feedback" id="canteen_feddback_sub_menu"
                  parent="kw_canteen_main_menu" sequence="6" />

        <menuitem name="Meal Feedback" id="canteen_meal_feddback_sub_menu"
                  parent="canteen_feddback_sub_menu"
                  action="canteen_meal_feedback_action_window"
                  sequence="1"                  
                   />

        <menuitem name="Beverage Feedback" id="canteen_beverage_feddback_sub_menu"
                  parent="canteen_feddback_sub_menu" 
                  action="canteen_beverage_feedback_action_window"
                  sequence="2" />
        <menuitem name="Menu Items" id="weekly_menu_items"
                  parent="kw_canteen_main_menu" 
                  action="user_weekly_meal_action_window"
                  sequence="5" />

    </data>
</odoo>