$o-hr-info-chart-bg: white !default;
$o-hr-info-chart-border-color: $o-brand-secondary !default;

$o-hr-info-chart-entry-v-gap: 6px !default;
$o-hr-info-chart-entry-pic-size: 46px !default;
$o-hr-info-chart-entry-line-w: 1px !default;
$o-hr-info-chart-entry-border-color: darken($o-hr-info-chart-bg, 25%) !default;

// MIXINS
@mixin o-hr-info-chart-line {
    content: '';
    background-color: $o-hr-info-chart-bg;
    border: 0px solid $o-hr-info-chart-entry-border-color;
}
