body{margin: 0;padding: 0;font-size: 1rem;font-family: sans-serif;}
.main__wrapper{display: flex;align-items: center;justify-content: center;min-height: 75vh!important;text-align: left;} 
.voting__card {width: 750px;padding: 2.5rem 2rem;background: #ffedea;box-shadow: 0px 0px 3px #fb9985;}
.voting__card h3 {font-size: 1.5rem;line-height: 1.3;margin-top: 0px;margin-bottom: 1.7rem;}
.voting__card span {font-size: 1.3rem;font-weight: 400;}
.voting__card p{margin: 1rem 0;line-height: 1.5;}
.go__btn{background: #e75334;color: #fff;border-radius: 4px;padding: .7rem 3rem;transition: .35s ease;font-weight: 500;text-decoration: none; display: inline-block;margin-top: 1rem;}
.go__btn:hover{box-shadow: 0px 0px 15px #b64935;text-decoration: none;color: #fff;}
body.o_connected_user{padding-top:0px !important}
#oe_main_menu_navbar{display: none;}
#wrapwrap > main{margin-top:50px;}
.navbar-light{display: none;}
@media (max-width: 576px){
    .voting__card {
        margin: 1rem;
    }
}