tr.leave_count_details{
    background-color: #875a7bcc}

th.leave_count_header{
    border: 1px solid #afb2b5;
    width: 20px;
	color:#fff;
    
}

td.leave_count_data{border: 1px solid #afb2b5; text-align: center;}
