* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    @include transition(all,.3s, ease-in); 
}
body {
    background: $grey-light;
    font-family: Roboto;
    font-size: 0.875rem;
}
%width {
    min-width: 150px;
}
// %flex {
//     flex: 0 0 18%;
// }
%white-bg {
	background: $white;
    padding: 16px;
}
%card {
    // box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px 0px;
    box-shadow: 0 0 0 1px rgba(20,20,31,.05), 0 1px 3px 0 rgba(20,20,31,.15);
    border-radius: 4px;
}
%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
%scroll-bar {
    &::-webkit-scrollbar {
        width: 8px;
        &-track {
            background: #f1f1f1; 
        }
        &-thumb {
            background: #888; 
            &:hover {
                background: #555; 
            }
        }
    }
}
%content-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 100%;
    @extend %scroll-bar;
}
%border-bottom {
    position: relative;
    padding-bottom: 4px;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        border: 1px solid $brand-secondary;
    }
}
%sub-heading {
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: capitalize;
    line-height: 1;
    display: block;
    margin-bottom: 10px;
}
span[class*="icon"] {
    font-size: 1.125rem;
}
// btn
button {
    text-transform: capitalize;
    color: $white;
    padding: 8px 16px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    margin: 0 4px;
    &.save_btn {
        background: $brand-secondary;
        &:hover {
            background: lighten($brand-secondary, 5%);
        }
        &:focus {
            background: lighten($brand-secondary, 5%);
            outline: 0;
        }
    }
    &.btn_primary {
        background: $brand-primary;
        &:hover {
            background: lighten($brand-primary, 5%);
        }
        &:focus {
            background: lighten($brand-primary, 5%);
            outline: 0;
        }
    }
}

// form control
.form-control {
    font-size: 1rem;
    height: 40px;
    &:focus {
        outline: 0;
        box-shadow: none;
    }
}
.page_heading {
    background: $grey-light;
    padding: 10px;
    border-left: $brand-primary 4px solid;
}