<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <data>
        <!-- Root menu  -->
        <menuitem
            id="bsscl_tour_root_menu_id"
            web_icon="bsscl_tour,static/description/icon.jpeg"
            name="Tour / यात्रा"
            sequence="5"/>

            <!-- Child menu  -->
            <menuitem
                id="bsscl_tour_apply_subb_menu_id"
                name="Apply / आवेदन करना"
                parent="bsscl_tour_root_menu_id"
                action="bsscl_tour_action_id"
                sequence="1"/>

                <!-- Grand child menu  -->
                <menuitem
                    id="bsscl_tour_apply_child_menu_id"
                    name="Apply Tour / भ्रमण लागू करें"
                    parent="bsscl_tour_apply_subb_menu_id"
                    action="bsscl_tour_action_id"
                    sequence="1"/>
                <menuitem
                    id="bsscl__take_action_tour_subb_at_manager_menu_id"
                    name="Pending At Manager / प्रबंधक के पास लंबित"
                    groups="bsscl_tour_manager_group_id"
                    parent="bsscl_tour_apply_subb_menu_id"
                    action="bsscl_tour_manager_action_id"
                    sequence="2"/>
                <!-- <menuitem
                    id="bsscl__take_action_tour_subb_at_deputy_menu_id"
                    name="Pending At Deputy-Commissioner / उपायुक्त के पास लंबित है"
                    groups="bsscl_employee.deputy_com_id"
                    parent="bsscl_tour_apply_subb_menu_id"
                    action="bsscl_tour_deputy_comm_action_id"
                    sequence="2"/>
                <menuitem
                    id="bsscl__take_action_tour_subb_at_commi_menu_id"
                    name="Pending At Commissioner / आयुक्त के पास लंबित है"
                    groups="bsscl_employee.commissioner_id"
                    parent="bsscl_tour_apply_subb_menu_id"
                    action="bsscl_tour_commissioner_action_id"
                    sequence="2"/> -->
                <menuitem
                    id="bsscl__take_action_tour_subb_completed_menu_id"
                    name="Completed / पुरा होना।"
                    parent="bsscl_tour_apply_subb_menu_id"
                    action="bsscl_tour_completed_action_id"
                    sequence="2"/>
                <menuitem
                    id="bsscl_tour_apply_view_subb_menu_id"
                    name="View Status / स्थिति देखें"
                    groups="bsscl_tour_user_group_id"
                    parent="bsscl_tour_apply_subb_menu_id"
                    action="bsscl_tour_view_status_action_id"
                    sequence="3"/>

            <menuitem
                id="bsscl_tour_apply_advance_id"
                name="Advance Request / अग्रिम अनुरोध"
                parent="bsscl_tour_root_menu_id"
                sequence="1"/>
                <menuitem 
                    id="bsscl_tour_apply_advance_sub_id"
                    name="Apply / आवेदन करना"
                    parent="bsscl_tour_apply_advance_id"
                    action="bsscl_tour_Advance_action_id"
                    sequence="1"/>
                <menuitem 
                    id="bsscl_tour_take_action_advance_sub_id"
                    name="Take Action / कार्यवाही करना"
                    groups="bsscl_tour_manager_group_id,bsscl_tour_finance_group_id"
                    parent="bsscl_tour_apply_advance_id"
                    action="bsscl_tour_Advance_take_action_id"
                    sequence="1"/>
                <menuitem 
                    id="bsscl_tour_status_action_advance_sub_id"
                    name="Advance Status / अग्रिम स्थिति"
                    parent="bsscl_tour_apply_advance_id"
                    action="bsscl_tour_Advance_status_action_id"
                    sequence="1"/>

            <menuitem
                id="bsscl_tour_apply_settlement_id"
                name="Tour Settlement / भ्रमण बंदोबस्त"
                parent="bsscl_tour_root_menu_id"
                sequence="1"/>
                <menuitem 
                    id="bsscl_tour_apply_settlement_sub_id"
                    name="Apply / आवेदन करना"
                    parent="bsscl_tour_apply_settlement_id"
                    action="bsscl_tour_settlement_action_id"
                    sequence="1"/>
                <menuitem 
                    id="bsscl_tour_take_action_settlement_sub_id"
                    name="Take Action / कार्यवाही करना"
                    groups="bsscl_tour_manager_group_id,bsscl_tour_finance_group_id"
                    parent="bsscl_tour_apply_settlement_id"
                    action="bsscl_tour_settlement_take_action_id"
                    sequence="1"/>
                <menuitem 
                    id="bsscl_tour_status_action_settlement_sub_id"
                    name="Settlement Status / निपटान स्थिति"
                    parent="bsscl_tour_apply_settlement_id"
                    action="bsscl_tour_settlement_status_action_id"
                    sequence="1"/>
            <menuitem
                id="bsscl_tour_conf_sub_menu_id"
                name="Configuration / विन्यास"
                groups="bsscl_tour_manager_group_id"
                parent="bsscl_tour_root_menu_id"
                action="bsscl_tour_action_id"
                sequence="2"/>

                <!-- Grand child menu  -->
                <menuitem
                    id="bsscl_tour_conf_exp_type_sub_menu_id"
                    name="Expense Type / व्यय प्रकार"
                    parent="bsscl_tour_conf_sub_menu_id"
                    action="bsscl_expense_type_action_id"
                    sequence="1"/>
                <menuitem
                    id="bsscl_tour_allowance_conf_sub_menu_id"
                    name="Allowance Configuration / भत्ता व्यवस्था का प्रारूप"
                    parent="bsscl_tour_conf_sub_menu_id"
                    action="bsscl_tour_allowance_action_id"
                    sequence="2"/>
                <menuitem
                    id="bsscl_tour_city_conf_sub_menu_id"
                    name="City Configuration / शहर व्यवस्था का प्रारूप"
                    parent="bsscl_tour_conf_sub_menu_id"
                    action="bsscl_tour_city_action_id"
                    sequence="3"/>
                <menuitem
                    id="bsscl_tour_da_conf_sub_menu_id"
                    name="DA Configuration / 
                    महंगाई भत्ता व्यवस्था का प्रारूप"
                    parent="bsscl_tour_conf_sub_menu_id"
                    action="bsscl_tour_da_action_id"
                    sequence="4"/>
                <menuitem
                    id="bsscl_tour_mdcl_exp_conf_sub_menu_id"
                    name="Medical Expense / चिकित्सा खर्च"
                    parent="bsscl_tour_conf_sub_menu_id"
                    action="bsscl_medical_expense_master_action_id"
                    sequence="5"/>
                <menuitem
                    id="bsscl_tour_tele_exp_conf_sub_menu_id"
                    name="Telephone Bills Expense / टेलीफोन बिल खर्च"
                    parent="bsscl_tour_conf_sub_menu_id"
                    action="bsscl_telephone_bill_exp_master_action_id"
                    sequence="6"/>
                <menuitem
                    id="bsscl_tour_gst_house_conf_sub_menu_id"
                    name="Guest House / अतिथि गृह"
                    parent="bsscl_tour_conf_sub_menu_id"
                    action="bsscl_guest_house_action_id"
                    sequence="7"/>
    </data>
    

</odoo>
