@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  transition: all 0.3s ease-in 0s;
}

body {
  background: #EEEEEE;
  font-family: Roboto;
  font-size: 0.875rem;
}

header h1, .main_body .side_bar {
  min-width: 150px;
}

header, footer, .main_body .content_body {
  background: #fff;
  padding: 16px;
}

.main_body .side_bar, .main_body .content_body, .main_body .person_details .profile, .main_body .person_details .notification {
  box-shadow: 0 0 0 1px rgba(20, 20, 31, 0.05), 0 1px 3px 0 rgba(20, 20, 31, 0.15);
  border-radius: 4px;
}

.main_body .content_body .content_app .app_icon, .main_body .person_details .notification_area .nav-link_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_body .content_body .content_app::-webkit-scrollbar, .main_body .person_details .notification_area::-webkit-scrollbar {
  width: 8px;
}

.main_body .content_body .content_app::-webkit-scrollbar-track, .main_body .person_details .notification_area::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.main_body .content_body .content_app::-webkit-scrollbar-thumb, .main_body .person_details .notification_area::-webkit-scrollbar-thumb {
  background: #888;
}

.main_body .content_body .content_app::-webkit-scrollbar-thumb:hover, .main_body .person_details .notification_area::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main_body .content_body .content_app, .main_body .person_details .notification_area {
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 100%;
}

footer .footer_heading, .main_body .content_heading {
  position: relative;
  padding-bottom: 4px;
}

footer .footer_heading::before, .main_body .content_heading::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border: 1px solid #00A09D;
}

footer .footer_heading, .main_body .content_body .content_app .app_name {
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: capitalize;
  line-height: 1;
  display: block;
  margin-bottom: 10px;
}

span[class*="icon"] {
  font-size: 1.125rem;
}

button {
  text-transform: capitalize;
  color: #fff;
  padding: 8px 16px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  margin: 0 4px;
}

button.save_btn {
  background: #00A09D;
}

button.save_btn:hover {
  background: #00bab6;
}

button.save_btn:focus {
  background: #00bab6;
  outline: 0;
}

button.btn_primary {
  background: #875a7b;
}

button.btn_primary:hover {
  background: #966489;
}

button.btn_primary:focus {
  background: #966489;
  outline: 0;
}

.form-control {
  font-size: 1rem;
  height: 40px;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
}

.page_heading {
  background: #EEEEEE;
  padding: 10px;
  border-left: #875a7b 4px solid;
}

header {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
  padding: 0 12px;
}

header h1 .navbar-brand img {
  width: 100px;
}

header .header_filter select {
  padding: 10px 24px;
  border: 0;
  width: 100px;
  border-radius: 4px;
  outline: 0;
  background: #EEEEEE;
  color: #757575;
}

header .header_filter select:focus {
  border: 1px solid #875a7b;
}

header .header_filter label {
  margin-bottom: 0;
}

header .utilities .log_out_btn {
  background: #875a7b;
  color: #fff;
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 80px;
  text-decoration: none;
}

header .utilities .log_out_btn:hover {
  background: #68465f;
}

@media (min-width: 992px) {
  header .utilities {
    min-width: 100px;
  }
  header .utilities .log_out_btn {
    width: 100px;
    height: 80px;
  }
  header .utilities .log_out_btn:hover {
    background: #68465f;
  }
  header .utilities .log_out_btn span {
    font-size: 2rem;
  }
  header select {
    min-width: 300px;
  }
}

footer .copy_right {
  border-top: 1px solid #EEEEEE;
  text-align: center;
  padding-top: 16px;
  margin-top: 16px;
}

footer .quick_link {
  text-transform: capitalize;
}

footer .quick_link a {
  color: #000;
  text-decoration: none;
  display: block;
  position: relative;
  padding-left: 16px;
}

footer .quick_link a:hover {
  color: #875a7b;
}

footer .quick_link a::before {
  content: ".";
  font-size: 2rem;
  position: absolute;
  left: 0;
  top: -24px;
}

footer p {
  margin-bottom: 6px;
}

footer span[class*="icon"] {
  color: #a81181;
  vertical-align: middle;
  font-size: 1rem;
  padding-right: 14px;
}

footer .footer_heading {
  padding-bottom: 10px;
}

footer .footer_heading:before {
  width: 55px;
}

footer a {
  color: #000;
}

footer a:hover {
  color: #875a7b;
}

footer iframe {
  border-radius: 4px;
}

.main_body {
  position: relative;
  min-height: calc(100vh - 210px);
  display: flex;
  flex-direction: column;
  margin: 95px 0 15px;
}

.main_body .content_heading {
  margin-bottom: 16px;
}

.main_body .content_heading::before {
  width: 65px;
}

.main_body .side_bar {
  background: #3c3c3c;
  margin-left: 16px;
  margin-bottom: 16px;
  overflow-x: scroll;
}

.main_body .side_bar p {
  font-size: 1.24rem;
}

.main_body .side_bar .nav {
  border: 0;
  flex-wrap: nowrap;
}

.main_body .side_bar .nav-item {
  border-right: 1px solid #565656;
}

.main_body .side_bar .nav-item:last-child {
  border: 0;
}

.main_body .side_bar .nav-link {
  color: #fff;
  border: 0;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  padding: 20px 16px 10px;
  min-width: 150px;
  height: 100%;
  transition: all 0.3s ease-in-out 0s;
}

.main_body .side_bar .nav-link span {
  display: block;
  margin-bottom: 4px;
}

.main_body .side_bar .nav-link span[class*="icon"] {
  font-size: 2.625rem;
  color: rgba(214, 214, 211, 0.7);
  transition: all 0.3s ease-in-out 0s;
}

.main_body .side_bar .nav-link:hover {
  background: #494949;
}

.main_body .side_bar .nav-link:hover span[class*="icon"] {
  color: #d6d6d3;
}

.main_body .side_bar .nav-link.active {
  background: #875a7b;
}

.main_body .side_bar .nav-link.active span {
  color: #fff;
}

.main_body .content_body {
  flex: 1;
  margin: 0 16px;
}

.main_body .content_body .row {
  padding: 0 8px;
}

.main_body .content_body .row [class*="col-"] {
  padding: 0 8px;
}

.main_body .content_body .content_app {
  max-height: 500px;
  margin-bottom: 16px;
}

.main_body .content_body .content_app .app {
  margin-bottom: 16px;
  border: solid 1px #EEEEEE;
  border-radius: 4px;
  display: flex;
}

.main_body .content_body .content_app .app_details {
  padding: 12px;
}

.main_body .content_body .content_app .app_icon {
  background: #EEEEEE;
  border-radius: 6px;
  padding: 16px;
}

.main_body .content_body .content_app .app_icon span[class*="icon"] {
  font-size: 2rem;
}

.main_body .person_details {
  max-width: 100%;
}

.main_body .person_details .profile {
  text-transform: capitalize;
  background: #875a7b;
  margin-bottom: 16px;
  color: #fff;
}

.main_body .person_details .profile_details {
  background-color: #ac82a0;
  padding: 16px;
  border: 0 0 4px 4px;
  margin-bottom: 16px;
}

.main_body .person_details .profile_img {
  width: 120px;
  height: 120px;
}

.main_body .person_details .profile_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.main_body .person_details .profile_img img.img-thumbnail {
  background-color: #ac82a0;
  border: 1px solid #ac82a0;
}

.main_body .person_details .profile .name {
  font-size: 1.4rem;
  margin-bottom: 4px;
}

.main_body .person_details .profile .designation {
  font-size: .9rem;
}

.main_body .person_details .profile_value::before {
  content: ":";
  padding-right: 16px;
}

.main_body .person_details .notification {
  background: #fff;
}

.main_body .person_details .notification_header {
  text-transform: uppercase;
  padding: 16px;
  border-bottom: 1px solid #D6D6D3;
}

.main_body .person_details .notification_header .icon-bell {
  color: #875a7b;
  font-size: 1.4rem;
}

.main_body .person_details .notification_header h6 {
  font-size: 1.1rem;
  font-weight: 700;
}

.main_body .person_details .notification_header .badge {
  color: #fff;
  padding: 4px;
  background: #00A09D;
}

.main_body .person_details .notification_header .view_all {
  color: #00A09D;
  border-radius: 32px;
  font-size: 1rem;
  padding: 6px 10px;
}

.main_body .person_details .notification_area {
  max-height: 315px;
  margin-bottom: 0;
}

.main_body .person_details .notification_area li {
  border-bottom: 1px solid #EEEEEE;
}

.main_body .person_details .notification_area li:last-child {
  border: 0;
}

.main_body .person_details .notification_area .nav-link {
  color: #000;
  border-bottom: solid 1px #D6D6D3;
  position: relative;
  padding-left: 40px;
  text-transform: capitalize;
}

.main_body .person_details .notification_area .nav-link:last-child {
  border: 0;
}

.main_body .person_details .notification_area .nav-link::before {
  content: ".";
  font-size: 78px;
  position: absolute;
  top: -4px;
  line-height: 0;
  left: 8px;
  color: #875a7b;
}

.main_body .person_details .notification_area .nav-link:hover {
  background: #EEEEEE;
}

.main_body .person_details .notification_area .nav-link_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
  color: #fff;
  font-size: 1.1rem;
}

.main_body .person_details .notification_area .nav-link span {
  display: block;
  color: #757575;
}

@media (min-width: 992px) {
  .main_body {
    flex-direction: row;
  }
  .main_body .side_bar {
    width: 150px;
  }
  .main_body .side_bar .nav-item {
    border-bottom: 1px solid #565656;
  }
  .main_body .person_details {
    width: 350px;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .main_body .content_body .col-xl-4 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}
/*# sourceMappingURL=home.css.map */