@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vm7zr5');
  src:  url('../fonts/icomoon.eot?vm7zr5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vm7zr5') format('truetype'),
    url('../fonts/icomoon.woff?vm7zr5') format('woff'),
    url('../fonts/icomoon.svg?vm7zr5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e929";
}
.icon-arrow-right:before {
  content: "\e92a";
}
.icon-phone:before {
  content: "\e933";
}
.icon-power_settings_new:before {
  content: "\e90a";
}
.icon-log-in:before {
  content: "\e90d";
}
.icon-settings2:before {
  content: "\e911";
}
.icon-assets:before {
  content: "\e900";
}
.icon-bell:before {
  content: "\e901";
}
.icon-customer-support:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-human-resources:before {
  content: "\e905";
}
.icon-implement:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-location:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e909";
}
