tr.timesheet .form-control { border: 1px solid #108fbb;}
.add-timesheet-row { color: green; cursor: pointer;}
.remove-timesheet-row { color: red;}
.tooltip.timesheet-tooltip > .tooltip-inner {background-color: rgba(0,0,0,0.9); color: #fff; border-radius: 5px; font-weight:700; box-shadow: inset 0 0 0 2px rgb(0, 0, 0); font-size: 13px; padding:10px;}
.tooltip.timesheet-tooltip > .tooltip-arrow { border-bottom-color:#137bb5; }
.o_web_client .o_view_grid tbody th > div{text-align:left;}

.o_web_client .o_view_grid thead th{
    white-space: normal;
}
.o_web_client .o_view_grid tfoot .o_grid_leave:not(.o_grid_total) {
        color: white;
        background-color: #7c7bad;
        text-align: right;
}
.o_web_client .o_view_grid .o_grid_leave:not(.o_grid_total) {
    background-color: #cccccc;
}

.o_web_client .o_view_grid th, .o_web_client .o_view_grid td{
    text-align: right;
}
.o_web_client .o_view_grid tfoot, .o_web_client .o_view_grid .o_grid_total{
    text-align: center;
}
.o_web_client .o_view_grid tfoot td{
    text-align: right;
}
.o_web_client .o_view_grid tfoot td:last-child{
    text-align: center;
}

.vertical_data{
    font-weight: bold;
    border: 1px solid #ddd;
    background-color:rgb(223, 244, 226) !important;
  
  }
.horizontal_data{
    font-weight: bold;
    border: 1px solid #ddd;
    background-color:rgb(245, 232, 231) !important;
  
  }