<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<data>
		<menuitem id="hr_payroll.menu_hr_payroll_root"
		          name="Payroll"
		          groups="kw_employee.group_payroll_manager,hr_payroll.group_hr_payroll_manager,payroll_inherit.payroll_finance_group"
				  web_icon="payroll_inherit,static/description/Payroll.png"
		          sequence="31"/>
		<record model="ir.ui.menu" id="hr_payroll.menu_hr_payroll_global_settings">
			<field name="sequence">41</field>
		</record>
		<record model="ir.ui.menu" id="base.menu_action_res_users">
			<field name="groups_id" eval="[(6, 0, [ref('kw_employee.group_payroll_manager')])]"/>
		</record>
		<record model="ir.ui.menu" id="base.menu_action_res_groups">
			<field name="groups_id" eval="[(6, 0, [ref('kw_employee.group_payroll_manager')])]"/>
		</record>
		<record model="ir.ui.menu" id="hr_payroll.menu_department_tree">
			<field name="sequence">2</field>
		</record>
		<record model="ir.ui.menu" id="hr_payroll.menu_hr_payslip_run">
			<field name="sequence">1</field>
		</record>

		<menuitem id="hr.menu_hr_reporting_timesheet"
		          name="Reporting"
		          parent="hr_payroll.menu_hr_payroll_root"
		          groups="kw_employee.group_payroll_manager"
		          sequence="99"/>
		<record model="ir.ui.menu" id="hr.menu_hr_reporting_timesheet">
			<field name="groups_id" eval="[(6, 0, [ref('kw_employee.group_payroll_manager')])]"/>
		</record>

		<menuitem id="process_payroll_menu"
		          name="Process Payroll"
		          parent="hr_payroll.menu_hr_payroll_root"
		          sequence="-15"
		          groups="kw_employee.group_payroll_manager"/>
		<menuitem id="hr_menu_contract_payroll"
		          name="Contracts"
		          action="hr_contract.action_hr_contract"
		          parent="hr_payroll.menu_hr_payroll_root"
		          sequence="11"
		          groups='kw_employee.group_payroll_manager'
		/>
		<!-- <record model="ir.ui.menu" id="hr_payroll.menu_hr_salary_rule_category">
			<field name="groups" eval="[(6, 0, [ref('hr_payroll.group_hr_payroll_manager')])]"/>
		</record> -->
		<record model="ir.ui.menu" id="hr_payroll.menu_department_tree">
			<field name="groups_id" eval="[(6, 0, [ref('kw_employee.group_payroll_manager')])]"/>
		</record>

		<record model="ir.ui.menu" id="hr_payroll.menu_hr_payslip_run">
			<field name="groups_id" eval="[(6, 0, [ref('kw_employee.group_payroll_manager')])]"/>
		</record>
		<record model="ir.ui.menu" id="hr_payroll.hr_contract_advantage_template_menu_action">
			<field name="active" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="hr_payroll.menu_hr_salary_rule_category">
			<field name="groups_id" eval="[(6, 0, [ref('hr_payroll.group_hr_payroll_manager')])]"/>
		</record>
		<record model="ir.ui.menu" id="hr_payroll.menu_action_hr_salary_rule_form">
			<field name="groups_id" eval="[(6, 0, [ref('hr_payroll.group_hr_payroll_manager')])]"/>
		</record>

		<record model="ir.ui.menu" id="l10n_in_hr_payroll.hr_menu_payment_advice">
			<field name="action" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="l10n_in_hr_payroll.menu_reporting_payslip">
			<field name="action" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="l10n_in_hr_payroll.menu_l10n_in_hr_payroll_report">
			<field name="action" eval="False"/>
		</record>

		<record model="ir.ui.menu" id="l10n_in_hr_payroll.menu_reporting_payment_advice">
			<field name="action" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="hr.menu_hr_reporting_timesheet">
			<field name="name">Reports</field>
		</record>
		<record model="ir.ui.menu" id="l10n_in_hr_payroll.menu_yearly_salary_detail">
			<field name="action" eval="False"/>
		</record>
		<record model="ir.ui.menu" id="l10n_in_hr_payroll.menu_salary_employee_month">
			<field name="action" eval="False"/>
		</record>
		 
		<!-- This Menu Item must have a parent and an action -->
		<menuitem id="kenya_report_root_menu" name="Kenya Reports" parent="hr.menu_hr_reporting_timesheet" sequence="300"/>
		<menuitem name="NHIF Report" id="nhif_report_menu" parent="kenya_report_root_menu"
		action="payslip_nhif_report_action" sequence="105" />
		<menuitem name="NSSF Report" id="nssf_master_menu" parent="kenya_report_root_menu" action="nssf_master_action" sequence="100"/>
		<menuitem name="PAYE Report" id="tax_master_menu" parent="kenya_report_root_menu" action="tax_master_action" sequence="100"/>
		<menuitem name="Housing Levy Report" id="housing_report_menu"
		parent="kenya_report_root_menu" action="payslip_housing_levy_report_action"
		sequence="106" />
		<menuitem name="Consolidate Salary Report"
		id="consolidate_report_menu"
		parent="kenya_report_root_menu"
		action="monthly_salary_report_filter_action"
		sequence="2"
		/>
		<menuitem id="kenya_report_finance_root_menu" name="Kenya Reports" parent="payroll_inherit.finance_payroll_menu" sequence="600"/>

		<menuitem name="Consolidate Salary Report"
		id="consolidate_report_verified_menu"
		parent="kenya_report_finance_root_menu"
		action="monthly_salary_report_filter_hr_action"
		sequence="170"
	/>
	</data>
</odoo>