// base
@import 'base/_variables.scss';
@import 'base/mixin';
@import 'base/_fonts.scss';
@import 'base/_base.scss';
// layout
@import 'layouts/_header.scss';
@import 'layouts/_footer.scss';
 

.main_body {
    position: relative;
    min-height: calc(100vh - 210px);
    display: flex;
    flex-direction: column;
    margin: 95px 0 15px;
    // content_heading
    .content_heading {
        @extend %border-bottom;
        margin-bottom: 16px;
        &::before {
            width: 65px;
        }
    }
     // side_bar
    .side_bar {
        background: $sidebar-bg;
        margin-left: 16px;
        margin-bottom: 16px;
        @extend %card;
        @extend %width;
        // position: fixed;
        // top: 100px;
        // bottom: 120px;
        overflow-x: scroll;
        p {
        font-size: 1.24rem;
        }
        .nav {
            // overflow: auto;
            // height: calc(100% - 100px);
            border: 0;
            flex-wrap: nowrap;
            &-item {
                border-right: 1px solid lighten( $sidebar-bg,10%);
                &:last-child {
                    border: 0;
                }
            }
            &-link {
                color: $white;
                border: 0;
                text-transform: uppercase;
                // padding: 12px 4px 4px;
                text-align: center;
                border-radius: 4px;
                padding: 20px 16px 10px;
                min-width: 150px;
                height: 100%;
                @include transition(all,.3s, ease-in-out);
                span {
                    display: block;
                    margin-bottom: 4px;
                    &[class*="icon"] {
                        font-size: 2.625rem;
                        color: rgba($grey,.7);
                        @include transition(all,.3s, ease-in-out);
                    }
                }
                &:hover {
                    background: lighten( $sidebar-bg,5%);
                    span {
                        &[class*="icon"] {
                            color: rgba($grey,1);
                        }
                    }
                }
                &.active {
                    background:  $brand-primary;
                    span {
                        color: $white;
                    }
                }
            }
        }
    }
    // content_body
    .content_body {
        @extend %white-bg;
        flex: 1;
        // box-shadow: rgba($black, 0.2) 0px 1px 10px 0px;	
        @extend %card;
        margin: 0 16px;
        .row {
            padding: 0 8px;
            [class*= "col-"] {
                padding: 0 8px;
            }
        }
        .content_app {
            @extend %content-scroll ;
            max-height: 500px;
            margin-bottom: 16px;
            .app {
                margin-bottom: 16px;
                border: solid 1px $grey-light;
                border-radius: 4px;
                display: flex;
                &_details {
                    padding: 12px;
                }
                &_name {
                    @extend %sub-heading;
                }
                &_icon { 
                    background: $grey-light;
                    border-radius: 6px;
                    padding: 16px;
                    @extend %flex-center;

                    span[class*="icon"] {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
    // person_details
    .person_details {
        // width: 350px;
        max-width: 100%;
        // position: relative;
        // &::before {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 370px;
        //     background: $brand-primary;
        //     border-radius: 0 0 32px 32px;
        // }
        .profile {
            // position: relative;
            text-transform: capitalize;
            background: $brand-primary;
            @extend %card;
            margin-bottom: 16px;
            color: $white;
            &_details {
                background-color: lighten($brand-primary, 15%);
                padding: 16px;
                border: 0 0 4px 4px;
                margin-bottom: 16px;
            }
            &_img {
                width: 120px;
                height: 120px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 4px;
                   &.img-thumbnail {
                        background-color: lighten($brand-primary, 15%);
                        border: 1px solid lighten($brand-primary, 15%);
                   }
                }
            }
            // p {
                
            //     margin-bottom: 14px;
            // }
            .name {
                font-size: 1.4rem;
                margin-bottom: 4px;
            }
            .designation {
                font-size: .9rem;
            }
            &_value {
                &::before {
                    content: ":";
                    padding-right: 16px;
                }
            }
        }
        .notification {
            @extend %card;
            background: $white;
           &_header {
                text-transform: uppercase;
                padding: 16px;
                border-bottom: 1px solid $grey;
                .icon-bell {
                    color: $brand-primary;
                    font-size: 1.4rem;
                }
                h6 {
                    font-size: 1.1rem;
                    font-weight: 700;
                }
               .badge {
                    color: $white;
                    padding: 4px;
                    background: $brand-secondary;
               }
               .view_all {
                    color: $brand-secondary;
                    border-radius: 32px;
                    font-size: 1rem;
                    padding: 6px 10px ;
               }
           }
           &_area {
                @extend %content-scroll;
                max-height: 315px;
                margin-bottom: 0;
                li {
                    border-bottom: 1px solid $grey-light;
                    &:last-child {
                        border: 0;
                    }
                }
                .nav-link {
                    color: $black;
                    border-bottom: solid 1px $grey;
                    position: relative;
                    padding-left: 40px;
                    text-transform: capitalize;
                    &:last-child {
                        border: 0;
                    }
                    &::before {
                        content: ".";
                        font-size: 78px;
                        position: absolute;
                        top: -4px;
                        line-height: 0;
                        left: 8px;
                        color: $brand-primary;
                    }
                    &:hover {
                        background: $grey-light;
                    }
                    &_icon {
                        @extend %flex-center ;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-right: 8px;
                        color: $white;
                        font-size: 1.1rem;
                    }
                    span {
                        display: block;
                        color: $grey-dark;
                    }
                }
           }
        }
    }
}

@media (min-width: 992px) {
    .main_body {
        flex-direction: row;
        .side_bar {
            width: 150px;
            .nav {
                &-item {
                    border-bottom: 1px solid lighten( $sidebar-bg,10%);                    
                }
            }
        }
        .person_details {
            width: 350px;
        }
    }
}
@media (min-width: 1200px ) and (max-width:1599px ) {
    .main_body .content_body {
        .col-xl-4 {
            flex: 0 0 50% !important;
            max-width: 50% !important;
        }
    }
}