/* custom_styles.css
.oe_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2C3E50;
    background-color: #F8F9FA;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
}

.custom_group {
    border: 1px solid #D3D3D3;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #F0F8FF;
    border-radius: 5px;
}

.custom_label {
    font-size: 14px;
    color: #34495E;
}

.custom_field {
    margin-bottom: 10px;
}

.page_header {
    font-size: 16px;
    font-weight: bold;
    color: #2C3E50;
    margin-bottom: 10px;
    background-color: #E9ECEF;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
}

.field_highlight {
    background-color: #FFFAE5;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #FFC107;
} */

/* Custom CSS for form styling */
.eq-custom-group {
    background-color: #f0f6f7;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.eq-custom-label {
    color: #333;
    font-weight: bold;
}

.eq-custom-field {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
}

.eq-custom-separator {
    background-color: #b6eaf2;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 3px;
}
/*MIF ====================================== */
.tbl_resource .o_list_view thead > tr > th.o_list_number_th {
    text-align: right;
}
.center-val{
    text-align: center!important;
    
}
.mif-table .o_list_view thead > tr > th.o_list_number_th{
    text-align: center!important;
}
.mif-table th {
    text-align: center;
    padding: 17px 0px;
}
.mif-table td {
    vertical-align: middle;
}
.btn-mif
    {
        border: none;
        text-decoration: underline;
        color: blue;
        font-weight: bold;
        background: none;
    }
/* .mif-table  {
    height: 20px;
} */