<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <data>
        <menuitem id="employee_profile_root_menu"
                  name="Employee Profile"
                  sequence="107"
                  parent="hr.menu_hr_root"
                 />
        <menuitem id="employee_profile_cv_root_menu"
                 name="CV Details"
                 sequence="107"
                 parent="hr.menu_hr_root"
                />
    </data>
</odoo>