<odoo>
    <data>
        <menuitem   id="sbu_root_menu" 
                    name="Resource Management" sequence="80" 
                    web_icon="kw_resource_management,static/description/icon.png" 
                    action='hrms_budget_mapping_action'/>

        <menuitem   id="sbu_resource_tagging_menu" name="SBU Tagging" 
                    parent="sbu_root_menu" action="sbu_resource_tagging_action" 
                    sequence="1"/>
        <menuitem   id="sbu_requisition_menu" name="Requisition" 
                    parent="sbu_root_menu" action="sbu_requisition_action" 
                    sequence="2"/>
        <menuitem   id="sbu_parent_menu" name="Report" 
                    parent="sbu_root_menu" sequence='3'/>
                    
        <menuitem   id="csm_hrms_budget_mapping_menu"
                    name="Resource MIS(CSM)"
                    parent="sbu_parent_menu"
                    sequence="1"
                    action="hrms_budget_mapping_action"
                    groups="kw_resource_management.group_budget_manager"/>

        <menuitem   id="outsource_hrms_budget_mapping_menu"
                    name="Resource MIS(Vendor)"
                    parent="sbu_parent_menu"
                    sequence="2"
                    action="outsource_hrms_budget_mapping_action"
                    groups="kw_resource_management.group_budget_manager"/>
               
        <menuitem   id="sbu_resource_mapping_menu"
                    name="Mapped to SBU"
                    parent="sbu_parent_menu"
                    action="sbu_resource_mapping_action"
                    sequence="3"
                    groups="kw_resource_management.group_budget_manager"/>

        <menuitem   id="project_time_management_menu" name="Project(T&amp;M) Management" 
                    parent="sbu_parent_menu" action="project_time_management_action" 
                    sequence="4" groups="kw_resource_management.group_budget_manager"/>

        <menuitem   id="sbu_bench_resource_menu" name="Talent Pool Report" 
                    parent="sbu_parent_menu" action="sbu_bench_resource_action" 
                    sequence="5" groups="kw_resource_management.group_budget_manager"/>

        <menuitem   id="unit_bench_resource_menu" name="Unit(SBU) Pool Report" 
                    parent="sbu_parent_menu" action="unit_bench_resource_action" 
                    sequence="6" groups="kw_resource_management.group_budget_manager" active='true'/>


        <menuitem   id="kw_project_resource_count_report_menu"
                    name="Project wise Report"
                    action="kw_project_resource_count_report_action"
                    parent="sbu_parent_menu"
                    sequence="7" 
		/>
        <menuitem   id="Project_wise_resource_menu_total"
                    name="Project Wise Report-(Total)"
                    action="Project_wise_resource_action"
                    sequence="8"
                    parent="sbu_parent_menu"
		/>
        <menuitem   id="technology_wise_resource_count_report_menu"
                    name="Technology wise Report"
                    action="technology_wise_resource_count_report_action"
                    parent="sbu_parent_menu"
                    sequence="9" 
		/>
        <menuitem   id="technolgy_total_count_project_report_menu"
                    name="Technology Wise Report-(Total)"
                    action="technology_wise_report_list_action"
                    sequence="10"
                    parent="sbu_parent_menu"
		/>
        <menuitem   id="forecasted_release_report_dashboard_menu"
                    name="Forecasted Release Report"
                    action="action_forecasted_release_report_wizard"
                    sequence="11"
                    parent="sbu_parent_menu"
		/>

        <menuitem   id="forecasted_release_report_menu"
                    name="Forecasted Release Report(Total)"
                    action="forecasted_release_report_action"
                    sequence="12"
                    parent="sbu_parent_menu"
		/>
         
        <menuitem   id="project_wise_resource_menu"
                    name="Resource Wise Report"
                    action="resource_wise_project_action"
                    parent="sbu_parent_menu"
                    sequence="13"
		/>
        <menuitem   id="horizontal_wise_resource_menu" name="Horizontal Resource Report" 
                    parent="sbu_parent_menu" action="horizontal_resource_action" sequence="13"
                    groups="kw_resource_management.group_budget_manager" active='true'/>
        
        <record id="rcm_project_resource_tagging_act_window" model="ir.actions.act_window">
                <field name="name">Resource Tagging</field>
                <field name="res_model">kw_project_resource_tagging</field>
                <field name="view_mode">tree</field>
                <field name="view_type">form</field>
            </record>
    


        <menuitem   id="sbu_wise_resource_menu"
                    name="SBU Resource Report"
                    parent="sbu_parent_menu"
                    action="sbu_resource_action" sequence="14"
                    groups="kw_resource_management.group_budget_manager" active='true'/>

        <menuitem   id="sbu_project_wise_head_count_report_menu"
                    name="SBU Project wise Report"
                    action="sbu_project_wise_head_count_action_report"
                    parent="sbu_parent_menu"
                    sequence="15" 
		/>
        <menuitem   id="sbu_wise_designaiton_report_menu"
                    name="SBU wise Designation Report"
                    action="sbu_wise_designaiton_report_action"
                    parent="sbu_parent_menu"
                    sequence="16" 
		/>
        <menuitem   id="central_bench_history_menu" name="Central Bench History Report" 
                    parent="sbu_parent_menu" action="central_bench_report_action" 
                    sequence="17" groups="kw_resource_management.group_bench_ctc_manager" />

        <menuitem   id="central_bench_weekly_ctc_menu" name="Central Bench Weekly CTC count" 
                    parent="sbu_parent_menu" action="central_bench_head_count_report_action" 
                    sequence="18" groups="kw_resource_management.group_bench_ctc_manager" />

        <menuitem   id="update_resource_skill_menu" name="Update Skill" 
                    parent="sbu_parent_menu" action="update_resource_skill_action" 
                    sequence="19"/>
        

        <menuitem   name="Skill Expertise Report" id="kw_skill_expertise_menu" sequence="20"
                    groups="kw_resource_management.group_budget_manager"
                    parent="kw_resource_management.sbu_parent_menu"
                    action="kw_resource_management.kw_all_emp_skill_action_window"/>  

        <menuitem   id="worforce_analytic_report_menu" name="Work Force Analytics Report" 
                    parent="sbu_parent_menu" action="work_force_analytics_report_action" 
                    sequence="21"/>

        <menuitem   id="capability_report_menu" name="Capability Report" 
                    parent="sbu_parent_menu" action="capability_filterd_report_action" 
                    sequence="22"/> 

        <menuitem   id="skill_analytic_report_menu" name="Skill Analytics Report" 
                    parent="sbu_parent_menu" action="skill_dashboard_analytics_report_action" 
                    sequence="23"/>

        <menuitem   id="master_menu" name="Engagement Plan Master" 
                    parent = "sbu_root_menu" sequence="4"/>
         
        <menuitem   id="engagement_plan_menu" name="Engagement Plan"
                    parent="master_menu" action="kw_engagement_master_action"
                    sequence="1"/>

        <menuitem   id="sbu_history_log_menu" name="SBU History Log"
                    parent="sbu_root_menu" sequence="5"/>

        <menuitem   id="sbu_tag_untag_log_menu" name="SBU Tagging History"
                    action ="sbu_tag_untag_log_action" parent="sbu_history_log_menu"
                    sequence="1"/>

        <menuitem   id="sbu_tag_untag_mail_log_menu" name="SBU Tagging Mail History"
                    action ="sbu_tag_untag_mail_log_action" parent="sbu_history_log_menu"
                    sequence="2"/>

        <menuitem   id="kw_resource_release_root_menu" name="Release Details" 
                    parent="sbu_history_log_menu" sequence="3" />

        <menuitem   id="kw_resource_release_log_menu" name="Unit(SBU) Resource Release Log" 
                    action="kw_resource_release_log_action" parent="kw_resource_release_root_menu" 
                    sequence="1" />

        <menuitem   id="rcm_project_resource_tagging_menu"
                    name="Resource Project Tagging Report"
                    action="rcm_project_resource_tagging_act_window" 
                    parent="sbu_history_log_menu"
                    sequence="4"/>

        <menuitem   id="kw_engagement_menu"
                    name="Central Bench Engagement"
                    parent="sbu_root_menu"
                    action="kw_central_engagement_action"
                    sequence="6"/>
        <menuitem   id="rcm_dashboard_root_menu"
                    name="Dashboard"
                    parent="sbu_root_menu"
                    sequence="7"/>
        <menuitem   id="menu_rcm_talentpool_dashboard" name="Talent Pool Analytics" 
                    action="rcm_action_dashboard"
                    parent="kw_resource_management.rcm_dashboard_root_menu" sequence="1"/>
                    
        <menuitem   id="menu_rcm_workforce_dashboard" name="Resource Nexus" 
                    action="rcm_work_force_action_dashboard"
                    parent="kw_resource_management.rcm_dashboard_root_menu" sequence="2"/>
        <menuitem   id="menu_rcm_skill_data_dashboard" name="Skill Analytics" 
                    action="rcm_skill_data_action_dashboard"
                    parent="kw_resource_management.rcm_dashboard_root_menu" sequence="3"/>
        <menuitem   id="rcm_master_root_menu"
                    name="Master"
                    parent="sbu_root_menu"
                    sequence="8"/>
        <menuitem   id="resource_skill_data_menu"
                    name="Employee Skill Master"
                    action="resource_skill_data_action_window"
                    parent="kw_resource_management.rcm_master_root_menu"
                    sequence="1"
		/>
        <menuitem   id="lnk_user_capability_report_menu" name="Skill Capability Report" 
                    parent="kw_skill_assessment.kw_skill_sheet_menu" 
                    action="kw_resource_management.lnk_user_capability_report_action" 
                    sequence="6"
                    groups="kw_resource_management.group_l_and_K_dept"/>

        <menuitem   id="lnk_user_capability_avg_report_menu" name="Average Skill Capability Report" 
                    parent="kw_skill_assessment.kw_skill_sheet_menu" 
                    action="kw_resource_management.lnk_user_avg_capability_report_action" 
                    sequence="7"
                    groups="kw_resource_management.group_l_and_K_dept"/>

        <!-- <menuitem id="menu_sbu_horizontal_tagging_list" name="SBU/Horizontal Tagging" 
                parent="rcm_master_root_menu" action="act_sbu_horizontal_tagging"
                sequence="3"/> -->
        <!-- <menuitem id="menu_sbu_horizontal_tagging_history" name="SBU/Horizontal History" 
                parent="rcm_master_root_menu" action="action_sbu_horizontal_tagging_history_tree"
                sequence="4"/> -->
    </data>
</odoo>
