.profile{
    border:1px solid #ddd!important;
}

.profile-left{
    background-color: #108fbb;
    display: flex;
    padding: 1rem 1rem;
    align-items: center;
    height: 100%;
}

.profile-left .img-thumbnail{
    border:1px solid transparent;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 0px!important;
    overflow: hidden;
}

.profile-right{
    padding:1rem 0rem;
}

.profile-right label{
    color: #6e6b6b;
    display: block;
    font-weight: 100!important;
}

.profile-right span{
    margin-bottom: 1rem!important;
    font-weight: 600;
}
.last-update label , .last-update span{
    font-size: 85%!important;
}
.last-update label{
    color: #6e6b6b; 
    font-weight: 100!important; 
}
.last-update span{
    font-weight: 600; 
}
.profile-tab ul li{
    margin-right:1rem;
    margin-bottom:1rem!important;
}

.profile-tab .nav-tabs .nav-link.active,.profile-tab .nav-tabs .nav-item.show {
    border-color: #dee2e6 #dee2e6 #dee2e6!important;
    background-color: #309ecd;
    color: #fff!important;
}
.profile-tab .nav-tabs .nav-link{
    padding:1rem 1rem;
}

.profile-tab .nav-tabs .nav-item {
    /* border: 1px solid #dee2e6; */
    background-color: #f6f6f6!important;
}

.profile-tab .nav-tabs .nav-item .nav-link{
    border: 1px solid #dee2e6;
    color: #000;
}

.profile-tab .nav-tabs {
    border-bottom: 0px solid #dee2e6;
}

.profile-tab .nav-tabs .nav-item .nav-link:hover{
    background-color: #309ecd;
    color:#fff;
}


.profile-summary-table-one,.profile-summary-table-two {
    min-height: 440px;
}

.profile-summary-table-one .o_horizontal_separator,
.profile-summary-table-two .o_horizontal_separator,
.personal-info-one .o_horizontal_separator,
.personal-info-two .o_horizontal_separator,
.joining-record-one .o_horizontal_separator,
.joining-record-two .o_horizontal_separator,
.cdp .o_horizontal_separator{
    margin: 0px 0px 10px 0px;
}


.account-info,
.profile-summary-table-one,
.profile-summary-table-two,
.personal-info-one,
.personal-info-two,
.personal-info-three,
.personal-info-four,
.joining-record-two,
.joining-record-one,
.employee-closure,
.cdp,
.family{
    background-color: #f6f6f6;
    border:1px solid #ddd; 
    padding:0rem 1rem;
}

.personal-info-one,.personal-info-two {
    min-height: 380px;
}

.profile-summary-table-one,
.personal-info-one,
.personal-info-three,
.joining-record-one
{
    margin-right: 2rem; 
}

.personal-info-three, .personal-info-four{
    min-height: 150px;
}

.joining-record-two,.joining-record-one{
    min-height: 303px;
}

.joining-record-one .btn-primary{
    margin-bottom: .5rem;
}

.joining-record-one label,
.employee-closure label,
.account-info label,
.cdp label,
.profile-summary-table-one label,
.profile-summary-table-two label,
.employee-closure label
{
    margin-bottom: 1rem!important;
}
.cdp ol{
    padding-left: 17px;
}

.profile-summary-table-one span,
.profile-summary-table-two span,
.account-info span,
.personal-info-one span,
.personal-info-two span,
.personal-info-three span,
.personal-info-four span,
.joining-record-one span.o_field_char.o_field_widget.o_readonly_modifier,
.employee-closure span.o_field_char.o_field_widget.o_readonly_modifier,
.cdp span{
    font-weight: bolder;
    color: #000000;
}
.o_form_view .notebook_emp_profile .inner_blocks {
    background-color: #f6f6f6;
    border:1px solid #ddd;
    padding:0rem 1rem;
    margin-bottom: 1rem;
}


.bold_string{
    font-weight:bold
}
