.cpd_applications_tree>table>thead>tr>th {
    background: linear-gradient(to right, rgb(14, 100, 175), rgb(98, 182, 255)) !important;
    color: white;
    text-align: center;
    padding: 4px;
}

.cpd_applications_tree>table>tbody>tr>td {
    background-color: #fcffff;
    color: black;
    text-align: center;
    border-bottom: 1px solid #c2f2ff;
}

.cpd_applications_tree>table>thead>tr>th:hover {
    background: linear-gradient(to right, rgb(28, 130, 189), rgb(122, 203, 255)) !important;
}

.cpd_applications_tree>table>tbody>tr:hover {
    transform: scale(1.005);
}







.cpd_applications_log_tree>table>thead>tr>th {
    background: linear-gradient(to right, rgb(224, 190, 20), rgb(255, 224, 67)) !important;
    color: black;
    text-align: center;
    padding: 4px;
}

.cpd_applications_log_tree>table>tbody>tr>td {
    background-color: #f8f8e9;
    color: black;
    text-align: center;
    border-bottom: 1px solid #ded00c;
}






// APPLY BUTTON
.kw_cpd_green {
    background-color: #c2fbd7;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.kw_cpd_green:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.1);
}



//REJECT BUTTON
.reject_cpd {
    background-color: #f6d2d2;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.reject_cpd:hover {
    box-shadow: rgba(187, 44, 44, .35) 0 -25px 18px -14px inset, rgba(187, 44, 44, .25) 0 1px 2px, rgba(187, 44, 44, .25) 0 2px 4px, rgba(187, 44, 44, .25) 0 4px 8px, rgba(187, 44, 44, .25) 0 8px 16px, rgba(187, 44, 44, .25) 0 16px 32px;
    transform: scale(1.1);
}



/* APPROVE BUTTON */
.approve_cpd {
    background-color: #d2d9fa;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.approve_cpd:hover {
    box-shadow: rgba(44, 87, 187, .35) 0 -25px 18px -14px inset, rgba(44, 87, 187, .25) 0 1px 2px, rgba(44, 87, 187, .25) 0 2px 4px, rgba(44, 87, 187, .25) 0 4px 8px, rgba(44, 87, 187, .25) 0 8px 16px, rgba(44, 87, 187, .25) 0 16px 32px;
    transform: scale(1.1);
}



/* CLOSE COLOR BUTTON */
.kw_cpd_red {
    background-color: rgba(173, 216, 230, 0.3);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.kw_cpd_red:hover {
    box-shadow: rgba(173, 216, 230, 0.5) 0 -25px 18px -14px inset, rgba(173, 216, 230, 0.3) 0 1px 2px, rgba(173, 216, 230, 0.3) 0 2px 4px, rgba(173, 216, 230, 0.3) 0 4px 8px, rgba(173, 216, 230, 0.3) 0 8px 16px, rgba(173, 216, 230, 0.3) 0 16px 32px;
    transform: scale(1.2);
}


// ORANGE BUTTON
.kw_cpd_orange {
    background-color: #ffd68b;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.kw_cpd_orange:hover {
    box-shadow: rgba(255, 165, 0, .35) 0 -25px 18px -14px inset, rgba(255, 165, 0, .25) 0 1px 2px, rgba(255, 165, 0, .25) 0 2px 4px, rgba(255, 165, 0, .25) 0 4px 8px, rgba(255, 165, 0, .25) 0 8px 16px, rgba(255, 165, 0, .25) 0 16px 32px;
    transform: scale(1.1);
}