.o_affix_enabled { display: none;}


.fiscal-year-filter-wrapper,.fy-desg-filter-wrapper,.fy-recruiter-filter-wrapper,.fy-offer-lv-filter-wrapper,.fy-grade-offer-filter-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(16, 143, 187, 0.8);
    z-index: 1;
    }

.fiscal-year-filter_container,.fy-offer-lv-filter_container,.fy-grade-offer-filter_container,.fy-dept-filter_container {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.fy-grade-filter-wrapper,.fy-dept-filter-wrapper,.fy-loc-offer-filter-wrapper,.fy-res-offer-filter-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(16, 143, 187, 0.8);
    z-index: 1;
    
}
.fy-grade-filter_container,.fy-loc-offer-filter_container,.fy-budg-offer-filter_container{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
.fy-department-filter-wrapper,.fy-hir-offer-filter-wrapper,.fy-skill-offer-filter-wrapper,.fy-company-offer-filter-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(16, 143, 187, 0.8);
    z-index: 1;
    
}
.fy-department-filter_container,.fy-hir-offer-filter_container,.fy-skill-offer-filter_container,.fy-company-offer-filter_container{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
.fy-location-filter-wrapper,.fy-recruiter-offer-filter-wrapper,.fy-desg-filter-offer-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(16, 143, 187, 0.8);
    z-index: 1;
    
}
.fy-location-filter_container,.fy_recru_filter_container,.fy_desg_filter_container{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
.fy-budget-filter-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(16, 143, 187, 0.8);
    z-index: 1;
    
}
.fy-budget-filter_container{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
.fy-resource-filter-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(16, 143, 187, 0.8);
    z-index: 1;
    
}
.fy-resource-filter_container{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
.fy-hiring-filter-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(16, 143, 187, 0.8);
    z-index: 1;
    
}
.fy-hiring-filter_container{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
.fy-skill-filter-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(16, 143, 187, 0.8);
    z-index: 1;
    
}
.fy-skill-filter_container{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
.fy-company-filter-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(16, 143, 187, 0.8);
    z-index: 1;
    
}
.fy-company-filter_container{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
.fy-designation-filter-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(16, 143, 187, 0.8);
    z-index: 1;
    
}
.fy-designation-filter_container{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}
.fy-recruiter-filter-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(16, 143, 187, 0.8);
    z-index: 1;
    
}
.fy-recruiter-filter_container{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.fy-source-lv-filter-wrapper,
.fy-source-hire-grade-rate-wrapper,
.fy-source-hire-depart-rate-wrapper,
.fy-source-hire-location-rate-wrapper,
.fy-source-hire-budget-rate-wrapper,
.fy-source-hire-resource-rate-wrapper,
.fy-source-hiring-res-rate-wrapper,
.fy-source-hire-skill-rate-wrapper,
.fy-source-hire-company-rate-wrapper,
.fy-source-hire-designation-wrapper,
.fy-source-hire-recruiter-wrapper,
.get-offer-to-join-grade-ratios-wrapper,
.get-offer-to-join-dept-ratio-wrapper,
.get-offer-to-join-loc-ratio-wrapper,
.get-offer-to-join-budget-wrapper,
.get-offer-to-join-resource-ratio-wrapper,
.get-offer-to-join-hire-res-ratio-wrapper,
.get-offer-to-join-skill-ratio-wrapper,
.get-offer-to-join-company-ratio-wrapper,
.get-offer-to-join-designation-ratio-wrapper,
.get-offer-to-join-recruiter-ratio-wrapper,
.get-offer-dropout-grade-ratio-wrapper,
.get-offer-dropout-dept-ratio-wrapper,
.get-offer-dropout-location-ratio-wrapper,
.get-offer-dropout-budget-ratio-wrapper,
.get-offer-dropout-resource-ratio-wrapper,
.get-offer-dropout-hiring-resource-ratio-wrapper,
.get-offer-dropout-skill-ratio-wrapper,
.get-offer-dropout-company-ratio-wrapper,
.get-offer-dropout-designation-ratio-wrapper,
.get-offer-dropout-recruiter-ratio-wrapper,
.infant-attraion-level-wrapper,
.infant-attraion-grade-wrapper,
.infant-attraion-dept-wrapper,
.infant-attraion-location-wrapper,
.infant-attraion-budget-wrapper,
.infant-attraion-resource-wrapper,
.infant-attraion-hiring-type-wrapper,
.infant-attraion-skill-wrapper,
.infant-company-wrapper,
.infant-company-designation-wrapper,
.infant-attration-designation-wrapper,
.infant-attration-recruiter-wrapper,
.mrf-tagged-dept-wrapper,
.mrf-tagged-location-wrapper,
.mrf-tagged-budget-wrapper,
.mrf-tagged-resource-wrapper,
.mrf-tagged-skill-wrapper,
.mrf-tagged-designation-wrapper,
.dept-vacancy-wrapper,
.desg-vacancy-wrapper,
.dept-wise-joined-wrapper,
.desg-wise-joined-wrapper,
.location-vacancy-wrapper,
.skill-vacancy-wrapper,
.skill-wise-joined-wrapper,
.location-wise-joined-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(16, 143, 187, 0.8);
    z-index: 1;
}

.fy-source-lv-filter_container,
.fy-source-hire-grade-rate-container,
.fy-source-hire-depart-rate-container,
.fy-source-hire-location-rate-container,
.fy-source-hire-budget-rate-container,
.fy-source-hire-resource-rate-container,
.fy-source-hiring-res-rate-container,
.fy-source-hire-skill-rate-container,
.fy-source-hire-comapny-rate-container,
.fy-source-hire-designation-container,
.fy-source-hire-recruiter-container,
.get-offer-to-join-grade-ratios-container,
.get-offer-to-join-dept-ratio-container,
.get-offer-to-join-loc-ratio-container,
.get-offer-to-join-budget-ratio-container,
.get-offer-to-join-resource-ratio-container,
.get-offer-to-join-hire-res-ratio-container,
.get-offer-to-join-skill-ratio-container,
.get-offer-to-join-company-ratio-container,
.get-offer-to-join-designation-ratio-container,
.get-offer-to-join-recruiter-ratio-container,
.get-offer-dropout-grade-ratio-container,
.get-offer-dropout-dept-ratio-container,
.get-offer-dropout-location-ratio-container,
.get-offer-dropout-budget-ratio-container,
.get-offer-dropout-resource-ratio-container,
.get-offer-dropout-hiring-resource-ratio-container,
.get-offer-dropout-skill-ratio-container,
.get-offer-dropout-company-ratio-container,
.get-offer-dropout-designation-ratio-container,
.get-offer-dropout-recruiter-ratio-container,
.infant-attraion-level-ratio-container,
.infant-attraion-grade-ratio-container,
.infant-attraion-dept-wrapper-container,
.infant-attraion-location-wrapper-container,
.infant-attraion-budget-wrapper-container,
.infant-attraion-resource-wrapper-container,
.infant-attraion-hiring-type-wrapper-container,
.infant-attraion-skill-wrapper-container,
.infant-company-wrapper-container,
.infant-attration-designation-container,
.infant-attration-recruiter-container,
.mrf-tagged-dept-container,
.mrf-tagged-location-container,
.mrf-tagged-budget-container,
.mrf-tagged-resource-container,
.mrf-tagged-skill-container,
.mrf-tagged-designation-container,
.dept-vacancy-container,
.desg-vacancy-container,
.dept-wise-joined-container,
.desg-wise-joined-container,
.location-vacancy-container,
.skill-vacancy-container,
.skill-wise-joined-container,
.location-wise-joined-container {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}