.employee-handbook{}
.employee-handbook .handbook-title{font-size:12px; color: #108cbb;}
.o_kanban_view.employee-handbook .o_kanban_record .o_kanban_record_title{font-size:12px; }
.o_kanban_view.employee-handbook .handbook-description{font-size:10px; }
.o_kanban_view.employee-handbook .o_kanban_group .o_kanban_header > .o_kanban_header_title .o_column_title{ color: #108cbb; }
.o_kanban_view.employee-handbook .o_kanban_counter > .o_kanban_counter_progress{ background-color: #108cbb; }
.o_kanban_view.employee-handbook .o_kanban_counter > .o_kanban_counter_side b{ color: white;
background-color: #108cbb;
padding: 2px 7px;
border-radius: 50%; }
.o_kanban_view.employee-handbook .o_kanban_group .o_kanban_header > .o_kanban_header_title .o_kanban_config{display: none; }
.o_kanban_view.employee-handbook .o_kanban_counter{margin-bottom: 5px; }
.o_kanban_view.employee-handbook .o_kanban_group{padding: 0 10px 16px 10px; }
.o_kanban_view.employee-handbook .o_kanban_counter > .o_kanban_counter_side{text-align: center; }
.o_kanban_view.employee-handbook .btn-success{background-color: #1a495a; border-color: #1a495a;}
