.employee_filter_container,.attendance_filter_container, .holiday_filter_container, .leave_absent_container, .timesheet_filter_container, .canteen_filter_container , .project-metrics-filter-container{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.card-header.d-flex.justify-content-between.align-items-center
{
    background-color: #ffc107;
    padding: 0.25rem 1.25rem;
}
.preload {
    display: flex;
    justify-content: center;
      align-items: center;
  }
  
.preload > span {
background: #ff9800;
border-radius: 50%;
margin: 5rem 0.5rem;
animation: bouncingLoader 0.6s infinite alternate;
}
.preload-container {
    position: relative;
    top: 80%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.preload-containers {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.preload-containerss {
    position: relative;
    top: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.preload > span:nth-child(2) {
    background: #d83d2b;
animation-delay: 0.3s;
}

.preload > span:nth-child(3) {
    background: #108fbb;
animation-delay: 0.6s;
}
  
  /* Define the animation called bouncingLoader. */
  @keyframes bouncingLoader {
    from {
      width: 0.5rem;
      height: 0.5rem;
      opacity: 1;
      transform: translate3d(0);
    }
    to {
      width: 1.5rem;
      height: 1.5rem;
      opacity: 0.8;
      transform: translate3d(0, -1rem, 0);
    }
  }
.employee-filter-wrapper,.attendance-filter-wrapper,.holiday-calendar-filter-wrapper,.leave-absent-wrapper, #announcement-form-data, #team-announcement-form-data,.timesheet-filter-wrapper,.canteen-filter-wrapper,.project-metrics-filter-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(16, 143, 187, 0.8);
    z-index: 1;
}

.portlets_added {
    color: green;
    font-weight: 700;
    pointer-events: none;
    cursor: pointer;
}

.icon-container {
    position: relative;
    width: 75px;
    height: 75px
}

.status_attendance {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid white;
    bottom: 0;
    right: 11px;
    position: absolute;
}

.btn-portlet::after {
    display: none;
}

.portlet_options::after {
    display: none;
}

.btn.portlet-option-button {
    background-color: transparent;
}

.btn.portlet-option-button:focus {
    box-shadow: none;
}

.portlet_options {
    cursor: pointer;
}

.dashboard_ninja_container {
    background-color: #ebe8e8;
    min-height: calc(100vh - 46px);
}

#dashboard_emp_directory_block_example {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

#dashboard_emp_directory_block_example::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
}

#dashboard_emp_directory_block_example::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    border-radius: 10px;
    background-color: #fff;
}

#dashboard_emp_directory_block_example::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#dashboard_attendance_block_example {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

#dashboard_attendance_block_example::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
}

#dashboard_attendance_block_example::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    border-radius: 10px;
    background-color: #fff;
}
.ks_dashboard_item:hover{
    box-shadow: 10px 10px 7px rgb(0 0 0 / 15%);
}
#dashboard_attendance_block_example::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.card.kw_dashboard_portlet {
    border-radius: 7px;
    background-color: #fff;
    overflow: hidden !important;
}

.card.kw_dashboard_portlet:hover {
    cursor: pointer;
    box-shadow: 10px 10px 7px rgb(0 0 0 / 15%);
    transition: all 0.5s ease;
}

.card.kwantify_portlet {
    border: 0;
}

.move_portlet {
    border: 1px solid #ddd;
    padding: 6px;
    background: #ebe8e8;
    border-radius: 50%;
    margin-right: 1rem;
}

/* Employee Portlet  */

.options {
    cursor: pointer;
    text-align: center;
}

.card-header.employee_directory_header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.employee_search {
    border: 0;
}

.dashboard-button.btn-outline-primary {
    color: #108fbb;
    border-radius: 25px;
    background-color: transparent;
    background-image: none;
    border-color: #108fbb;
    border: 2px solid;
}

.dashboard-button.btn-outline-primary:hover, .dashboard-button.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #108fbb;
    border-color: #108fbb;
}

#department-select, #location-select, #employee-select, #year-select, #month-select, #presence-select, #filter-type-select, #years-select, #months-select, #comming-times, #announcement-status, #team-comming-times, #team-announcement-status, #filter-appraisal, #timesheet-months-select, #timesheet-years-select,#kw-branch-select, #kw-shift-select, #filter-sbu, #project-months-select, #project-years-select, #select_lost_found{
    border: 2px solid #108fbb;
}

#department-select:focus, #location-select:focus, #presence-select:focus, #filter-type-select:focus, #select_lost_found:focus {
    color: #495057;
    background-color: #fff;
    border-color: #108fbb;
    outline: 0;
    box-shadow: none;
}

#emp_search {
    background-color: #e9ecef;
    border: 0px solid #ced4da;
}

#emp_search:focus {
    background-color: #e9ecef;
    border-color: #e9ecef;
}

.employee-count {
    color: #108fbb;
}
.attendance_count {border-radius: 50%; font-weight: 700;}
.card.empcard {
    border: 0;
    border-bottom: 1px solid #e9ecef;
}

.img-employee {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.emp-name, .heading-name {
    color: #108fbb;
    font-weight: 700;
}

.emp-designation {
    font-size: 11px;
    color: gray;
    font-weight: 600;
}

.employee-icons {
    font-size: 17px;
}

#dashboard_emp_directory_block,.project_preview_Data {
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}

#dashboard_emp_directory_block::-webkit-scrollbar, .project_preview_Data::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
}

#dashboard_emp_directory_block::-webkit-scrollbar-track, .project_preview_Data::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    border-radius: 10px;
    background-color: #fff;
}

#dashboard_emp_directory_block::-webkit-scrollbar-thumb, .project_preview_Data::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


#dashboard_performer_metrics_block {
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}

#dashboard_performer_metrics_block::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
}

#dashboard_performer_metrics_block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    border-radius: 10px;
    background-color: #fff;
}

#dashboard_performer_metrics_block::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.new-joinee{cursor: pointer;}
.winner{cursor: pointer;}
.dot-present {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }
.department-emp {
    font-size: 10px;
}

.remove_department {
    cursor: pointer;
}

.employee_filter {
    cursor: pointer;
}

/* Employee Portlet  */

/* Attendance Portlet */

.card-header.attendance_header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

p.office-in-time {
    color: green;
}

p.office-out-time{
    color: red;
}
.attendance-monthly-details {
    background-color: #e9ecef;
}

.badge-absent {
    color: #fff;
    background-color: #ff9800;
}

.badge-leave {
    color: #fff;
    background-color: #108fbb;
}

.attendance_badge {
    cursor: pointer;
    border-radius: 0px;
}

#dashboard_attendance_block, #dashboard_canteen_block{
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

#dashboard_attendance_block::-webkit-scrollbar, #dashboard_canteen_block::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
}

#dashboard_attendance_block::-webkit-scrollbar-track, #dashboard_canteen_block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    border-radius: 10px;
    background-color: #fff;
}

#dashboard_attendance_block::-webkit-scrollbar-thumb, #dashboard_canteen_block::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Attendance Portlet */

/* Meeting Portlet */

.card-header.meeting_header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.nav-tabs .nav-link.meeting-tabs,
.nav-tabs .nav-link.team-attendance-tabs, 
.nav-tabs .nav-link.leave-absent-tabs {
    border: 0px solid transparent;
    color: gray;
}

.nav-tabs .nav-link.meeting-tabs.active, .nav-tabs .nav-item.show .nav-link {
    border: 0;
    border-bottom: 5px solid #108fbb;
}

.nav-tabs .nav-link.meeting-tabs:hover, .nav-tabs .nav-link.meeting-tabs:focus{
    border: 0;
    border-bottom: 5px solid #108fbb;
}

.card.meeting-card {
    border: 0;
    border-bottom: 1px solid #e9ecef;
}

.meeting-title {
    color: #108fbb;
}

.img-meeting-employee {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.meeting-category {
    font-size: 11px;
    color: gray;
    font-weight: 600;
}
.notify-badge{
    position: absolute;
    font-size: .6rem;
    margin-top: -.1rem;
    margin-left: -.5rem;
    padding: .2em .45em;
}
.meeting_data_content, .team_attendance_data_content {
    height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
}

.meeting_data_content::-webkit-scrollbar, .team_attendance_data_content::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
}

.meeting_data_content::-webkit-scrollbar-track, .team_attendance_data_content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    border-radius: 10px;
    background-color: #fff;
}

.meeting_data_content::-webkit-scrollbar-thumb, .team_attendance_data_content::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.meeting_booked {
    width: 40px;
    background-color: rgb(8, 147, 8);
}

.total-users, .meeting-agenda {
    cursor: pointer;
}

/* Meeting Portlet */

/* Team Attendance Portlet */

.card.team-attendance-card {
    border: 0;
    border-bottom: 1px solid #e9ecef;
}

.nav-tabs .nav-link.team-attendance-tabs.active, .nav-tabs .nav-item.show .nav-link {
    border: 0;
    border-bottom: 5px solid #108fbb;
}

.nav-tabs .nav-link.team-attendance-tabs:hover, .nav-tabs .nav-link.team-attendance-tabs:focus {
    border: 0;
    border-bottom: 5px solid #108fbb;
}

.nav-tabs .nav-link.canteen-tabs.active, .nav-tabs .nav-item.show .nav-link {
    border: 0;
    border-bottom: 5px solid #108fbb;
}

.nav-tabs .nav-link.canteen-tabs:hover, .nav-tabs .nav-link.canteen-tabs:focus {
    border: 0;
    border-bottom: 5px solid #108fbb;
}
.card-header.team_attendance_header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

/* Team Attendance Portlet */

/* .ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: 1;}
.kwantify_holiday{
    border: 1px solid red;
    background-color: red;
    color: #fff !important;
} */
.meeting_room_availability_table       { height: 330px; overflow: auto;  }
.meeting_room_availability_table thead th, .sub-ordinates-timesheet-table thead th { color: #000; position: sticky; top: 0; z-index: 1; background: #ddd; }
.sub-ordinates-timesheet-table {height: 327px; overflow: auto;}
.meeting_room_availability_table::-webkit-scrollbar,.sub-ordinates-timesheet-table::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
}

.meeting_room_availability_table::-webkit-scrollbar-track,.sub-ordinates-timesheet-table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    border-radius: 10px;
    background-color: #fff;
}

.meeting_room_availability_table::-webkit-scrollbar-thumb,.sub-ordinates-timesheet-table::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.portlets.o_view_nocontent {
    position: inherit;
    top: 20%;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    z-index: 1;
}

.modal-members {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.employee-mail {color: #198fbb !important;}
.new {
    padding: 50px;
  }
  
.boxes {
display: block;
padding: 10px;
}

.boxes input {
padding: 0;
height: initial;
width: initial;
margin-bottom: 0;
display: none;
cursor: pointer;
}

.boxes label {
position: relative;
cursor: pointer;
}

.boxes label:before {
content:'';
-webkit-appearance: none;
background-color: transparent;
border: 2px solid #0079bf;
border-radius: 50%;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
padding: 10px;
display: inline-block;
position: relative;
vertical-align: middle;
cursor: pointer;
margin-right: 5px;
}

.boxes input:checked + label:after {
content: '';
display: block;
position: absolute;
top: 6px;
left: 9px;
width: 6px;
height: 10px;
border: solid #0079bf;
border-width: 0 2px 2px 0;
transform: rotate(45deg);
}

/* .portlets_list{ border-bottom: 1px solid #ddd;} */
/* .portlets_list:last-child { border-bottom: none; } */

#dashboard_local_visit_block {
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

#dashboard_local_visit_block::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
}

#dashboard_local_visit_block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    border-radius: 10px;
    background-color: #fff;
}

#dashboard_local_visit_block::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.meeting_room_header { width: 40px;}
.local_visit_details { padding-left: 20px; border-left: 1px solid #ddd;}
.portlet-img-icon { 
    height: 25px; 
    border-radius: 50%; 
    filter: grayscale(100%); 
    align-items: center; 
    justify-content: center; 
    background-color: #108fbb;
    width: 25px;
    display: flex;
}
.portlet-img-icon img {width: 60%; height: auto}
.tour-arrow:last-child { display: none;}
.loadmore {
    border: 2px solid #198fbb;
    padding-top: 4px;
    width: 60px;
    margin-top: 10px;
    
}

.loadmore:hover {
    background: #198fbb;
    color: white;
    cursor: pointer;
}

.nav-tabs .nav-link.leave-absent-tabs.active, .nav-tabs .nav-item.show .nav-link {
    border: 0;
    border-bottom: 5px solid #108fbb;
}

.nav-tabs .nav-link.leave-absent-tabs:hover, .nav-tabs .nav-link.leave-absent-tabs:focus {
    border: 0;
    border-bottom: 5px solid #108fbb;
}
.caretImage{ width: 4px; height: 7px; position: absolute;}
.leave-count {
    background: #fff;
    border: 1px solid #ccc;
    height: 15px;
    padding: 0px 6px;
    margin-left:4px;
    border-radius: 4px;
    font-size: 12px;
    color: #696868;
}

#nav-leave-absent,#lostnfound-nav-tabContent {
    height: 336px;
    overflow: auto;
}

#nav-leave-absent::-webkit-scrollbar,#lostnfound-nav-tabContent::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
}

#nav-leave-absent::-webkit-scrollbar-track,#lostnfound-nav-tabContent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    border-radius: 10px;
    background-color: #fff;
}

#nav-leave-absent::-webkit-scrollbar-thumb,#lostnfound-nav-tabContent::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.absent-announcement-popover .popover-header{ background-color: #198fbb; color: #fff;}
.fa.fa-edit.ml-2.announcement-action:focus {outline: none;}


#dashboard_announcement_block {
    height: 390px;
    overflow: auto;
}

#dashboard_announcement_block::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
}

#dashboard_announcement_block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    border-radius: 10px;
    background-color: #fff;
}

#dashboard_announcement_block::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#dashboard_grievance_block {
    height: 390px;
    overflow: auto;
}

#dashboard_grievance_block::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
}

#dashboard_grievance_block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    border-radius: 10px;
    background-color: #fff;
}

#dashboard_grievance_block::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.emp-modal-table tr td { padding: 0.35rem;}
/* table.meeting_room_availability_table */

#dashboard_tour_block {
    height: 400px;
    overflow-y: auto;
}

#dashboard_tour_block::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
}

#dashboard_tour_block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    border-radius: 10px;
    background-color: #fff;
}

#dashboard_tour_block::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.month-flex {padding: 0.9rem; background-color: rgb(251, 251, 251); color: #000;}
.timesheet-effort-flex,.timesheet-effort-block { background-color: #f1f1f1;}
.last-week-card,.last_week_green,.current_week_green { background-color: #c0fbc0;}
.current-week-card,.last_week_red,.current_week_red { background-color:  #facccc;}
.timesheet-block {height:14px; width:14px; margin: 0 2px 2px 2px; border: 1px solid rgba(0, 0, 0, 0.2);}
/* .effort-progress-bar:first-child {margin-right:2px;}
.effort-progress-bar:last-child {margin-left:2px;} */

#dashboard_timesheet_block, #ks_add_portlet_selection .manage_portlet_selection, #dashboard_holiday_calendar_block {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

#dashboard_timesheet_block::-webkit-scrollbar , #ks_add_portlet_selection .manage_portlet_selection::-webkit-scrollbar , #dashboard_holiday_calendar_block::-webkit-scrollbar{
    width: 0.5em;
    background-color: #F5F5F5;
}

#dashboard_timesheet_block::-webkit-scrollbar-track , #ks_add_portlet_selection .manage_portlet_selection::-webkit-scrollbar-track , #dashboard_holiday_calendar_block::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
    border-radius: 10px;
    background-color: #fff;
}

#dashboard_timesheet_block::-webkit-scrollbar-thumb , #ks_add_portlet_selection .manage_portlet_selection::-webkit-scrollbar-thumb, #dashboard_holiday_calendar_block::-webkit-scrollbar-thumb{
    background-color: #ddd;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#timesheet-added{ background-color:#28a745 !important;}
#timesheet-not-added { background-color: #d83d2b !important;}
#timesheet-holiday { background-color: #ffc107};
/* #future-timesheet {background-color: #ffc107;} */

.card.sub-ordinate-card { 
    border:0;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.sub-ordinate-month-flex {
    padding: 0.9rem; 
    /* background-color: rgb(251, 251, 251);  */
    color: #000;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.self-timesheet.active, .subordinates-timesheet.active { color: #fff; background-color: #198fbb !important; border-color: #198fbb !important;}
.color-block.color-block-today {
    height: 15px;
    width: 15px;
    background-color: #0c6731;
}

.beverage_unit:hover,.meal_unit:hover {
    text-decoration: underline;
}
.lf_image{
    background-size: cover;
    width: 100%;
    height: 250px;
    transition: 2s ease-out;
}