<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem name="PIP Process"
                  id="pip_root_menu"
                  web_icon="performance_improvement_plan,static/description/icon.png"
                  sequence="12"/>
        <menuitem name="PIP Process"
                  id="pip_child_menu"
                  parent="pip_root_menu"
                  sequence="1"
                  groups="performance_improvement_plan.group_pip_user,performance_improvement_plan.group_pip_manager,performance_improvement_plan.group_pip_hr_user"/>
        <menuitem name="Report"
                  id="menu_report_root"
                  parent="pip_root_menu"
                  groups="performance_improvement_plan.group_pip_mis_user,performance_improvement_plan.group_pip_manager,performance_improvement_plan.group_pip_hr_user"
                  sequence="4"/>

        <menuitem name="HR Action"
                  id="performance_improvement_plan_hr_menu"
                  parent='pip_root_menu'
                  sequence="5"
                  groups="performance_improvement_plan.group_pip_manager,performance_improvement_plan.group_pip_hr_user"/>

        <menuitem name="Assessors Feedback"
                  id="kw_pip_feedback_assessors_menu"
                  parent="pip_root_menu"
                  groups="performance_improvement_plan.group_pip_assessor_user"
                  sequence="3"/>

    </data>
</odoo>