<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>  
        <!-- self -->
        <record id="kw_vocalize_voting_action_window" model="ir.actions.act_url">
            <field name="name">Vote Now</field>
            <field name="type">ir.actions.act_url</field>
            <field name="target">self</field>
            <field name="url">/vocalize-voting/</field>
        </record>

        <menuitem action="kw_vocalize_voting_action_window"
                  name="Vote Now"
                  id="kw_kwanify_parent_menu"
                  web_icon="kw_vocalize,static/description/icon.png"
                  sequence="5"/>
    </data>
</odoo>