<?xml version="1.0" encoding="UTF-8"?>

<odoo>
  
    <!-- Top menu item -->
    <menuitem name="Internship" 
        id="internship_root_menu"
        sequence="67"
        web_icon="tendrils_internship,static/description/icon.png"/>
   
    <!-- menu categories -->
    
    <menuitem name="Internship" 
        id="internship_parent_menu" 
        parent="internship_root_menu"
        sequence="1"
        />

    <menuitem name="L&amp;K" 
        id="l_and_K_parent_menu" 
        parent="internship_root_menu"
        sequence="2"/>
        <!-- groups='tendrils_internship.group_tendrils_internship_training_manager' -->

    <menuitem name="Reports" 
        id="reports_parent_menu" 
        parent="internship_root_menu"
        groups='tendrils_internship.group_tendrils_internship_training_manager'
        sequence="3"/>
</odoo>