.qty_order{
    font-weight: bold;
    border: 1px solid #ddd;
    background-color:rgb(223, 244, 226) !important;
  }
.qty_available{
    font-weight: bold;
    border: 1px solid #ddd;
    background-color:rgb(245, 232, 231) !important;
  }
.serial_no{
    font-weight: bold;
    border: 1px solid #ddd;
    background-color:rgb(211, 238, 241) !important;
  }
.product{
    font-weight: bold;
    border: 1px solid #ddd;
    background-color:rgb(223, 244, 226) !important;
  }
.action_date{
    font-weight: bold;
    border: 1px solid #ddd;
    background-color:rgb(222, 218, 241) !important;
  }