@font-face {
    font-family: Roboto;
    src: url(/kwantify_theme/static/src/fonts/OpenSans-Regular.ttf)
}


$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: #666;
$gray: #777;
$gray-light: #AEA79F;
$gray-lighter: lighten($gray-base, 93.5%);


// Change colors here

// Odoo EE colors
//$brand-primary: #875a7b;
//$brand-secondary: #00A09D;
//------------------------
$brand-primary: #108fbb;
$brand-secondary: #337abc;
//------------------------


.o_required_modifier.o_input::placeholder {
    color: #000;
}

$brand-primary-dark: darken($brand-primary, 10%);
$brand-secondary-dark: darken($brand-secondary, 10%);

body {
    font-family: "Roboto";
}

// .o_loading {
//     background-color: $brand-primary;
// }
a:not([href]):not([tabindex]):hover {
    color: #000;
}

.o_main_navbar {
    background: #108fbb !important;
    border-bottom: none;
}

.o_main_navbar>a:hover,
.o_main_navbar>a:focus,
.o_main_navbar>button:hover,
.o_main_navbar>button:focus {
    background-color: #f7951d;
    color: inherit;
}

.o_main_navbar>ul>li>a:hover,
.o_main_navbar>ul>li>label:hover {
    background-color: #f7951d;
    color: #000;
}

.o_kanban_view .o_kanban_record strong.o_kanban_record_title {
    font-weight: 700;
}

.o_main_navbar .show .dropdown-toggle {
    background-color: #f7951d;
}

// // Buttons

//.btn {border-radius: 0px;}

.btn-primary.btn-sm {
    color: #fff;
    background-color: $brand-secondary;
    border-color: $brand-secondary;
}

.btn-primary:hover {
    color: #fff;
    background-color: $brand-secondary-dark;
    border-color: $brand-secondary-dark;
}

.dropdown-menu {
    border-radius: 0px;
}

a {
    color: #7C7BAD;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: $brand-secondary-dark;
    text-decoration: none;
}

.o_control_panel {
    background-color: #ffffff;
}

.breadcrumb {
    background-color: inherit;
}

.table-sm th,
.table-sm td {
    padding: 0.3rem;
    border-right: 1px solid #eee;
}

// Forms
.o_form_view {
    .o_form_sheet_bg {
        background: none !important;
        background-color: #F9F9F9 !important;
        padding: 0px;

        .o_form_sheet {
            border: 1px solid #d9d7d7;
            box-shadow: 0 5px 20px -15px black;
        }
    }

    .o_form_statusbar {

        //margin: -16px;
        .o_statusbar_status {
            >.o_arrow_button {
                background: #ffffff;
            }
        }
    }
}

// App Dashboard

.o_menu_apps .dropdown-menu.show {
    background: transparent url('/kwantify_theme/static/src/img/apps-bg.jpg') no-repeat scroll center center / cover;
    flex-flow: column !important;
    padding: 0 !important;
}
// .main-container{
//     // background-image: url('/kwantify_theme/static/src/img/apps-bg.jpg');
//     filter: blur(8px);
//     -webkit-filter: blur(8px);
//     height: 100%;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
// .o_menu_apps .dropdown-menu.show::before{
//     content: "";
//     position: absolute;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     top: 0;
//     z-index: 0;
//     backdrop-filter: blur(8px);
// }
.fa-th-large::before {
    content: "\f00a";
}

.o_menu_apps .full {
    width: 46px;
    font-size: 18px;
    text-align: center;
}

.o-app-name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 84px;
    line-height: 18px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}
.custom-app-image .img.img-fluid{
    background-color: #108fbb;
    border: 2px solid aliceblue !important;
    padding: 10px;
}

// .o-app-icon {
//     padding: 20px 0 0;
//     padding: 15px; 
//     border-radius: 5px; 
//     background: radial-gradient(#328da9, #328da9);
//     margin-top: 20px;
// }

// .o_menu_apps .dropdown-menu.show .o-app-icon:hover {
//     box-shadow: 0 8px 15px -10px black;
// }

.dropdown-item.other-apps,
.dropdown-item.used_app {
    background: transparent;
}

.dropdown-item.used_app:focus {
    background-color: transparent;
}

.o-menu-search-result {
    color: #fff;
}

// Chat window
.o_thread_window .o_thread_window_header {
    background-color: $brand-primary;
}

// Handbook Styles //
.o_kanban_view .o_kanban_record .o_kanban_image {
    position: relative;
    margin-right: 5px;
    flex: 1 0 95px;
    min-height: 95px;
    min-width: 95px;
    background-size: cover;
    background-position: center;
}

.o_kanban_view .o_kanban_record .oe_kanban_details.handbook {
    width: 100%;
    text-align: justify;
    /* left: 100%; */
    direction: ltr;
    text-overflow: ellipsis;
    /* text-align: end; */
    white-space: nowrap;
    overflow: hidden;
}

.o_searchview .o_searchview_facet .o_searchview_facet_label {
    background-color: #108fbb;
}

.o_field_many2manytags.o_field_widget.o_kanban_tags+span {
    font-size: 0.94791667rem;
}

.o_kanban_view.o_kanban_grouped .o_kanban_record {
    margin-bottom: 10px;
}

.oe_kanban_body.handbook_body {
    margin-left: 60px;
}

.o_field_invalid.o_required_modifier.o_input,
.o_required_modifier .o_input {
    background-color: #D2D2FF !important;
}

.o_statusbar_buttons {

    .btn-danger,
    .btn-danger:focus {
        background-color: #d2322d !important;
        border-color: #d2322d;
    }

    .btn-danger:hover,
    .btn-danger:active {
        background-color: #d9534f !important;
        border-color: #d9534f;
    }

    .btn-success,
    .btn-success:focus {
        background-color: #47a447 !important;
        border-color: #47a447;
    }

    .btn-success:hover,
    .btn-success:active {
        background-color: #5cb85c !important;
        border-color: #5cb85c;
    }

    .btn-primary,
    .btn-primary:focus {
        background-color: #1b6aaa !important;
        border-color: #1b6aaa;
    }

    .btn-primary:hover,
    .btn-primary:active {
        background-color: #428bca !important;
        border-color: #428bca;
    }

    .btn-warning,
    .btn-warning:focus {
        background-color: #ed9c28 !important;
        border-color: #ed9c28;
    }

    .btn-warning:hover,
    .btn-warning:active {
        background-color: #FAB34E !important;
        border-color: #FAB34E;
    }

    .btn-info,
    .btn-info:focus {
        background-color: #57b5e3 !important;
        border-color: #57b5e3;
    }

    .btn-info:hover,
    .btn-info:active {
        background-color: #6abce2 !important;
        border-color: #6abce2;
    }

    .btn-inverse,
    .btn-inverse:focus {
        background-color: #038C98 !important;
        border-color: #038C98;
    }

    .btn-inverse:hover,
    .btn-inverse:active {
        background-color: #1CAEBB !important;
        border-color: #1CAEBB;
    }

    .btn-reverse,
    .btn-reverse:focus {
        background-color: #444444 !important;
        border-color: #292929;
    }

    .btn-reverse:hover,
    .btn-reverse:active {
        background-color: #5A5A5A !important;
        border-color: #404040;
    }
}

/*.o_form_view .o_field_widget.o_field_many2many > div.table-responsive{
    overflow-x: auto;
    max-height: 400px;
}*/
.table-responsive .o_list_view thead,
.table-responsive .o_list_view thead tr:nth-child(1) th {
    vertical-align: top;
    position: sticky;
    top: 0;
    /*     z-index: 0 !important;*/
}
// .main-container {
   
//     min-height: 100vh;
//     display: flex;
//     flex-flow: column;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//     padding: 3rem 0;
// }
// .dropdown-menu.show:before {
//     content: "";
//     position: absolute;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     top: 0;
//     z-index: 0;
//     backdrop-filter: blur(8px);
// }

.apps-container{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1400px;
	margin-left: auto;margin-right: auto;
	width: 100%;
	position: relative;
	z-index: 1;
}
.most-used-apps{
	flex: 0 0 28%;
}
.most-used-apps h4, .other-apps h4{
	color: #fff;
    font-weight: 500;
	font-size: calc(17px + (19 - 17) * (100vw - 375px) / (1920 - 375));
}
.app-search{
	position: absolute;
	right: 0;
	top: 0;
	height: calc(30px + (45 - 30) * (100vw - 375px) / (1920 - 375));
	width: calc(200px + (350 - 200) * (100vw - 375px) / (1920 - 375));
}
.app-search input{
	background: transparent;
	color: #fff;
	border: 1px solid #dedede;
	border-radius: 3px;
	height: 100%;
	width: 100%;
	padding-left: 1rem;
	font-size: calc(16px + (18 - 16) * (100vw - 375px) / (1920 - 375));
	transition: .25s;
}
.app-search input:focus{border-color: #fff;}
.app-search svg{
	width: calc(18px + (22 - 18) * (100vw - 375px) / (1920 - 375));
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	fill:#dedede;
}
.most-used-app-items{
	display: flex;
	flex-wrap: wrap;
	padding-right: 6%;
	gap: 5rem;
	border-right: 2px solid rgba(222, 222, 222,0.3);

}
.other-apps{
	flex: 0 0 63%;
	position: relative;
}

.other-app-items {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 4rem;
}
.apps{
	display: block;
	height: calc(70px + (100 - 70) * (100vw - 375px) / (1920 - 375));
    width: calc(70px + (100 - 70) * (100vw - 375px) / (1920 - 375));
}
.apps-icon{
	height: calc(60px + (80 - 60) * (100vw - 375px) / (1920 - 375));
	width: calc(60px + (80 - 60) * (100vw - 375px) / (1920 - 375));
	border:none;
	background: #328da9;
	border-radius: 5px;
	/*padding: 1rem;*/
    margin-top: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .25s;
	overflow: hidden;
}
.other-apps .apps-icon{
	background: radial-gradient(#328da9, #328da9);
}
.other-apps .apps-icon:hover{
	background: radial-gradient(#1a5364, #328da9);
}
.most-used-apps .apps-icon {
    height: calc(70px + (100 - 70) * (100vw - 375px) / (1920 - 375)) !important;
    width: calc(70px + (100 - 70) * (100vw - 375px) / (1920 - 375)) !important;
    background: radial-gradient(#823b3b, #823b3b) !important;
    max-width: 9rem !important;
    margin-top: 20px;
    margin-bottom: 0.25rem;
}
.most-used-apps .apps-icon:hover{background: radial-gradient(#461919, #823b3b) !important;}
.apps-icon img{
    width: 55%;
}
.most-used-apps img{width: 50%}
.other-apps span {
    color: #f6f6f6;
    display: block;
    margin-top: .25rem;
    line-height: 1.25;
}
.most-used-apps .other-apps span{
	font-size: calc(16px + (18 - 16) * (100vw - 375px) / (1920 - 375));
}

.no_apps { display: flex;}
.no_apps.o_view_nocontent {
    position: relative !important;
}

.dropdown-item.active.search-item,.dropdown-item:hover.search-item{
    color: #fff;
    text-decoration: none;
    background-color: #823b3b;
    line-height: 1.5;
}

@media (max-width: 1440px){
.apps-container {
    max-width: 1230px;
}
.other-app-items {
    grid-gap: 4.5rem;
}

}

@media (max-width: 1366px){


}

@media (max-width: 1280px){
.apps-container {
    max-width: 1100px;
}
.most-used-apps {
    flex: 0 0 30%;
}
.other-app-items {
    grid-template-columns: repeat(5, auto);
}

}

@media (max-width: 1024px){
.apps-container {
    max-width: 992px;padding: 0 2rem;
}
.most-used-app-items {
    gap: 3.5rem;
}
.other-app-items {
    grid-template-columns: repeat(4, auto);
}
.most-used-apps {
    flex: 0 0 31%;
}

}
.logo{
	display: flex;justify-content: center;align-items: center;text-align: center;
	position: relative;margin-bottom: 3rem;
}
@media (max-width: 992px){
.logo{margin-bottom: 1rem}
.apps-container {
    max-width: 100%;
    padding: 0 2rem;
}
.apps-container{flex-flow: column;}
.most-used-app-items {
    gap: 2.5rem;
    padding: 0;
    border: none;
    justify-content: space-between;
}
.most-used-apps {
    flex: 1 auto;
    width: 100%;
}
.other-apps {
    flex: 0 0 100%;
    width: 100%;
    margin: 4rem 0 0 0;
}
.other-app-items {
    display: flex;
    flex-wrap: wrap;
    gap: 4.5rem;
}
.other-apps span {
    font-size: 15px;
    font-weight: 500;
}
.app-search{top: 16px}



}


@media (max-width: 576px){
.most-used-app-items, .other-app-items {
    justify-content: center;
    text-align: center;
    gap: 4rem;
}
.most-used-apps h4, .other-apps h4 {
    text-align: center;
    font-size: 1.25rem;
}
.other-apps {
    display: flex;flex-flow: column;
}
.app-search {
    position: relative;
    margin: 0 auto 1.5rem auto;
    top: 0;
    width: 75%;
}
.other-apps{
    margin-bottom: 2rem;
}
.other-app-items .apps-icon, .most-used-apps .apps-icon {
    margin: auto;
    height: calc(75px + (100 - 75) * (100vw - 375px) / (576 - 375));
    width: calc(75px + (100 - 75) * (100vw - 375px) / (576 - 375));
}
.most-used-apps h4, .other-apps h4 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.logo {
    margin-bottom: 1rem !important;
}
.app-search input {
    border-color: rgba(255,255,255,0.2);
    font-size: 14px;
}
.app-search svg {
    fill: rgba(255,255,255,0.3);
}
.apps {
    height: auto;
    width: auto;
}
.most-used-app-items, .other-app-items {
    row-gap: 3rem;
}
.other-apps span, .most-used-app-items .o-app-name {
    font-size: 14px;
    margin-top: .5rem;
    display: inline-block;
}
}

@media (max-width: 430px){
.apps-container {
    padding: 1rem
}

}


@media (max-width: 320px){
.most-used-app-items, .other-app-items {
    gap: 4rem;
}

}