@font-face {
  font-family: OpenSans;
  src: url(/kwantify_theme/static/src/fonts/OpenSans-Regular.ttf)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: url('/kwantify_theme/static/src/img/_MG_8939.png') no-repeat left; 
  background-size: cover; */
  overflow-x: hidden;
  /* overflow-y: hidden; */
  width: 100%;
  font-family: 'Noto Sans';
}

.tendrills {
  margin-top: 20px;
  padding-bottom: 16px;
  float: left;
  color: white;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3359375rem;
  padding-bottom: 0.3359375rem;
  margin-right: 0%;
  font-size: 1.09375rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar {
  box-shadow:none;
  -webkit-box-shadow:none
}
/* .tebdrils_image {
  height: 144px;
  margin-right: 0px;
} */

.loginBox {
  margin-left: 0px;
  border-radius: 18px;
  opacity: 1;
}

.box-form {
  width: 531px;
  height: 440px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 25px 25px 99px #09317047;
  border-radius: 18px;
  opacity: 1;
}

.boxed-input {
  top: 364px;
  left: 1054px;
  width: 550px;
  height: 35px;
  /* UI Properties */
  background: #F5F7FA 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
}

.name-header {
  padding-top: 25px;
  font: normal normal normal 30px/35px sans-serif;
  letter-spacing: 1px;
  color: #093170;
  font-weight: 600;
  opacity: 1;
}

.applicant_en {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.loginButton {
  width: 27rem;
  font-size: 27px;
  text-align: left;
  font: normal normal medium 27px/35px sans-serif;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  background-color: #093170;
  border-radius: 6px;
}

th {
  text-align: left;
  font-size: 15px;
}

td {
  font-size: 15px;
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
}

.menu-bar {
  margin: auto;
  width: -webkit-fill-available;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.indicate {
  float: right;
  clear: both;
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.mandatory {
  color: #f00;
  font-size: 13px;
  font-weight: bold;
  /*position: absolute;right: 5px;top: 10px;*/
}

.mandate {
  color: #f00;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  right: 5px;
  top: 10px;
}

.container.boxed .innercontent {
  padding: 30px 30px;
  background: #ffffff;
  box-shadow: 0 3px 5px rgba(0, 0, 2, 0.25);
}

#desc {
  font-weight: bold;
}

#errspan {
  font-size: 14px;
}

.progresss {
  list-style: none;
  margin: 0;
  padding: 25px 0px;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #d3d3d3;
  *background-color: #004473;
}

.progresss>li {
  position: sticky;
  display: table-cell;
  text-align: center;
  font-size: 1.0em;
  cursor: pointer;
}

.progresss>li:before {
  content: attr(data-step);
  display: block;
  margin: 0 auto;
  background: #DFE3E4;
  width: 3em;
  height: 3em;
  text-align: center;
  margin-bottom: 0.25em;
  line-height: 3em;
  border-radius: 100%;
  position: relative;
  z-index: 1000;
}

.progresss li:after {
  content: '';
  position: absolute;
  display: block;
  background: #DFE3E4;
  width: 100%;
  height: 0.5em;
  top: 1.25em;
  left: 50%;
  margin-left: 1.5em\9;
  z-index: 2;
}

.progresss>li:last-child:after {
  display: none;
}

.progresss>li.is-complete {
  color: #2ECC71;
  cursor: initial;
}

.progresss>li.is-complete:before,
.progresss>li.is-complete:after {
  color: #FFF;
  background: #2ECC71;
}

.progresss>li.is-active {
  color: white;
  font-size: 1.1em;
  line-height: 1.1em;
}

.progresss>li.is-active:before {
  color: #FFF;
  background: #faa635;
}

.progresss__last:after {
  display: none !important;
}

.progresss>li a {
  color: white;
  text-decoration: none;
}

.progresss--medium {
  font-size: 1.3em;
}

.card {
  background: #108fbb;
}

/*.card, .navbar, .pagination .page-item.active .page-link { box-shadow: none; }*/
.navbar-light {
  background: transparent !important;
}

.collapse.navbar-collapse {
  visibility: hidden;
}

.md-form label {
  color: #333;
  transform: translateX(15px) translateY(5px);
}

.md-form label.active {
  transform: translateY(-20px) translateX(15px) scale(0.8);
}

.md-form label.reg {
  color: #333;
  transform: none;
}

.md-form label.reg.active {
  transform: translateY(-20px) scale(0.9);
}

.md-form input {
  color: #333;
}

.md-form input[type=text]:not(.browser-default) {
  background: transparent !important;
}

.md-form input[type="text"]:not(.browser-default):focus:not([readonly]) {
  /* color: #333;
  border-bottom: 1px solid #ced4da;
  box-shadow: 0 1px 0 0 #fff; */
}

.md-form input[type="password"]:not(.browser-default):focus:not([readonly]) {
  color: #333;
  border-bottom: 1px solid #ced4da;
  box-shadow: 0 1px 0 0 #fff;
  ;
}

/*.md-form input[type="text"]:not(.browser-default):focus:not([readonly]) + label { color: #fff;}*/
/*.md-form input[type="password"]:not(.browser-default):focus:not([readonly]) + label { color: #fff;}*/
.md-form.input-group .input-group-text.md-addon {
  font-weight: 700;
}

/*.row.align-items-center { height: calc(100vh - 252px);}*/
.col-sm-6.col-sm-offset-6.col-md-7 {
  max-width: 550px;
}

.loginButton {
  padding: 0.74rem 2.14rem;
  font-weight: 700;
}

input::placeholder {
  color: #fff;
}

.pull-left.pl-5 {
  padding-left: 2rem !important;
}

.pull-right.pr-5 {
  padding-right: 2rem !important;
}

#top_menu_collapse {
  visibility: hidden;
}

.lang_table {
  background-color: #108fbb;
  color: white;
}

.prof_table {
  background-color: #108fbb;
  color: white;
}

.edu_table {
  background-color: #108fbb;
  color: white;
}

.training_table {
  background-color: #108fbb;
  color: white;
}


/*Select 2 fixes*/
.form-control.select2-container {
  border: 1px solid transparent;
  border-bottom: 1px solid #ced4da;
  border-radius: 0px;
}

.form-control .select2-choice {
  background: none;
  border-radius: 0px;
  padding: 0px;
}

.form-control .select2-choice .select2-arrow {
  border-radius: 0px;
}

.select2-container .select2-choice .select2-arrow {
  border: 0px none;
  background: none;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  background-image: none;
  border: 0px none;
}

.form-control.select2-container.select2-dropdown-open {
  border-color: transparent;
  border-bottom-color: #ced4da;
  border-radius: 0px;
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
}

.select2-drop-active {
  border-top: 1px solid #5897fb;
  padding-top: 4px;
}

.select2-drop.select2-drop-above.select2-drop-active {
  border-bottom: 1px solid #5897fb;
}

.md-form label.mdb-main-label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 1rem;
  transform: translateY(-20px) translateX(15px) scale(0.8);
}

.md-form div.error,
.md-form div.error.active,
form div.error,
form div.error.active {
  position: relative;
  left: 0px;
  top: -10px;
  margin: 1em 0 0 0px;
  padding: 0px;
  font-size: 12px;
  color: #ff0000;
  font-weight: 500;
  transform: none;
}

.md-form textarea.md-textarea {
  overflow-y: auto;
  background: #ffffff !important;
}

.file-format-note {
  font-size: 0.8em;
}

.table th,
.table td {
  vertical-align: middle;
}

.table thead th {
  vertical-align: top;
}

.wd-10 {
  width: 10%;
}

.wd-12 {
  width: 12%;
}

.wd-15 {
  width: 15%;
}

.wd-20 {
  width: 20%;
}

.wd-25 {
  width: 25%;
}

@media (min-width: 1600px) {
  .container {
    max-width: 85%;
  }

  .col-sm-6.col-sm-offset-6.col-md-7 {
    max-width: 550px;
  }
}

@media (min-width: 1280px) {
  body {
    background-size: 100%;
  }

  .col-sm-6.col-sm-offset-6.col-md-7 {
    max-width: 520px;
  }

  .container {
    max-width: 85%;
  }
}

@media (min-width: 1024px) {
  .col-sm-6.col-sm-offset-6.col-md-7 {
    max-width: 500px;
  }

  .container {
    max-width: 85%;
  }

  .row.align-items-center {
    height: calc(100vh - 252px);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 85%;
  }

  .row.align-items-center {
    height: calc(100vh - 139px);
  }
}



@media (min-width: 360px) and (max-width: 760px) {
  .col-sm-3.mb-2 {
    margin-bottom: 10px;
  }

  body {
    background-size: auto;
    overflow-y: auto
  }

  .navbar-toggler-icon {
    display: none;
  }

  .copyright-text {
    color: #fff;
    padding-left: 0px;
  }

  .copyright-text a {
    color: #fff;
  }

  .row.align-items-center {
    margin-top: 0px;
  }

  .loginButton {
    padding: 0.8rem 1.14rem;
    font-weight: 700;
    width: 16.4rem;
  }

  .box-form {
    width: 380px;
    height: 360px;
  }

  .applicant_en {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  /* .social-icons {
    margin-right: 36px;
  }

  .social-icons-wrapper {
    right: 130px;
    margin-top: -75px;
  }
  .copywrite{
    margin-left: 0px;
    width: 100%;
  } */
}


@media (min-width: 384px) and (max-width: 854px) {
  .col-sm-3.mb-2 {
    margin-bottom: 10px;
  }
  body {
    background-size: auto;
    overflow-y: auto
  }
  .navbar-toggler-icon {
    display: none;
  }
  .copyright-text {
    color: #fff;
    padding-left: 0px;
  }
  .copyright-text a {
    color: #fff;
  }
  .row.align-items-center {
    margin-top: 0px;
  }
  .loginButton {
    padding: 0.8rem 1.14rem;
    font-weight: 700;
    width: 16.4rem;
  }
  .box-form {
    width: 355px;
    height: 360px;
  }
  .applicant_en {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  /* .social-icons {
    margin-right: 36px;
  }
  .social-icons-wrapper {
    right: 130px;
    margin-top: -75px;
  }
  .copywrite{
    margin-left: 0px;
    width: 100%;
  } */
}

@media (min-width: 375px) and (max-width: 812px) {
  .col-sm-3.mb-2 {
    margin-bottom: 10px;
  }

  body {
    background-size: auto;
    overflow-y: auto;
  }

  .navbar-toggler-icon {
    display: none;
  }

  .copyright-text {
    color: #fff;
  }

  .copyright-text a {
    color: #fff;
  }

  .row.align-items-center {
    margin-top: 0px;
  }

  .loginButton {
    padding: 0.8rem 1.14rem;
    font-weight: 700;
    width: 17.4rem;
  }

  .box-form {
    width: 385px;
  }
  .copywrite{
    margin-left: 0px;
    width: 100%;
  }
}

@media (min-width: 360px) and (max-width: 800px) {
  .col-sm-3.mb-2 {
    margin-bottom: 10px;
  }

  body {
    background-size: auto;
    overflow-y: auto;
  }

  .navbar-toggler-icon {
    display: none;
  }

  .copyright-text {
    color: #fff;
  }

  .copyright-text a {
    color: #fff;
  }

  .row.align-items-center {
    margin-top: 0px;
  }

  .loginButton {
    padding: 0.8rem 1.14rem;
    font-weight: 700;
    width: 14.4rem;
  }

  .box-form {
    width: 330px;
  }
  /* .social-icons{
    width: 95%;
  }
  .copywrite{
    margin-left: 0px;
    width: 100%;
  } */
}

@media (min-width: 384px) and (max-width: 854px) {
  .col-sm-3.mb-2 {
    margin-bottom: 10px;
  }

  body {
    background-size: auto;
    overflow-y: auto;
  }

  .navbar-toggler-icon {
    display: none;
  }

  .copyright-text {
    color: #fff;
  }

  .copyright-text a {
    color: #fff;
  }

  .row.align-items-center {
    margin-top: 0px;
  }

  .loginButton {
    padding: 0.8rem 1.14rem;
    font-weight: 700;
    width: 14.4rem;
  }

  .box-form {
    width: 350px;
  }
  /* .social-icons{
    width: 95%;
  }
  .copywrite{
    margin-left: 0px;
    width: 100%;
  } */
}

@media (min-width: 412px) and (max-width: 736px) {
  .col-sm-3.mb-2 {
    margin-bottom: 10px;
  }
  body {
    background-size: auto;
    overflow-y: auto
  }
  .navbar-toggler-icon {
    display: none;
  }
 /*  .copyright-text {
    color: #fff;
    padding-left: 0px;
  }
  .copyright-text a {
    color: #fff;
  }
  .row.align-items-center {
    margin-top: 0px;
  }
  .loginButton {
    padding: 0.8rem 1.14rem;
    font-weight: 700;
    width: 16.4rem;
  }
  .box-form {
    width: 380px;
    height: 360px;
  }
  .applicant_en {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .social-icons {
    width: 90%;
  }
  .social-icons-wrapper {
    right: 130px;
    margin-top: -75px;
  }
  .copywrite{
    margin-left: 0px;
    width: 100%;
  } */
}




/* @media (min-width: 360px) and (max-width: 640px)
{
  .progress_name { font-size: 14pxt-;}
  .col-sm-3.mb-2 { margin-bottom: 16px !important;}
}
.form-control.valid { border: none;}

input[type="file" i] {background-color: #108fbb;}

.file-upload {display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;color: #34495e;cursor:pointer;line-height:32px;text-align:left;background:#FFFFFF;overflow:visible;position:relative;max-height:32px;}
.file-upload .file-select .file-select-button{background:#108fbb;padding:0 10px;display:inline-block;height:32px;line-height:32px; font-size: 14px;color: #fff;}
.file-upload .file-select .file-select-name{line-height:40px;display:none;padding:0 10px; font-size: 14px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select .error{position: absolute; right: 0px; top:30px;line-height:18px;}

.file-up {display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-up .select-file{display:block;color: #34495e;cursor:pointer;line-height:32px;text-align:left;background:#FFFFFF;overflow:visible;position:relative;max-height:32px;}
.file-up .select-file .select-file-button{background:#108fbb;padding:0 10px;display:inline-block;height:32px;line-height:32px; font-size: 14px;color: #fff;}
.file-up .select-file .select-file-name{line-height:40px;display:none;padding:0 10px; font-size: 14px;}
.file-up .select-file:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-up .select-file:hover .select-file-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-up.active .select-file{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-up.active .select-file .select-file-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-up .select-file input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-up .select-file.file-select-disabled{opacity:0.65;}
.file-up .select-file.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-up .select-file.file-select-disabled:hover .select-file-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-up .select-file.file-select-disabled:hover .select-file-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-up .select-file .error{position: absolute; right: 0px; top:30px;line-height:18px;}
.wd-20 {width: 20%;}
.wd-11{width: 11%;}
.navbar, .pagination .page-item.active .page-link {box-shadow: none;}
.txt-filename{font-size:12px; margin:0px; padding:0px;}
.md-form input[type=text]:not(.browser-default):focus:not([readonly])+label.error{color: #f00;}
table.table td, table.table th{margin-top:0px; margin-left:0px; padding-top:0.75em; padding-bottom:0.75em;}
.checkbox label{font-weight:500;font-size:13px;}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
} */
























































body .login_section
{
    background-image: url(/kwantify_theme/static/src/img/_MG_8939.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.login_section
{
    /* background-image: url(/kwantify_theme/static/src/img/_MG_8939.png);
    background-repeat: no-repeat;
    background-size: cover; */
    height: calc(100vh - 3.5rem); 
    position: relative;
    display: flex;
    align-items: center;
}
.login_content
{
    color:#fff;
    font-size: calc(14px + (20 - 14) * (100vw - 375px) / (1920 - 375));
    width: 78%;
}
.login_logo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}
.login_form
{
    box-shadow: 25px 25px 99px #09317047;
    border-radius: 18px;
    width: 85%;
    padding: 4rem;
}
.name-header
{
    font-size: calc(16px + (20 - 16) * (100vw - 375px) / (1920 - 375));
    color: #093170;
}
.boxed-input {
    width: 100%;
    height: 57px;
    background: #F5F7FA 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: none;
}
.md-form input:not([type]), .md-form input[type="text"]:not(.browser-default), .md-form input[type="password"]:not(.browser-default), .md-form input[type="email"]:not(.browser-default), .md-form input[type="url"]:not(.browser-default), .md-form input[type="time"]:not(.browser-default), .md-form input[type="date"]:not(.browser-default), .md-form input[type="datetime"]:not(.browser-default), .md-form input[type="datetime-local"]:not(.browser-default), .md-form input[type="tel"]:not(.browser-default), .md-form input[type="number"]:not(.browser-default), .md-form input[type="search"]:not(.browser-default), .md-form input[type="search-md"], .md-form textarea.md-textarea{
    border-bottom: none;
}

.md-form.input-group .form-control {
    font-size: 1rem;
}

.loginButton
{
    background: #042963;
    border-radius: 6px;
    border:0;
    opacity: 1;
    color: #fff;
    font-size: 1.3rem;
    padding: 10px 23px;
    font-weight:400;
}

.navbar .nav-item {
    transition: opacity 1000ms ease 0s;
    list-style-type: none;
}

.loginButton:hover {
    color: #e7e7e7;
    border: none;
    background: #051d42;
}
.kw_check
{
    width: 18px;
    height: 18px;
}


.site-footer
{
    background: #224b8b;
    padding: 1rem 5rem 0;
    /* position: absolute;
    left: 8rem;
    bottom: 0rem;
    right: 8rem; */
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.site-footer a{
    color:#fff;
}

.sign_button
{
    margin:3rem auto 1rem;
}

@media(max-width:1366px)
{
    .login_form
{
    box-shadow: 25px 25px 99px #09317047;
    border-radius: 18px;
    width: 85%;
    padding: 3rem;
    margin:auto;
}

}


@media(max-width:1024px)
{
    .login_form
{
    width: 85%;
    padding: 1rem;
    display: block;
    margin: 1rem auto;
}
.tebdrils_image
{
    width: 45%;
}

.site-footer {
    left: 4rem;
    right: 4rem;
}

.loginButton {
    font-size: 1rem;
    padding: 8px 23px;
    font-weight: 400;
}
.login_logo {
    gap: 1.7rem;
}
.sign_button
{
    margin:1rem auto;
}
}

@media(max-width:992px){
.login_section{
  height:auto;
  }
}

@media(max-width:768px){
/* .login_section
{
    min-height:100vh;
} */

.login_form {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
}
.login_content {
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
}
.mob_content
{
    margin-bottom: 4rem;
}
.tebdrils_image
{
    width: 45%;
}
.login_logo {
    gap: 1rem;
}
.site-footer {
    left: 1rem;
    right: 1rem;
}
.login_section
{
    padding-top: 1rem;
    
}
.site-footer {
    padding: 1rem 2rem 0;
    font-size: .8rem;
}
}




@media(max-width:640px)
{
    .login_logo {
        gap: 0;
}
.tebdrils_image {
    width: 43%;
    margin-bottom: 1rem;  
      margin-top: 1rem;
}
.desk_content
{
    display:none;
}
.login_content {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    padding-bottom: 1rem;
}
.card-body {
    padding-top:.25rem;
    padding-bottom:.25rem;
}


}




@media(max-width:580px){
.site-footer {
    font-size: .8rem;
    left: 0rem;
    bottom: 0rem;
    right: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    line-height: 1;
}
.social-icons {
    /* margin-left: -3rem; */
}
.social-icons li img
{
width: 85%;
    height: 85%;
}
.login_section {
  height: calc(100vh - 3.5rem);
        } 
}

.social-icons
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap:1rem;
    filter: brightness(.9);
}


@media(min-width:641px)
{
    .mob_content{
        display:none;
    }
  
}

.o_affix_enabled
{
    display:none;
}


@media(min-height:763px)
{
    .login_section
    {
        height:calc(100vh - 3.5rem);
    }
    /* .tebdrils_image
{
    width: 45%;
} */

}


.reset-password
{
    color: #012861;
}

.onboarding_heading
{
  color: #012861;
  font-weight:400;
}

@media(min-width:1200px)
{
    .tebdrils_image{
        width:65%;
    }
}

@media(min-width:1024px)
{
.desk_content{
    background: #ffffff0a;
    box-shadow:25px 25px 99px #5273a947;
    border-radius:18px;
    padding:1.3rem;
}
}