header,footer { display: none;}
.oe_website_login_container { 
    min-height: 100vh; 
    background-color: #ddd;
    background-image: url('/pmis_theme/static/src/img/login_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-logo{ background-color: #00236b; color: white}
/* .pmis-logo{background-color: #fff;} */
.pmis-login-button, .pmis-login-button:hover, .pmis-login-button:active,
.pmis-signup-button, .pmis-signup-button:hover, .pmis-signup-button:active,
.pmis-reset-button, .pmis-reset-button:hover, .pmis-reset-button:active  { background-color: #df473c !important; border: none;}

.pmis-login-button:active:focus, .pmis-signup-button:active:focus, .pmis-reset-button:active:focus { outline: none; box-shadow: none !important;}
.pmis-link { color: #00236b; }
.pmis-link:hover { color: #df473c;}
.pmis-login-label { color: #00236b;}
.input-group-text { background-color: #fff;}
.form-control{border: 1px solid #CED4DA !important; border-top-right-radius: 0.25rem !important;border-bottom-right-radius: 0.25rem !important;}