.o_cc1 .btn-fill-primary, .navbar-light .btn-fill-primary, .o_cc1 .btn-primary, .navbar-light .btn-primary, .o_colored_level .o_cc1 .btn-fill-primary, .o_colored_level .navbar-light .btn-fill-primary, .o_colored_level .o_cc1 .btn-primary, .o_colored_level .navbar-light .btn-primary{
    color: #FFFFFF !important;
    background-color: #00236b !important;
    border-color: #00236b !important;
}

.o_main_navbar{
    border-bottom: 1px solid #00236b !important;
    background-color: #00236b !important;
}

.btn-primary{
    color: #FFFFFF !important;
    background-color: #00236b !important;
    border-color: #00236b !important;
}

a {color: #00236b !important;
    text-decoration: none;
    background-color: transparent;}

#oe_main_menu_navbar .o_menu_systray > li > a[data-action="edit"], #oe_main_menu_navbar .o_menu_systray > li > a[data-action="translate"], #oe_main_menu_navbar .o_menu_systray > li > a.css_edit_dynamic{
    color: #FFFFFF !important;
    background-color: #df473c !important;
    border-color: #df473c !important;
}

.o_main_navbar > ul > li > a, .o_main_navbar > ul > li > label {
    color: #FFFFFF !important;
}
.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover { 
    background-color: #df473c !important;
}

.form-control{
    border: 0 !important;
    border-radius: 0 !important;
    border-bottom: 1px solid !important;
}
.form-control:focus{
    border-bottom-color: #00236b !important;
    box-shadow: 0 0 0 0rem rgba(58, 173, 170, 0.25) !important;
}

.o_cc5 a:not(.btn), .o_footer a:not(.btn), .o_cc5 .btn-link, .o_footer .btn-link, .o_colored_level .o_cc5 a:not(.btn), .o_colored_level .o_footer a:not(.btn), .o_colored_level .o_cc5 .btn-link, .o_colored_level .o_footer .btn-link{
    color: #df473c !important;
}

.o_portal_wrap .o_portal_my_doc_table td, .o_portal_wrap .o_portal_my_doc_table th{
    white-space: normal;
    font-size: 14px;
}

.o_cc1 .btn-fill-secondary, .navbar-light .btn-fill-secondary, .o_cc1 .btn-secondary, .navbar-light .btn-secondary, .o_colored_level .o_cc1 .btn-fill-secondary, .o_colored_level .navbar-light .btn-fill-secondary, .o_colored_level .o_cc1 .btn-secondary, .o_colored_level .navbar-light .btn-secondary{
    color: #FFFFFF;
    background-color: #00236b !important;
    border-color: #00236b !important;
}
.badge-secondary{
    color: #FFFFFF;
    background-color: #00236b;
}