.bug_design_tree > table > thead > tr > th {
    background: linear-gradient(to right, rgb(114, 76, 114), rgb(200, 150, 200)) !important;
    color: white;
}
.blink_bug_me {
    animation: blinker 2s ease-in-out infinite alternate;
    color: #fa0000;
    font-size: 18px;

  }
  .bug_case_design_tree > table > thead > tr > th {
    background: linear-gradient(to right, rgb(24, 77, 71), rgb(150, 187, 124)) !important;
    color: white;
    transition: transform 0.3s ease;
    transform-origin: center;
    }

.hover-zoom {
    transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
    transform-origin: center; /* Ensures zoom effect is centered */
}

.hover-zoom:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}
.slow-zoom {
    transition: transform 0.5s ease; /* Smooth and slow transition for the zoom effect */
    transform-origin: center; /* Ensures zoom effect is centered */
}

.slow-zoom:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}

//  Bug Raised Tree start

.bug_raise_tree > table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.bug_raise_tree > table > thead > tr > th {
    background: linear-gradient(to right, #3a7563, #59a985) !important;
    color: white;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #3a7563; /* Border color for the header */
}

.bug_raise_tree > table > tbody > tr > td {
    background-color: #F5FFFA; /* Light background for rows */
    color: black; /* Secondary text color */
    padding: 10px;
    border-bottom: 1px solid #3a7563; /* Border color for the rows */
}

.bug_raise_tree > table > tbody > tr:nth-child(even) {
    background-color: #EDEDED; /* Slightly different background for alternate rows */
}

.bug_raise_tree > table > tbody > tr:hover {
    background-color: #D8BFD8; /* Highlight color when hovering over a row */
}

.bug_raise_tree > table > tbody > tr > td a {
    color: #724c72; /* Link color within table */
    text-decoration: none;
}

.bug_raise_tree > table > tbody > tr > td a:hover {
    color: #C896C8; /* Accent color on hover */
    text-decoration: underline;
}
//  Bug Raised Tree end


.btn_details{
    background-color:#3a7563;
    color: white;
    }