.fte_opening {text-align: center !important; background-color: #a3a3e5;}
.ret_opening{text-align: center !important; background-color: #a3a3e5;}
.ce_opening{text-align: center !important; background-color: #a3a3e5;}

.fte_totalonboard{text-align: center !important; background-color: #b9b962;}
.ret_totalonboard{text-align: center !important; background-color: #b9b962;}
.ce_totalonboard{text-align: center !important; background-color: #b9b962;}

.fte_totaloffboard{text-align: center !important; background-color: #acd3bd;}
.ret_totaloffboard{text-align: center !important; background-color: #acd3bd;}
.ce_totaloffboard{text-align: center !important; background-color: #acd3bd;}

.fte_closing{text-align: center !important;}
.ret_closing{text-align: center !important;}
.ce_closing{text-align: center !important;}

.grand_total{text-align: center !important; background-color: #89c7c7;}