<odoo>
    <data>
        <menuitem id="project_performer_metrics_menu" name="Project Performer Metrics" groups="kw_project_performer_metrics.group_quality_engineer,kw_project_performer_metrics.group_quality_head" web_icon="kw_project_performer_metrics,static/description/icon.png"/>
        <menuitem id="project_performer_metrics_root_menu" name="PPM" parent="project_performer_metrics_menu" sequence="1" groups="kw_project_performer_metrics.group_quality_engineer,kw_project_performer_metrics.group_quality_head"/>
        <menuitem id="project_performer_metrics_add_menu" name="Add" parent="project_performer_metrics_root_menu"
        action="project_performer_metrics_action" sequence="1" groups="kw_project_performer_metrics.group_quality_engineer,kw_project_performer_metrics.group_quality_head"/>
        <menuitem id="project_performer_metrics_take_action_menu" name="Take Action" sequence="1" parent="project_performer_metrics_root_menu" 
        action="project_performer_metrics_take_action" groups="kw_project_performer_metrics.group_quality_head"/>
      
        <menuitem id="ppm_report_root_menu" name="Reports" parent="project_performer_metrics_menu" sequence="2" groups="kw_project_performer_metrics.group_quality_engineer,kw_project_performer_metrics.group_quality_head" />

        <menuitem id="ppm_report_menu" name="Project Performer Metrics Report" parent="ppm_report_root_menu" sequence="1" action="project_performer_metrics_report_action" groups="kw_project_performer_metrics.group_quality_engineer,kw_project_performer_metrics.group_quality_head" />        
    </data>
</odoo>