<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<data>
        <menuitem id="menu_hr_declaration_main"
        name="IT Declaration"
        web_icon="tds,static/description/icon.png" sequence='32'/>

        <menuitem id="menu_hr_declaration_id"
        name="Finance" parent="menu_hr_declaration_main" />

        <menuitem id = "hr_declaration_pending_menu_id"
        name = "Pending Approvals"
        parent ="menu_hr_declaration_id"
        action ="hr_declaration_pending_action" sequence="3" groups="tds.group_manager_hr_declaration" />




        <menuitem id = "my_declarations_view_my_tax_menu_id"
        name = "My Tax"
        parent ="menu_hr_declaration_main"
        sequence="10"/>

         <menuitem id = "my_decalration_menu_act"
        name = "My Tax Computation"
        parent ="my_declarations_view_my_tax_menu_id"
        action ="user_compute_tax_view_tds_action" sequence="2"/>

         <!-- This Menu Item must have a parent and an action -->
    <menuitem id="user_tds_menu_act" name="My Declaration"
        parent="my_declarations_view_my_tax_menu_id"
        action="hr_declaration_user_action" sequence="1" />



        <menuitem name="Configuration" id="menu_hr_declaration_configuration" parent="menu_hr_declaration_main" sequence="100" groups="tds.group_manager_hr_declaration"/>

        <menuitem id = "hr_declaration_saving_master_menu_id"
                      name = "Savings Master"
                      parent ="menu_hr_declaration_configuration"
                      action ="hr_declaration_saving_master_action" />

        <menuitem id = "hr_declaration_it_rule_menu_id"
                      name = "IT Rule"
                      parent ="menu_hr_declaration_configuration"
                      action ="hr_declaration_it_rule_action" />

        <menuitem id = "report_action"
                      name = "Report"
                      parent ="menu_hr_declaration_main" sequence="11"  groups="tds.group_report_manager_declaration"/>
        <menuitem id = "monthly_tds_menu_id"
                      name = "Monthly Report"
                      parent ="report_action"
                      action ="tds_report_wizard_action" sequence="10"/>
                      <menuitem id="menu_tax_slab_configuration_id"
                      name="Income Tax Slab"
                      parent="tds.menu_hr_declaration_configuration"
                      action="tax_slab_action_view"
            />
        <menuitem id = "hra_configurayion_menu"
        name = "HRA Configuration"
        parent ="menu_hr_declaration_configuration"
        action ="city_wise_hra_config_master_action" sequence="3"/>


            <menuitem id = "yearly_hr_declaration_menu"
            name = "Yearly Report"
            parent ="report_action"
            action ="fiscal_year_filter_wizard_yearly_action" sequence="1" />

            <menuitem id = "hr_declaration_deduction_action_menu"
            name = "Tax Computation Consolidated Report"
            parent ="report_action"
            action ="hr_declaration_deduction_action"
            sequence="15"  groups="tds.group_report_manager_declaration"/>

            <menuitem id = "user_tds_for_manager"
            name = "Tax Computation Report"
            parent ="report_action"
            action ="user_tds_for_manager_action" />
        
        <menuitem name="All Declaration Data" id="menu_non_hr__declaration_tree" parent="report_action" sequence="106" action="non_hr_declaration_action"/>

        <menuitem id = "digital_sign"
        name = "Digital Signature"
        parent = "menu_hr_declaration_configuration"
        action = "action_digital_sign"
        sequence="12"/>
	</data>
</odoo>