<odoo>
    <data>
    
        <menuitem name="Auction" id="kw_auction_menu_root" web_icon="kw_auction,static/description/icon.png"/>


        <menuitem name="Auctions" id="kw_auctions_sub_menu" parent="kw_auction_menu_root" sequence='1'/>

        <menuitem name="View Auctions" id="kw_auction_view_sub_menu" parent="kw_auctions_sub_menu"
                action="kw_auction_view_server_action" sequence='1'/>
    
        <menuitem name="Add" id="kw_auction_add_sub_menu" parent="kw_auctions_sub_menu"
                action="kw_auction_add_action_window" sequence='2' groups="kw_auction.kw_auction_store_manager_group"/>
            
        <menuitem name="Take Action" id="kw_auction_take_action_sub_menu" parent="kw_auctions_sub_menu"
                action="kw_auction_take_action_server_action" sequence='3' groups="kw_auction.kw_auction_IT_head_group,kw_auction.kw_auction_store_manager_group"/>
        
        <menuitem name="Book Lots" id="kw_auction_manager_book_assets_sub_menu" parent="kw_auctions_sub_menu"
                action="kw_book_auction_wizard_action" sequence='4' groups="kw_auction.kw_auction_IT_head_group"/>


        <menuitem name="Bids &amp; Bookings" id="kw_auction_bids_bookings_sub_menu" parent="kw_auction_menu_root" sequence='2'/>

        <menuitem name="My Bids" id="kw_auction_my_bids_sub_menu" parent="kw_auction_bids_bookings_sub_menu"
                action="kw_auction_my_bids_server_action" sequence='1'/>
                
        <menuitem name="My Bookings" id="kw_auction_my_bookings_sub_menu" parent="kw_auction_bids_bookings_sub_menu"
                action="kw_auction_my_bookings_action_window" sequence='2'/>



        <menuitem name="Report" id="kw_auction_report_sub_menu" parent="kw_auction_menu_root" 
                action="kw_auction_report_action_window" sequence='3' groups="kw_auction.kw_auction_IT_head_group,kw_auction.kw_auction_store_manager_group"/>


        <menuitem name="Configuration" id="kw_auction_configuration_sub_menu" parent="kw_auction_menu_root"
                sequence='4' groups="kw_auction.kw_auction_IT_head_group"/>

        <menuitem name="Auction Date" id="kw_auction_date_sub_menu" parent="kw_auction_configuration_sub_menu"
                action="kw_auction_date_master_action_window" sequence='1'/>

    </data>
</odoo>