button.fa-location-arrow {
    background-color: #ffffff; /* Set the background color */
    color: #008CBA; /* Set the text color */
    border: none; /* Remove the border */
    padding: 0px 0px; /* Add padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove the underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
