.default_amount{
  background-color:#bcc1f5 !important;
}
.apprausal_val{
  background-color:#95edd9 !important;
}
.hod_fields{
    background-color:#dab3e6 !important;
}
.chro_fields{
  background-color:#558dc9 !important;
  color:white
}
.apprausal_val_in_app {
  color:black;
  text-align: center;
  font-weight: bold;
}
.font_bold{
  color:black;
  font-weight: bold
}
/* style='text-decoration-line: underline;' */

.o_fixed_column1{
  left: 0;
  background-color: #f0f7fd; 
  position: sticky;
  z-index: 0;
}
.o_fixed_column2{
  left: 65px;
  background-color: #f0f7fd; 
  position: sticky;
  z-index: 0;
}
.o_fixed_column3 {
  left: 132px;
  background-color: #f0f7fd; 
  position: sticky;
  z-index: 0;
}
.o_fixed_column4 {
  left: 225px;
  background-color: #f0f7fd; 
  position: sticky;
  z-index: 0;
}
.o_fixed_column5 {
  left: 276px;
  background-color: #f0f7fd; 
  position: sticky;
  z-index: 0;
}
.o_fixed_column6 {
  left: 352px;
  background-color: #f0f7fd; 
  position: sticky;
  z-index: 0;
}
.o_fixed_column7 {
  left: 434px;
  background-color: #f0f7fd; 
  position: sticky;
  z-index: 0;
}
.o_fixed_column8 {
  left: 495px;
  background-color: #f0f7fd; 
  position: sticky;
  z-index: 0;
}
.o_fixed_column9 {
  left: 555px;
  background-color: #f0f7fd; 
  position: sticky;
  z-index: 0;
}

.o_column_header1 {
  position: sticky !important;
  left: 0 !important;
  z-index: 2 !important;
}
.o_column_header2 {
  position: sticky !important;
  left: 65px !important;
  z-index: 2 !important;
}
.o_column_header3 {
  position: sticky !important;
  left: 132px !important;
  z-index: 2 !important;
}
.o_column_header4 {
  position: sticky !important;
  left: 225px !important;
  z-index: 2 !important;
}
.o_column_header5 {
  position: sticky !important;
  left: 276px !important;
  z-index: 2 !important;
}
.o_column_header6 {
  position: sticky !important;
  left: 352px !important;
  z-index: 2 !important;
}
.o_column_header7 {
  position: sticky !important;
  left: 434px !important;
  z-index: 2 !important;
}
.o_column_header8 {
  position: sticky !important;
  left: 495px  !important;
  z-index: 2 !important;
}
.o_column_header9 {
  position: sticky !important;
  left: 555px  !important;
  z-index: 2 !important;
}