<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- <menuitem name="HR Department Hierarchy" id="hr_department_menu_root"
                  web_icon="kw_organogram,static/description/icon.png"/> -->
        <menuitem name="Organogram"
                  id="menu_hr_hierarchy"
                  parent="hr.menu_hr_root"
                  sequence="3"
                  groups="hr.group_hr_manager,kw_employee.group_hr_management,kw_employee_info_system.group_mis_user"/>
    </data>
</odoo>
