<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data noupdate="0">

        <record id="account.menu_action_account_invoice_report_all" model="ir.ui.menu">
            <field name="action" eval="False" />
        </record>
        <!-- <menuitem id="menu_gst_tds_report" name="GST &amp; TDS Report" parent="account.menu_finance_reports" sequence="99" groups="account.group_account_manager,account.group_account_user,account.group_account_invoice"/>
        <menuitem id="menu_gstr_one" name="GSTR 1" parent="menu_gst_tds_report" sequence="1" />
        <menuitem id="menu_domestic_sales_register_report" action="action_domestic_sales_register_report_act_window" parent="menu_gstr_one" sequence="1" />
        <menuitem id="menu_export_sales_register_report" action="action_export_sales_register_report_act_window" parent="menu_gstr_one" sequence="2" />
        <menuitem id="menu_creditnote_domestic_sales_register_report" action="action_creditnote_domestic_sales_register_report_act_window" parent="menu_gstr_one" sequence="3" />
        <menuitem id="menu_creditnote_export_sales_register_report" action="action_creditnote_export_sales_register_report_act_window" parent="menu_gstr_one" sequence="4" />

        <menuitem id="menu_gstr_two" name="GSTR 2" parent="menu_gst_tds_report" sequence="2" />
        <menuitem id="menu_domestic_purchase_register_report" action="action_domestic_purchase_register_report_act_window" parent="menu_gstr_two" sequence="1" />
        <menuitem id="menu_export_purchase_register_report" action="action_export_purchase_register_report_act_window" parent="menu_gstr_two" sequence="2" />
        <menuitem id="menu_creditnote_domestic_purchase_register_report" action="action_creditnote_domestic_purchase_register_report_act_window" parent="menu_gstr_two" sequence="3" />
        <menuitem id="menu_creditnote_export_purchase_register_report" action="action_creditnote_export_purchase_register_report_act_window" parent="menu_gstr_two" sequence="4" /> -->

        
        
        <record id="kw_account_asset.menu_action_asset_asset_report" model="ir.ui.menu">
            <field name="action" eval="False"/>
        </record>
        <record id="kw_account_budget.menu_act_crossovered_budget_lines_view" model="ir.ui.menu">
            <field name="action" eval="False"/>
        </record>
        <!-- <record id="kw_inventory.menu_action_kw_asset_report" model="ir.ui.menu">
            <field name="action" eval="False"/>
        </record> -->

        <!-- <menuitem id="menu_tds_report" parent="menu_gst_tds_report" name="TDS" />
        <menuitem id="menu_tds_payable_register_salary_report" name="TDS Payable Register(Salary)" action="payroll_inherit.payroll_tds_deduction_report_action" parent="menu_tds_report" sequence="1" />
        <menuitem id="menu_tds_payable_register_non_salary_report" name="TDS Payable Register(Non-Salary)" action="action_tds_payable_register_act_window" parent="menu_tds_report" sequence="2" />
        <menuitem id="menu_tds_receivable_register_non_salary_report" name="TDS Receivable Register" action="action_tds_receivable_register_act_window" parent="menu_tds_report" sequence="3" /> -->
    </data>
</odoo>