
.cr-sr-portlet-card-body {
    /* background-color: rgba(241, 216, 184, 0.486); */
    border-top: 5px solid #a00e1f;
    border-radius: 20px 20px 5px 5px;

}

.card.cr-sr-card {
    border-radius: 20px 20px 20px 20px;
}

.uploaded-by-filter-wrapper,
.project-wise-filter-wrapper,
.day-wise-statictics-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(16, 143, 187, 0.8);
    z-index: 1;
}

.uploaded_by_filter_container,
.project_wise_filter_container,
.day_wise_statictics_container
{
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
/* .no-data-message {
    text-align: center;
    margin-top: 50%;
    transform: translateY(-50%);
} */


/* .upload-years-select,#upload-months-select{
    border: 2px solid #108fbb;
} */
