<?xml version="1.0" encoding="UTF-8"?>

<odoo>

	<menuitem id="kw_dms_main_menu_root" name="Documents"
	          web_icon="kw_dms,static/description/icon.png"
	          groups="kw_dms.group_dms_manager" sequence="35"/>

	<menuitem id="cat_menu_kw_dms_config"
	          name="Configuration"
	          parent="kw_dms_main_menu_root"
	          sequence="50" groups="kw_dms.group_dms_manager"/>

	<menuitem id="cat_menu_kw_dms_config_organizing"
	          name="Organizing"
	          parent="cat_menu_kw_dms_config"
	          sequence="5" groups="kw_dms.group_dms_manager"/>

	<menuitem id="cat_menu_kw_dms_config_system"
	          name="System"
	          groups="kw_dms.group_dms_manager"
	          parent="cat_menu_kw_dms_config"
	          sequence="25"/>

</odoo>
