body{ background: url('/kwantify_theme/static/src/img/Mask Group 3.png') no-repeat left; background-size:40.5%; overflow-x: hidden;overflow-y: hidden;}
.welcome { font-size: 30px; font-weight: 90; display: inline-block;margin-left: 130px;}
.kwantify { font-size: 30px; font-weight: 700; display: inline-block; line-height: 0; color: #093170 !important;}
.text-content { width: 100%;margin-top: 26px;font-size: 16px;line-height: 1.75;color: #000000;text-align: center;}
.signinButton {height:35px;width:120px;margin-left: 0px;border: 2px solid #093170;color: #ffffff; font-size: 0.9em;font-weight: 700;background-color: #093170;}
.website-link { margin-top: 25px;cursor: pointer;}

/* .signinButton:hover i {color: #fff;} */
.icon-right-arrow {     vertical-align: middle;margin-left: 10px;font-size: 1rem;color: #ffffff;}

.navbar ul.nav > li.divider { visibility: hidden;}
.nav-link { color: rgb(31, 26, 26) !important; font-weight: 501;}
.navbar-light { background-color: transparent !important;}
.social-icon a i { color: black;font-size: 20px; margin-right: 5px;background-size: contain;}
.tendril_erp {width: 100%;margin-left: 0rem;font-size: 16px;padding: 70px;}


.o_affix_enabled{
    display: none;
}

.o_header_affix{
    display: contents;
    font-weight: 700;
}

.col-sm-6{
    max-width: 50%;
    float: right;
    margin-top: 100px;
}

@media (min-width: 1200px){
    .container {max-width: 100%;}
    body{ background: url('/kwantify_theme/static/src/img/Mask Group 3.png') no-repeat left; 
        background-size:40.5%; 
        overflow-x: hidden;
        overflow-y: hidden;
    }
}
.version{
    padding-left: 0rem;
}

.tendril_erp {width: 100%;margin-left: 0rem;font-size: 16px;padding: 15px;}

.col-sm-6{
    max-width: 50%;
    float: right;
    margin-top: 100px;
}
header .navbar-brand.logo {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 41rem;
    opacity: 1;
  }

header .navbar-brand.logo img {
    width: 150px;
    height: 20px;
  }

.welcomeBox{
    max-width: 50%;
    opacity: 1;
}
@media (min-width: 992px){
    .container {max-width: 100%;}
}
.nav-link.active {
   color: #093170;
    font-size: 20px;
    padding-right: 5px !important;
    padding-left: 5px !important;
    padding-top: 4px;
    font-weight: 900;
    color: black;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    left: 125px;
    margin-left:0px;
    line-height: 60px;
    background-color: transparent !important;
}

.copyright-text{
    font: normal normal normal 14px/20px sans-serif;
    padding-top: 0.4rem;
    padding-left: 0rem;
  }
  
@media (min-width: 1600px){
    .footer {margin-left: 0px;}
    header .navbar-brand.logo {
        padding-left: 38rem;
      }
    .welcome{
        font-size: 40px;
    }
    .kwantify { font-size: 40px;}
    .text-content { width: 100%;margin-top: 26px;font-size: 18px;}
    .signinButton {height:40px;width:150px;font-size: 1.2em;margin-left: 0px;}
    body{ background: url('/kwantify_theme/static/src/img/Mask Group 3.png') no-repeat left; 
        background-size:40.5%; 
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .welcomeBox{
        opacity: 1;
        padding: 40px 82px 0px 82px;
    }
}



@media (min-width: 360px) and (max-width: 640px)
{
    .row.align-items-center { height: calc(100vh - 139px);}
    .kwantify {margin-left: 0px;margin-top: 50px;}
    .signinButton {margin-left: 0px;}
    .welcome {margin-left: 0px;padding-top: 15px;}
    .text-content {padding-right: 0px;padding-top: 0px;}
    .col-sm-6{
        max-width: 100%;
    }
    body{ background: url('/kwantify_theme/static/src/img/Mask Group 3.png') no-repeat left; 
        background-size:200%; 
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .copywrite{
        margin-left: 0px;
        width: 95%;
    }
    .version {
        padding-left: 1rem;
    }
    .tendril_erp{
        margin-left: 0rem;
        padding: 70px 20px 70px 20px;
    }
    .welcomeBox{
        margin: 30px 0px 0px 0px;
        background-color: #ffffff;
        opacity: 0.85;
        height: 590px;
        box-shadow: 0 29px 0 #dfd3d329;
    }
    header .navbar-brand.logo {
        padding-top: 0.2rem;
        padding-bottom: 0;
        margin-left: 0rem;
    }
    .nav-link {
        margin-right: 10px;
    }
    .nav-item {
        opacity: 0.7;
        background-color: white;
    }
}

@media (min-width: 320px) and (max-width: 568px)
{
    .row.align-items-center { height: calc(100vh - 139px);}
    .kwantify {margin-left: 0px;margin-top: 50px;}
    .signinButton {margin-left: 0px;}
    .welcome {margin-left: 0px;padding-top: 0px;}
    .text-content {padding-right: 0px;padding-top: 0px;}
    .col-sm-6{
        max-width: 100%;
    }
    body{ background: url('/kwantify_theme/static/src/img/Mask Group 3.png') no-repeat left; 
        background-size:200%; 
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .copywrite{
        margin-left: 0px;
        width: 95%;
    }
    .version {
        padding-left: 1rem;
    }
    .tendril_erp{
        margin-left: 0rem;
        padding: 70px 20px 70px 20px;
    }
    .welcomeBox{
        margin: 30px 0px 0px 0px;
        background-color: #ffffff;
        opacity: 0.85;
        height: 450px;
        box-shadow: 0 29px 0 #dfd3d329;
    }
    header .navbar-brand.logo {
        padding-top: 0.2rem;
        padding-bottom: 0;
        margin-left: 0rem;
    }
    .nav-link {
        margin-right: 10px;
    }
    .nav-item {
        opacity: 0.7;
        background-color: white;
    }
}

@media (min-width: 375px) and (max-width: 812px)
{
    .row.align-items-center { height: calc(100vh - 139px);}
    .kwantify {margin-left: 0px;margin-top: 50px;}
    .signinButton {margin-left: 0px;}
    .welcome {margin-left: 0px;padding-top: 15px;}
    .text-content {padding-right: 0px;padding-top: 0px;}
    .col-sm-6{
        max-width: 100%;
    }
    body{ background: url('/kwantify_theme/static/src/img/Mask Group 3.png') no-repeat left; 
        background-size:200%; 
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .copywrite{
        margin-left: 0px;
        width: 95%;
    }
    .version {
        padding-left: 1rem;
    }
    .tendril_erp{
        margin-left: 0rem;
        padding: 70px 20px 70px 20px;
    }
    .welcomeBox{
        margin: 30px 0px 0px 0px;
        background-color: #ffffff;
        opacity: 0.85;
        height: 590px;
        box-shadow: 0 29px 0 #dfd3d329;
    }
    header .navbar-brand.logo {
        padding-top: 0.2rem;
        padding-bottom: 0;
        margin-left: 0rem;
    }
    .nav-link {
        margin-right: 10px;
    }
    .nav-item {
        opacity: 0.7;
        background-color: white;
    }
}

@media (min-width: 384px) and (max-width: 854px)
{
    .row.align-items-center { height: calc(100vh - 139px);}
    .kwantify {margin-left: 0px;margin-top: 50px;}
    .text-content {padding-right: 0px;}
    .signinButton {margin-left: 0px;}
    .col-sm-6{
        max-width: 100%;
    }
    body{ background: url('/kwantify_theme/static/src/img/Mask Group 3.png') no-repeat left; 
        background-size:200%; 
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .welcome {margin-left: 0px;padding-top: 15px;}
    .copywrite{
        margin-left: 0px;
        width: 95%;
    }
    .version {
        padding-left: 1rem;
    }
    .tendril_erp{
        margin-left: 0rem;
        padding: 70px 20px 70px 20px;
    }
    .welcomeBox{
        margin: 30px 0px 0px 0px;
        background-color: #ffffff;
        opacity: 0.85;
        height: 590px;
        box-shadow: 0 29px 0 #dfd3d329;
    }
    header .navbar-brand.logo {
        padding-top: 0.2rem;
        padding-bottom: 0;
        margin-left: 0rem;
    }
    .nav-link {
        margin-right: 10px;
    }
    .nav-item {
        opacity: 0.7;
        background-color: white;
    }
}

@media (min-width: 412px) and (max-width:915px){
    .row.align-items-center { height: calc(100vh - 139px);}
    .kwantify {margin-left: 0px;margin-top: 50px;}
    .text-content {padding-right: 0px;}
    .signinButton {margin-left: 0px;}
    .col-sm-6{
        max-width: 100%;
    }
    body{ background: url('/kwantify_theme/static/src/img/Mask Group 3.png') no-repeat left; 
        background-size:200%; 
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .welcome {margin-left: 0px;padding-top: 15px;}
    .copywrite{
        margin-left: 0px;
        width: 95%;
    }
    .version {
        padding-left: 1rem;
    }
    .tendril_erp{
        margin-left: 0rem;
        padding: 70px 20px 70px 20px;
    }
    .welcomeBox{
        margin: 30px 0px 0px 0px;
        background-color: #ffffff;
        opacity: 0.85;
        height: 590px;
        box-shadow: 0 29px 0 #dfd3d329;
    }
    header .navbar-brand.logo {
        padding-top: 0.2rem;
        padding-bottom: 0;
        margin-left: 0rem;
    }
    .nav-link {
        margin-right: 10px;
    }
    .nav-item {
        opacity: 0.7;
        background-color: white;
    }
}

@media (min-width: 414px) and (max-width: 894px)
{
    .row.align-items-center { height: calc(100vh - 139px);}
    .kwantify {margin-left: 0px;margin-top: 50px;}
    .text-content {padding-left: 0px;padding-top: 0px;}
    .signinButton {margin-left: 0px;}
    .col-sm-6{
        max-width: 100%;
    }
    body{ background: url('/kwantify_theme/static/src/img/Mask Group 3.png') no-repeat left ; 
        background-size:200%; 
        overflow-x: auto;
        overflow-y: auto;
    }
    .welcome {margin-left: 0px;padding-top: 15px;}
    .copywrite{
        margin-left: 0px;
        width: 95%;
    }
    .version {
        padding-left: 1rem;
    }
    .tendril_erp{
        margin-left: 0rem;
        padding: 70px 20px 70px 20px;
    }
    .welcomeBox{
        margin: 30px 0px 0px 0px;
        background-color: #ffffff;
        opacity: 0.85;
        height: 590px;
        box-shadow: 0 29px 0 #dfd3d329;
    }
    header .navbar-brand.logo {
        padding-top: 0.2rem;
        padding-bottom: 0;
        margin-left: 0rem;
    }
    .nav-link {
        margin-right: 10px;
    }
    .nav-item {
        opacity: 0.7;
        background-color: white;
    }
}


@media (min-width: 360px) and (max-width:760px){
    .row.align-items-center { height: calc(100vh - 139px);}
    .kwantify {margin-left: 0px;margin-top: 50px;}
    .signinButton {margin-left: 0px;}
    .welcome {margin-left: 0px;padding-top: 15px;}
    .text-content {padding-right: 0px;padding-top: 0px;}
    .col-sm-6{
        max-width: 100%;
    }
    body{ background: url('/kwantify_theme/static/src/img/Mask Group 3.png') no-repeat left; 
        background-size:200%; 
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .copywrite{
        margin-left: 0px;
        width: 95%;
    }
    .version {
        padding-left: 1rem;
    }
    .tendril_erp{
        margin-left: 0rem;
        padding: 70px 20px 70px 20px;
    }
    .welcomeBox{
        margin: 30px 0px 0px 0px;
        background-color: #ffffff;
        opacity: 0.85;
        height: 450px;
        box-shadow: 0 29px 0 #dfd3d329;
    }
    .copyright-text{
        padding-left: 1.6rem;
    }
    header .navbar-brand.logo {
        padding-top: 0.2rem;
        padding-bottom: 0;
        margin-left: 0rem;
    }
    .nav-link {
        margin-right: 10px;
    }
    .nav-item {
        opacity: 0.7;
        background-color: white;
    }
} 

@media (min-width: 390px) and (max-width:844px){
    .row.align-items-center { height: calc(100vh - 139px);}
    .kwantify {margin-left: 0px;margin-top: 50px;}
    .text-content {padding-right: 0px;padding-top: 0px;}
    .signinButton {margin-left: 0px;}
    .col-sm-6{
        max-width: 100%;
    }
    body{ background: url('/kwantify_theme/static/src/img/Mask Group 3.png') no-repeat left; 
        background-size:200%; 
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .welcome {margin-left: 0px;padding-top: 15px;}
    .copywrite{
        margin-left: 0px;
        width: 95%;
    }
    .version {
        padding-left: 1rem;
    }
    .tendril_erp{
        margin-left: 0rem;
        padding: 70px 20px 70px 20px;
    }
    .welcomeBox{
        margin: 30px 0px 0px 0px;
        background-color: #ffffff;
        opacity: 0.85;
        height: 590px;
        box-shadow: 0 29px 0 #dfd3d329;
    }
    .copyright-text{
        padding-left: 2rem;
    }
    header .navbar-brand.logo {
        padding-top: 0.2rem;
        padding-bottom: 0;
        margin-left: 0rem;
    }
    .nav-link {
        margin-right: 10px;
    }
    .nav-item {
        opacity: 0.7;
        background-color: white;
    }
} 

@media (min-width: 412px) and (max-width:915px){
    .row.align-items-center { height: calc(100vh - 139px);}
    .kwantify {margin-left: 0px;margin-top: 50px;}
    .text-content {padding-left: 0px;padding-top: 0px;}
    .signinButton {margin-left: 0px;}
    .col-sm-6{
        max-width: 100%;
    }
    body{ background: url('/kwantify_theme/static/src/img/Mask Group 3.png') no-repeat left ; 
        background-size:200%; 
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .welcome {margin-left: 0px;padding-top: 15px;}
    .copywrite{
        margin-left: 0px;
        width: 95%;
    }
    .version {
        padding-left: 1rem;
    }
    .tendril_erp{
        margin-left: 0rem;
        padding: 70px 20px 70px 20px;
    }
    .welcomeBox{
        margin: 30px 0px 0px 0px;
        background-color: #ffffff;
        opacity: 0.85;
        height: 590px;
        box-shadow: 0 29px 0 #dfd3d329;
    }
    .copyright-text{
        padding-left: 3rem;
    }
    header .navbar-brand.logo {
        padding-top: 0.2rem;
        padding-bottom: 0;
        margin-left: 0rem;
    }
    .nav-link {
        margin-right: 10px;
    }
    .nav-item {
        opacity: 0.7;
        background-color: white;
    }
} 

@media (min-width: 428px) and (max-width: 926px){
    .row.align-items-center { height: calc(100vh - 139px);}
    .kwantify {margin-left: 0px;margin-top: 50px;}
    .signinButton {margin-left: 0px;}
    .text-content{
        color: rgb(0, 0, 0);
        padding-top: 0px;
    }
    .col-sm-6{
        max-width: 100%;
    }
    .welcome {margin-left: 0px;padding-top: 15px;}
    body{ background: url('/kwantify_theme/static/src/img/Mask Group 3.png') no-repeat left; 
        background-size:200%; 
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .copywrite{
        margin-left: 0px;
        width: 95%;
    }
    .version {
        padding-left: 1rem;
    }
    .tendril_erp{
        margin-left: 0rem;
        padding: 70px 20px 70px 20px;
    }
    .welcomeBox{
        margin: 30px 0px 0px 0px;
        background-color: #ffffff;
        opacity: 0.85;
        height: 590px;
        box-shadow: 0 29px 0 #dfd3d329;
    }
    .copyright-text{
        padding-left: 3rem;
    }
    header .navbar-brand.logo {
        padding-top: 0.2rem;
        padding-bottom: 0;
        margin-left: 0rem;
    }
    .nav-link {
        margin-right: 10px;
    }
    .nav-item {
        opacity: 0.7;
        background-color: white;
    }
    
} 

@media (min-width: 540px) and (max-width: 720px)
{
    .row.align-items-center { height: calc(100vh - 139px);}
    .kwantify {margin-left: 0px;margin-top: 50px;}
    .text-content {margin-left: 0px;padding-top: 0px;}
    .signinButton {margin-left: 0rem;}
    .col-sm-6{
        max-width: 100%;
    }
    body{ background: url('/kwantify_theme/static/src/img/Mask Group 3.png') no-repeat left ; 
        background-size:200%; 
        overflow-x: auto;
        overflow-y: auto;
    }
    .welcome {margin-left: 0px;padding-top: 15px;}
    .copywrite{
        margin-left: 0px;
        width: 95%;
    }
    .version {
        padding-left: 1rem;
    }
    .tendril_erp{
        margin-left: 0rem;
        padding: 70px 20px 70px 20px;
    }
    .welcomeBox{
        margin: 30px 0px 0px 0px;
        background-color: #ffffff;
        opacity: 0.85;
        height: 590px;
        box-shadow: 0 29px 0 #dfd3d329;
    }
    .copyright-text{
        padding-left: 6rem;
    }
    header .navbar-brand.logo {
        padding-top: 0.2rem;
        padding-bottom: 0;
        margin-left: 0rem;
    }
    .nav-link {
        margin-right: 10px;
    }
    .nav-item {
        opacity: 0.7;
        background-color: white;
    }
}

@media (min-width: 768px) and (max-width: 1084px){
    .row.align-items-center { height: calc(100vh - 139px);}
    .kwantify {margin-left: 0px;margin-top: 50px;}
    .signinButton {margin-left: 0rem;}
    .col-sm-6{
        max-width: 100%;
    }
    body{ background: url('/kwantify_theme/static/src/img/Mask Group 3.png') no-repeat left; 
        background-size:200%; 
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .welcome {margin-left: 0rem;padding-top: 15px;}
    .copywrite{
        margin-left: 0px;
        width: 95%;
    }
    .version {
        padding-left: 1rem;
    }
    .tendril_erp{
        margin-left: 0rem;
        padding: 70px 20px 70px 20px;
    }
    .welcomeBox{
        margin: 30px 0px 0px 0px;
        background-color: #ffffff;
        opacity: 0.85;
        height: 590px;
        box-shadow: 0 29px 0 #dfd3d329;
    }
    .text-content {
        margin-left: 0px;
    }
    .navbar-brand{
        display: none;
    }
    header .navbar-brand.logo {
        padding-top: 0.2rem;
        padding-bottom: 0;
        margin-left: 0rem;
    }
    .nav-link {
        margin-right: 10px;
    }
    .nav-item {
        opacity: 0.7;
        background-color: white;
    }
}

@media (min-width: 810px) and (max-width:1366px){
    .row.align-items-center { height: calc(100vh - 139px);}
    .kwantify {font-size: 25px;margin-left:0px; margin-top: 80px;}
    .signinButton {margin-left: 0rem;}
    .welcome {margin-left: 0px;font-size: 25px;padding-top: 50px;}
    .col-sm-6{
        max-width: 50%;
        /* margin-top: -20px; */
    }
    body{ background: url('/kwantify_theme/static/src/img/Mask Group 3.png') no-repeat left; 
        background-size:40.5%; 
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .copywrite{
        margin-left: 0px;
        width: 95%;
    }
    .welcomeBox{
        max-width: 50%;
        margin: 30px 0px 0px 0px;
        background-color: #ffffff;
        opacity: 0.85;
        height: 590px;
        box-shadow: 0 29px 0 #dfd3d329;
        padding: 40px 82px 0px 82px;
    }
    .text-content {
        margin-left: 0px;
        margin-top: 0px;
    }
    
    
}

@media (min-width: 1440px){
    .footer {margin-left: -35px;}
    body{ background: url('/kwantify_theme/static/src/img/Mask Group 3.png') no-repeat left; 
        background-size:40.5%; 
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .signinButton {margin-left: 0rem;}
    .welcome {margin-left: 0rem;font-size: 25px;padding-top: 50px;}
    .tendril_erp {width: 100%;margin-left: 0rem;font-size: 16px;padding: 15px;}
    .text-content {
        margin-left: 0px;
        margin-top: 0px;
        align-items: center;
    }
    .welcomeBox{
        opacity: 1.0;
        padding: 40px 82px 0px 82px;
    }
}

@media (min-width: 1024px){
    .footer {margin-left: -65px;}
    body { background-size: contain;}
    body{ background: url('/kwantify_theme/static/src/img/Mask Group 3.png') no-repeat left; 
        background-size:40.5%; 
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .signinButton {margin-left: 0rem;}
    .welcome {margin-left: 0rem;font-size: 25px;padding-top: 50px;}
    .tendril_erp {width: 100%;margin-left: 0rem;font-size: 16px;padding: 15px;}
    .text-content {
        margin-left: 0px;
        margin-top: 0px;
        align-items: center;
    }
    .welcomeBox{
        opacity: 1.0;
        padding: 40px 82px 0px 82px;
    }
}

/* @media screen and (orientation: landscape) and (min-width: 667px){
    .social-icons-wrapper { right: 130px;margin-top: 80px;}
    body{overflow-y: auto;overflow-x: auto;}
}  

@media screen and (orientation: landscape) and (min-width: 720px){
    .copyright-text {padding-top: 7.4rem;}
}     */
