@font-face {
  font-family: OpenSans;
  src: url(/kwantify_theme/static/src/fonts/OpenSans-Regular.ttf)
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  background: url('/kwantify_theme/static/src/img/_MG_8939.png') no-repeat;
  background-size: auto;
  overflow-y: auto;
}
header{
  height: 40px;
  margin-bottom: 10px;
}

.md-form{
  position: relative;
}

.o_affix_enabled{
  display: none;
}

.o_header_affix{
  display: none;
}
.nav-link.active {
  color: #093170;
   font-size: 20px;
   padding-right: 5px !important;
   padding-left: 5px !important;
   padding-top: 4px;
   font-weight: 900;
   color: black;
}
.text-alert{
  top: 650px;
  left: 197px;
  width: 638px;
  height: 86px;
  color: #FFFFFF;
  font:normal normal normal 20px/30px sans-serif;
  font-size:20px;
  text-align: center;
  letter-spacing: 0px;
  opacity: 0.99;

}

.pr-4, .px-4 {
  padding-right: 3.5rem !important;
}

.alert-danger{font-size: 12px;}

.box-form {
  /* top: 232px; */
  /* left: 964px; */
  width: 531px;
  height: 440px;
  /* margin-top: 60px; */
  /* margin-left: 200px; */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 25px 25px 99px #09317047;
  border-radius: 18px;
  opacity: 1;
}
.boxed-input {
  top: 364px;
  left: 1054px;
  width: 100%;
  height: 35px;
  /* UI Properties */
  background: #F5F7FA 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
}

.name-header{
  top: 323px;
  left: 1054px;
  width: 150px;
  height: 29px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 16px/29px sans-serif;
  letter-spacing: 0px;
  color: #093170;
  opacity: 1;
  margin-left: 1.4rem ;
}
/* .card { 
  background: #108fbb; 
  border: 0;
} */
.card, .navbar, .pagination .page-item.active .page-link { box-shadow: none; }
.navbar-light { background: transparent !important;}
.collapse.navbar-collapse { visibility: hidden;}

.md-form label {color:  white; transform: translateX(40px) translateY(5px);}
.md-form label.reg { color: white; transform: none;}
.md-form label.reg.active { transform: translateY(-20px) scale(0.9);}

.md-form label.active { transform: translateY(-20px) translateX(40px) scale(0.9);}
.md-form input[type="text"]:not(.browser-default):focus:not([readonly]) { 
  color: black;
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;;
}
.md-form input[type="text"].otptext { color: #000;}
.md-form input[type="text"].otptext:not(.browser-default):focus:not([readonly]) { 
  color: #000;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 1px 0 0 #d8d8d8;
}
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]) { 
  color: black;
  /* border-bottom: 1px solid #fff; */
  /* box-shadow: 0 1px 0 0 #fff;; */
}
.md-form input[type="text"]:not(.browser-default):focus:not([readonly]) + label { 
  color: #093170;
}
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]) + label { 
  color: #093170;
}
.md-form input { color: black;}
.md-form.input-group .input-group-text.md-addon { font-weight: 700;}
/*.row.align-items-center { height: calc(100vh - 252px);}*/
.col-sm-6.col-sm-offset-6.col-md-7 { max-width: 550px; }
/* .loginButton { padding: 0.74rem 2.14rem; font-weight: 700;} */
.loginButton { 
  top: 730px;
  left: 1303px;
  width: 42rem;
  height: 50px;
  font-size: 27px;
  /* UI Properties */
  text-align: left;
  font: normal normal medium 27px/35px sans-serif;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin-left: 1.5rem;
  /* margin-top: 55px; */
  background-color: #093170;
  border-radius: 6px;
  /* padding: 10px; font-weight: 700;width: 90%;margin-left: 40px;margin-top: 30px;
  background-color:#093170;color:white; font: normal normal medium 27px/35px sans-serif; */
}
.tebdrils_image{
  height: 144px;
  margin-right: 0px;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3359375rem;
  padding-bottom: 0.3359375rem;
  margin-right: 0rem;
  font-size: 1.09375rem;
  line-height: inherit;
  white-space: nowrap;
}

.social-icons-wrapper {
  position: absolute;
  top: 20px; /* Adjust this value as needed */
  right: 0px; /* Adjust this value as needed */
  width: 100%;
}
.text_style{
  color: white;
  font: normal normal normal 16px/22px sans-serif;
  width: 100%;
  margin-left: 0px;
}
.social-icons-wrapper .social-icons li a i {
  color: white; /* Set the color to white */
}
.loginBox{margin-left: 0px;
  /* box-shadow: 20px 0px 99px #09317047; */
  border-radius: 18px;
  opacity: 1;
}

.tendrills{
  padding-top: 90px;
  padding-bottom: 16px;
}
.reset-password{
  text-align: center;
  padding-top: 2rem;
  font: normal normal normal 30px/25px sans-serif;
  letter-spacing: 0px;
  color: #093170;
  opacity: 1;
}

.user-name{
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 350px;

}
.form-group{
  margin-bottom: 0.2rem;
}
/* .reset-password{
  width: 480px;
  height: 400px;

} */
.copyright-text{
  font: normal normal normal 14px/20px sans-serif;
}

.reset-button{
  margin-left: -0.5rem;
  width: 25rem;
  height: 61px;
  font-size: 27px;
  text-align: center;
  font: normal normal medium 27px/35px sans-serif;
  background-color: #093170;
  margin-top: 1rem;

}

.warning-style{
  margin-left: 20px;
  width: 90%;
}
.SignUpButton { 
  top: 730px;
  left: 1303px;
  width: 27rem;
  height: 50px;
  font-size: 27px;
  text-align: center;
  font: normal normal medium 27px/35px sans-serif;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  background-color: #093170;
  border-radius: 6px;
}
.container_layout{
  padding-top: 3rem;
}
input::placeholder { color: #fff;} 
.sign_in_section {padding-left: 2rem !important;}
/* .reset_password_section{ margin-top: 1rem !important; text-align: center;} */
.reset_password_section{ margin-top: 1rem !important; text-align: right;}
.pull-left.pl-5 { padding-left: 2rem !important;}
.pull-right.pr-5 { padding-right: 2rem !important;}
.job_apply .md-form label{transform: translateX(20px) translateY(5px);}
.job_apply .md-form label.active {transform: translateY(-20px) translateX(20px) scale(0.9);}
.cb{clear: both;}
@media (min-width: 1600px){
  .container{max-width: 100%;margin-right: 15rem; }
  .row.align-items-center{ margin-top: 140px;}
  body{overflow-y: auto;overflow-x: auto;}
  .copyright-text a { color: #fff;}
  .box-form {
    width: 700px;
    height: 500px;
    margin-top: 50px;
    margin-left: 0px;
    /* overflow-y: auto;overflow-x: auto; */
  }
  .alert-danger{width: 360px;font-size: 12px;}
  .loginBox{margin-left: 0px;}
  .text_style{margin-left: 0px;font:normal normal normal 20px/25px sans-serif;;width:100%}
  .boxed-input{width: 100%;}
  .loginButton{width: 37rem;}
  .social-icons-wrapper {right: 40px;}
  .tendrills {
    padding-top: 220px;
    padding-bottom: 16px;
    margin-left: 0px;

  }
 .login_form{
    margin-top: 50px;
  }
  .tebdrils_image{
    height: 175px;
    margin-left: 0px;
  }
} 


.btn-warning {
  background-color: #093170 !important;
}
.btn {
  margin-top: 3.375rem;
  color: inherit;
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: normal;
  cursor: pointer;
  border: 0;
  padding: 0.84rem 2.14rem;
  font-size: .81rem;
  width: 200px;
  margin-left: 25px;
  border-radius: 5px;

}
.white-text{
  color: #093170  !important;
  font-size: 20px;
  text-align: center;
  margin-top: 130px;
}

@media (min-width: 1280px){
  body { background-size:auto;}
  .row.align-items-center{ margin-top: 120px;}
  .social-icons-wrapper {right: 20px;margin-top: -20px;}
  .container{max-width: 100%;}
} 

@media (min-width: 1024px){

  .container{max-width: 100%;}
  .row.align-items-center{ margin-top: 120px;}
  body{overflow-y: auto;overflow-x: auto;background-size: cover;}
  .social-icons-wrapper {right: 110px;margin-top: -10px;}

} 

@media (min-width: 768px){
    .container{max-width: 100%;}
    .row.align-items-center{ margin-top: 100px;}
    
    body{overflow-y: auto;overflow-x: auto;}
 

}
@media (min-width: 414px) and (max-width: 736px)
{
  .row.align-items-center{ margin-top: 100px;}
  body{overflow-y: auto;overflow-x: auto;}
  .box-form {
    width: 300px;
    height: 440px;
    margin-top: 6px;
  }
  .alert-danger{width: 190px;font-size: 12px;}
  .loginBox{padding-left: 0px;margin-top: -40rem;}
  .text_style{margin-left: 0px;}
  .copyright-text{
    text-align: center;
    padding-top: 60px;
}
header .navbar-brand.logo {
  padding-top: 0.2rem;
  padding-bottom: 0;
  margin-left: 0rem;
}
.nav-link {
  margin-right: 10px;
}
.nav-item {
  opacity: 0.7;
  background-color: white;
}
.copywrite{
  margin-left: 0px;
  width: 100%;
}
.social-icons{
  justify-content: center;
}
  
}

@media (min-width: 375px) and (max-width: 812px)
{
  body { background-size: auto; overflow-y: auto;}
  .navbar-toggler-icon { display: none;}
  .copyright-text { color: #fff;text-align: center;
    padding-top: 60px;}
  .copyright-text a { color: #fff;}
  .reset-button {
    font-weight: 700;
    
  }
  header .navbar-brand.logo {
    padding-top: 0.2rem;
    padding-bottom: 0;
    margin-left: 0rem;
}
.nav-link {
    margin-right: 10px;
}
.nav-item {
    opacity: 0.7;
    background-color: white;
}
.copywrite{
  margin-left: 0px;
  width: 100%;
}
}
@media (min-width: 360px) and (max-width: 640px)
{
  .row.align-items-center{ margin-top: 100px;}
  body{overflow-y: auto; background-size: 250%;}
  .boxed-input{width: 100%;}
  .reset-button{width: 15rem;}
  .copyright-text {color: #fff;padding-top: 60px;text-align: center;}
  .copyright-text a { color: #fff;}
  .social-icons-wrapper {padding-left: 0px;width: 100%}
  header .navbar-brand.logo {
    padding-top: 0.2rem;
    padding-bottom: 0;
    margin-left: 0rem;
}
.nav-link {
    margin-right: 10px;
}
.nav-item {
    opacity: 0.7;
    background-color: white;
}
.copywrite{
  margin-left: 0px;
  width: 100%;
}
.social-icons{
  justify-content: center;
}
}

/* @media (min-width: 320px) and (max-width: 568px)
{
  .card.py-4.pl-4.pr-4{ padding-left: 0.5rem !important; padding-right: 0.5rem !important;}
  .navbar-toggler-icon{display: none;}
  .row.align-items-center{ margin-top: 80px;}
  body{overflow-y: auto;overflow-x: auto; background-size:auto;}
  .sign_in_section{ padding-left: 14px !important;}
  .copyright-text {color: #fff;}
  .copyright-text a { color: #fff;}
  .box-form {
    width: 300px;
    height: 440px;
    margin-top: 6px;
  }
  .alert-danger{width: 190px;font-size: 12px;}
  .loginBox{margin-left: 40px;}
  .text_style{margin-left: 5px;}
} */
@media (min-width: 320px) and (max-width: 568px)
{
  .row.align-items-center{ margin-top: 0px;}
  body{overflow-y: auto;overflow-x: auto;background-size:auto}
  .card.py-4.pl-4.pr-4 {
    margin-top: -34rem;}
  .box-form {
    width: 100%;
    height: 450px;
    margin-top: 6px;
  }
  .row{margin-top: -75px;}
  .copyright-text {color: #fff;padding-top: 60px; text-align: center;}
  
  .alert-danger{width: 250px;font-size: 12px;}
  .loginBox{margin-top: -40rem;}
  .text_style{margin-left: 0px;margin-top: 33rem;}
  .boxed-input{width: 100%;}
  .reset-button{width: 15rem;}
  .copywrite{
    margin-left: 0px;
    width: 100%;
  }
  .social-icons{
    justify-content: center;
  }
}
header .navbar-brand.logo {
  padding-top: 0.2rem;
  padding-bottom: 0;
  margin-left: 0rem;
}
.nav-link {
  margin-right: 10px;
}
.nav-item {
  opacity: 0.7;
  background-color: white;
}

@media (min-width: 375px) and (max-width: 812px)
{
  .row.align-items-center{ margin-top: 0px;}
  body{overflow-y: auto;overflow-x: auto;}
  .box-form {
    width: 100%;
    height: 450px;
    margin-top: 6px;
  }
  .alert-danger{width: 220px;font-size: 12px;}
  .loginBox{margin-top: -40rem;;padding-left: 0px}
  .text_style{margin-left: 0px;}
  .boxed-input{width: 100%;}
  .reset-button{width: 15rem;}
  .social-icons-wrapper {right: 0px;}
  .copyright-text{
    text-align: center;
    padding-top: 60px;
}
header .navbar-brand.logo {
  padding-top: 0.2rem;
  padding-bottom: 0;
  margin-left: 0rem;
}
.nav-link {
  margin-right: 10px;
}
.nav-item {
  opacity: 0.7;
  background-color: white;
}
.copywrite{
  margin-left: 0px;
  width: 100%;
}
.social-icons{
  justify-content: center;
}
}

@media (min-width: 384px) and (max-width: 854px)
{
  .row.align-items-center{ margin-top: 0px;}
  body{overflow-y: auto;overflow-x: auto;}
  .box-form {
    width: 100%;
    height: 450px;
    margin-top: 6px;
  }
  .alert-danger{width: 220px;font-size: 12px;}
  .loginBox{margin-top: -40rem;;padding-left: 0px}
  .text_style{margin-left: 0px;}
  .boxed-input{width: 100%;}
  .reset-button{width: 15rem;}
  .social-icons-wrapper {right: 0px;}
  .copyright-text{
    text-align: center;
    padding-top: 60px;
}
header .navbar-brand.logo {
  padding-top: 0.2rem;
  padding-bottom: 0;
  margin-left: 0rem;
}
.nav-link {
  margin-right: 10px;
}
.nav-item {
  opacity: 0.7;
  background-color: white;
}
.copywrite{
  margin-left: 0px;
  width: 100%;
}
.social-icons{
  justify-content: center;
}
}

@media (min-width: 412px) and (max-width: 915px)
{
  .row.align-items-center{ margin-top: 0px;}
  body{overflow-y: auto;overflow-x: auto;}
  .box-form {
    width: 100%;
    height: 450px;
    margin-top: 6px;
  }
  .alert-danger{width: 220px;font-size: 12px;}
  .loginBox{margin-top: -40rem;padding-left: 0px}
  .text_style{margin-left: 0px;}
  .boxed-input{width: 100%;}
  .reset-button{width: 15rem;}
  .social-icons-wrapper {right: 0px;}
  .copyright-text{
    text-align: center;
    padding-top: 60px;
}
header .navbar-brand.logo {
  padding-top: 0.2rem;
  padding-bottom: 0;
  margin-left: 0rem;
}
.nav-link {
  margin-right: 10px;
}
.nav-item {
  opacity: 0.7;
  background-color: white;
}
.copywrite{
  margin-left: 0px;
  width: 100%;
}
.social-icons{
  justify-content: center;
}
}

@media (min-width: 540px) and (max-width: 720px)
{
  body{overflow-y: auto;overflow-x: auto;}
  .row.align-items-center{ margin-top: 100px;}
.copyright-text {color: #fff;padding-top: 60px;text-align: center;}
.copyright-text a { color: #fff;}
.box-form {
  width: 100%;
  height: 440px;
  margin-top: 6px;
  margin-left: 0px;
}
.alert-danger{width: 360px;font-size: 12px;}
.loginBox{margin-top: -40rem;padding-left: 0px}
.text_style{margin-left: 0px;}
.boxed-input{width: 100%;}
.reset-button{width: 15rem;}
.social-icons-wrapper {right: 0px;}
.tendrills {
  padding-top: 80px;
  padding-bottom: 16px;
  margin-left: 20px;
}
header .navbar-brand.logo {
  padding-top: 0.2rem;
  padding-bottom: 0;
  margin-left: 0rem;
}
.nav-link {
  margin-right: 10px;
}
.nav-item {
  opacity: 0.7;
  background-color: white;
}
.copywrite{
  margin-left: 0px;
  width: 100%;
}
.social-icons{
  justify-content: center;
}
}


@media (min-width: 414px) and (max-width: 894px)
{
  .row.align-items-center{ margin-top: 0px;}
  body{overflow-y: auto;overflow-x: auto;}
  .box-form {
    width: 100%;
    height: 450px;
    margin-top: 6px;
  }
  .alert-danger{width: 250px;font-size: 12px;}
  .loginBox{margin-top: -40rem;padding-left: 0px}
  .text_style{margin-left: 0px;}
  .boxed-input{width: 100%;}
  .reset-button{width: 15rem;}
  .social-icons-wrapper {right: 0px;}
  .copyright-text{
    text-align: center;
    padding-top: 60px;
}
header .navbar-brand.logo {
  padding-top: 0.2rem;
  padding-bottom: 0;
  margin-left: 0rem;
}
.nav-link {
  margin-right: 10px;
}
.nav-item {
  opacity: 0.7;
  background-color: white;
}
.copywrite{
  margin-left: 0px;
  width: 100%;
}
.social-icons{
  justify-content: center;
}
}

@media (min-width: 768px) and (max-width: 1084px)
{
  body{overflow-x: auto;}
  .row.align-items-center{ margin-top: 100px;}
.copyright-text {color: #fff;font-size: 16px;text-align: center;}
.copyright-text a { color: #fff;}
.box-form {
  width: 100%;
  height: 420px;
  margin-top: 0px;
  margin-left: 0px;
}
.alert-danger{width: 460px;font-size: 12px;}
.loginBox{margin-top: 16rem;margin-left: 0rem;}
.text_style {
  margin-left: 0px;
  font: normal normal normal 14px/20px sans-serif;
  padding-top: 29rem;
  width: 100%;
  padding-left: 0rem;
}
.boxed-input{width: 100%;}
.loginButton{width: 22rem;}
.social-icons-wrapper {right: 0px;padding-top:35px;}
.tendrills {
  padding-top: 60px;
  padding-bottom: 16px;
  margin-left: 180px;
}
.navbar-brand {
  margin-left: 0rem;
}
header .navbar-brand.logo {
  padding-top: 0.2rem;
  padding-bottom: 0;
  margin-left: 0rem;
}
.nav-link {
  margin-right: 10px;
}
.nav-item {
  opacity: 0.7;
  background-color: white;
}
.copywrite{
  margin-left: 0px;
  width: 100%;
}
.social-icons{
  justify-content: center;
}
}

@media (min-width: 810px) and (max-width: 1080px)
  {
    body{overflow-x: auto;height: auto;}
    .row.align-items-center{ margin-top: 100px;}
  .copyright-text {color: #fff;font-size: 16px;text-align: center;}
  .copyright-text a { color: #fff;}
  .box-form {
    width: 100%;
    height: 420px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .alert-danger{width: 460px;font-size: 12px;}
  .loginBox{margin-top: -32rem;margin-left: 0rem;}
  .text_style {
    margin-left: 0px;
    font: normal normal normal 14px/20px sans-serif;
    padding-top: 29rem;
    width: 100%;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .boxed-input{width: 100%;}
  .loginButton{width: 20.5rem;}
  .social-icons-wrapper {right: 0px;padding-top:80px;width: 100%;}
  .tendrills {
    padding-top: 60px;
    padding-bottom: 16px;
    margin-left: 0px;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .navbar-brand {
    margin-left: 0rem;
  }
  header .navbar-brand.logo {
    padding-top: 0.2rem;
    padding-bottom: 0;
    margin-left: 0rem;
  }
  .nav-link {
      margin-right: 10px;
  }
  .nav-item {
      opacity: 0.7;
      background-color: white;
  }
  .copywrite{
    margin-left: 0px;
    width: 100%;
  }
  .social-icons{
    justify-content: center;
  }
  .tab_style{
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    
  }
  }

  /* @media screen and (orientation: landscape) and (min-width: 740px){
    .loginBox {padding-left: 350px;}
}      */


@media screen and (orientation: landscape) and (min-width: 414px) and (max-width: 736px)
{
  .row.align-items-center{ margin-top: 100px;}
  body{overflow-y: auto;overflow-x: auto;}
  .box-form {
    width: 100%;
    height: 440px;
    margin-top: 300px;
    margin-left: 0px;
  }
  .alert-danger{width: 190px;font-size: 12px;}
  .loginBox{padding-left: 30px;margin-top: -40rem;text-align: center;}
  .text_style{margin-left: 0px;}
  .copyright-text{
    text-align: center;
    padding-top: 60px;
}
.loginBox {padding-left: 350px;}
.social-icons-wrapper{top: 65px;}
}
