/* body{
    background-image: url(/kwantify_theme/static/src/img/_MG_8939.png);
} */

body .login_section
{
    background-image: url(/kwantify_theme/static/src/img/_MG_8939.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.login_section
{
    /* background-image: url(/kwantify_theme/static/src/img/_MG_8939.png);
    background-repeat: no-repeat;
    background-size: cover; */
    height: calc(100vh - 3.5rem); 
    position: relative;
    display: flex;
    align-items: center;
}
.login_content
{
    color:#fff;
    font-size: calc(14px + (20 - 14) * (100vw - 375px) / (1920 - 375));
    width: 78%;margin: 0.3rem;
}
.login_logo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
}
.login_form
{
    box-shadow: 25px 25px 99px #09317047;
    border-radius: 18px;
    width: 85%;
    padding: 4rem;
}
body .signup_section
{
    background-image: url(/kwantify_theme/static/src/img/_MG_8939.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.signup_section
{
    height: calc(100vh - 3rem); 
    position: relative;
    display: flex;
    align-items: center;
}

.name-header
{
    font-size: calc(16px + (20 - 16) * (100vw - 375px) / (1920 - 375));
    color: #093170;
}
form label {
    font-weight: 400;
}

.boxed-input {
    width: 100%;
    height: 50px;
    background: #F5F7FA 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    border: none;
}
.md-form input:not([type]), .md-form input[type="text"]:not(.browser-default), .md-form input[type="password"]:not(.browser-default), .md-form input[type="email"]:not(.browser-default), .md-form input[type="url"]:not(.browser-default), .md-form input[type="time"]:not(.browser-default), .md-form input[type="date"]:not(.browser-default), .md-form input[type="datetime"]:not(.browser-default), .md-form input[type="datetime-local"]:not(.browser-default), .md-form input[type="tel"]:not(.browser-default), .md-form input[type="number"]:not(.browser-default), .md-form input[type="search"]:not(.browser-default), .md-form input[type="search-md"], .md-form textarea.md-textarea{
    border-bottom: none;
}

.md-form.input-group .form-control {
    font-size: 1rem;
}

.loginButton
{
    background: #042963;
    border-radius: 6px;
    border:0;
    opacity: 1;
    color: #fff;
    font-size: 1.3rem;
    padding: 10px 23px;
    font-weight:400;
    cursor:pointer;
}

.navbar .nav-item {
    transition: opacity 1000ms ease 0s;
    list-style-type: none;
}

.loginButton:hover {
    color: #e7e7e7;
    border: none;
    background: #051d42;
}
.kw_check
{
    width: 18px;
    height: 18px;
}


.site-footer
{
    background: #224b8b;
    padding: 1rem 5rem 0;
    /* position: absolute;
    left: 8rem;
    bottom: 0rem;
    right: 8rem; */
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.site-footer a{
    color:#fff;
}

.sign_button
{
    margin:3rem auto 1rem;
}

@media (max-width: 1680px){ 
.login_form {
    padding: 2rem;
}

.boxed-input {
    height: 38px;
}
}
@media(max-width:1366px)
{
    .login_form
{
    box-shadow: 25px 25px 99px #09317047;
    border-radius: 18px;
    width: 85%;
    padding: 2rem;
    margin:auto;
    
}

}



@media(max-width:1024px)
{
    .login_form
{
    width: 85%;
    padding: .5rem;
    display: block;
    margin: 1rem auto;
}
.tebdrils_image
{
    width: 45%;
}

.site-footer {
    left: 4rem;
    right: 4rem;
}

.loginButton {
    font-size: 1rem;
    padding: 8px 23px;
    font-weight: 400;
}
.login_logo {
    gap: 1rem;
}
.sign_button
{
    margin:1rem auto;
}
.login_section {
    height: calc(100vh - 1.5rem);
}
.signup_section {
    height: calc(100vh - 1.5rem);
}
}

@media(max-width:992px){
.login_section{
    height:auto;
    }
    .signup_section{
        height:auto;
        }
}

@media(max-width:768px){
/* .login_section
{
    min-height:100vh;
} */
.boxed-input {
    height: 40px;
}
.login_form {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
}
.login_content {
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
}
.mob_content
{
    margin-bottom: 4rem;
}
.tebdrils_image
{
    width: 45%;
}
.login_logo {
    gap: 1rem;
}
.site-footer {
    left: 1rem;
    right: 1rem;
}
.login_section
{
    padding-top: 2.8rem;
    
}

.signup_section{
    padding-top: 2.8rem;
    
}
.site-footer {
    padding: 1rem 2rem 0;
}
}




@media(max-width:640px)
{
    .login_logo {
        gap: 0;
}
.tebdrils_image {
    width: 43%;
    margin-bottom: 1rem;  
      margin-top: 1rem;
}
.desk_content
{
    display:none;
}
.login_content {
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
    padding-bottom: 1.5rem;
}
.card-body {
    padding-top:.25rem;
    padding-bottom:.25rem;
}


}




@media(max-width:580px){
.site-footer {
    font-size: .8rem;
    left: 0rem;
    bottom: 0rem;
    right: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    line-height: 1;
}
.social-icons {
    margin-left: -3rem;
}
.social-icons li img
{
width: 85%;
    height: 85%;
}
/* .login_section {
    height:100vh;
        } */
}

.social-icons
{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap:1rem;
    filter: brightness(.9);
}


@media(min-width:641px)
{
    .mob_content{
        display:none;
    }
  
}

.o_affix_enabled
{
    display:none;
}


@media(min-height:763px)
{
    .login_section
    {
        height:calc(100vh - 3.5rem);
    }

    .signup_section
    {
        height:calc(100vh - 3rem);
    }
    /* .tebdrils_image
{
    width: 45%;
} */

}


.reset-password
{
    color: #012861;
}

/* @media(max-width:1680px) and (min-width:1025px){  
.signup_form
{
    height: 80vh;
    overflow-y: auto;
}
} */

@media (max-width: 576px){

.applicant_login{
    padding-bottom: 3rem;
}
    
}


.reset-pass-box .white-text
{
    font-size: calc(18px + (20 - 18) * (100vw - 375px) / (1920 - 375));
    color: #093170!important;
    margin: 3rem 0;
}

.reset-pass-box .btn-warning
{
background: #042963 !important;
    border-radius: 6px;
    border: 0;
    opacity: 1;
    color: #fff;
    font-size: .9rem;
    padding: 14px 30px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: none;
    margin-bottom: 4rem;
}

.reset-pass-box .btn-warning:hover
{
background: #051d42!important;
}


.signup_form
{
    padding: 1rem;
}

.signup_form .boxed-input {
    width: 100%;
    height: 40px;
}


@media(min-width:1200px)
{
    .tebdrils_image{
        width:65%;
    }
    
}
@media(min-width:1024px)
{
.desk_content{
    background: #ffffff0a;
    box-shadow:25px 25px 99px #5273a947;
    border-radius:18px;
    padding:1.3rem;
}
}