/* Tendrils Footer CSS */
    .site-footer
{
    background: #F9F9F9 ;
    padding: 1rem 5rem 0;
    /* position: absolute;
    left: 8rem;
    bottom: 0rem;
    right: 8rem; */
    text-align: center;
    color: #808080bd;
    font-size: 1rem;
    display:flex;
    justify-content: space-between;
    
}

.social-icons
{
    filter: brightness(.6);
    display: flex;
    gap: .5rem;list-style-type: none;
}
.csm-link{
    color: #808080bd;
}

.site-footer img
{
width: 85%;
}

@media(max-width:768px)
{
    .site-footer
    {
    /* flex-direction:column; */
    }
}